n8n-rebuild/analyze_v5.json
{
 "name": "е—Ёе—Ё еҲҶжһҗжЈ’ v5 (з…§spec)",
 "nodes": [
  {
   "id": "7a9db545-b12a-4b01-a919-b52d5d00d530",
   "name": "Analyze Webhook",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "webhookId": "12754a30-5936-4429-99e3-32ad0446b4c2",
   "position": [
    0,
    0
   ],
   "parameters": {
    "httpMethod": "POST",
    "path": "db06-analyze",
    "responseMode": "onReceived"
   }
  },
  {
   "id": "9c44f3d2-aa54-4e17-b36e-39a535b56090",
   "name": "Extract DB06 ID",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    220,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const b=$input.first().json.body||$input.first().json;\nconst db06_id=(b.db06_id||b.id||'').toString().replace(/-/g,'');\nif(!db06_id) throw new Error('missing db06_id');\nreturn [{json:{db06_id}}];"
   }
  },
  {
   "id": "23affa48-d320-4761-947f-dc05d84182ae",
   "name": "Fetch DB06",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    440,
    0
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "74810847-f4d1-4f8b-b63f-ce18b019f772",
   "name": "Parse DB06",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    660,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const p=$input.first().json;\nconst T=[\"е°ҚжҮүжҸҗжЎҲ\", \"е°ҚжҮүз®ЎиҖғ\", \"е°ҚжҮүй …зӣ®\", \"е°ҚжҮүеҚ”дҪң\", \"е°ҚжҮүе…§е®№\", \"е°ҚжҮүеә«еӯҳ\", \"е°ҚжҮүе°ҚиұЎ\", \"е°ҚжҮүжЁҷзұӨ\", \"е°ҚжҮүең°й»һ\", \"е°ҚжҮүжҸҗдҫӣе°ҚиұЎ\"];\nconst DBM={\"е°ҚжҮүжҸҗжЎҲ\": \"DB01\", \"е°ҚжҮүз®ЎиҖғ\": \"DB02\", \"е°ҚжҮүй …зӣ®\": \"DB03\", \"е°ҚжҮүеҚ”дҪң\": \"DB04\", \"е°ҚжҮүе…§е®№\": \"DB05\", \"е°ҚжҮүеә«еӯҳ\": \"DB07\", \"е°ҚжҮүе°ҚиұЎ\": \"DB08\", \"е°ҚжҮүжЁҷзұӨ\": \"DB08\", \"е°ҚжҮүең°й»һ\": \"DB08\", \"е°ҚжҮүжҸҗдҫӣе°ҚиұЎ\": \"DB08\"};\nlet tid='',trel='';\nfor(const r of T){const a=p.properties[r]?.relation||[];if(a.length){tid=(a[0].id||'').replace(/-/g,'');trel=r;break;}}\nreturn [{json:{db06_id:p.id.replace(/-/g,''),ai_mode:p.properties['aiжЁЎејҸ']?.select?.name||'еҲҶжһҗ',exec_idea:p.properties['еҹ·иЎҢж§Ӣжғі']?.rich_text?.map(t=>t.plain_text).join('')||'',db05_id:tid,target_rel:trel,target_db:DBM[trel]||'DB06',sort_num:p.properties['жҺ’еәҸ']?.number}}];"
   }
  },
  {
   "id": "e747110d-0c8e-4cd7-ba5e-38ec643b6ef2",
   "name": "Query еј•з”ЁиіҮж–ҷ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    880,
    -80
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n      { \"property\": \"е°ҚжҮүжҸҗжЎҲ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүз®ЎиҖғ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүй …зӣ®\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүеҚ”дҪң\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүе…§е®№\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүеә«еӯҳ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүе°ҚиұЎ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүжЁҷзұӨ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүең°й»һ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүжҸҗдҫӣе°ҚиұЎ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"жҳҺзҙ°йЎһеһӢ\", \"select\": { \"equals\": \"иіҮж–ҷеҸғиҖғ\" } }\n    ]\n  },\n  \"page_size\": 100\n}",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "40d4e56e-b490-4408-b02e-2dbacc145ca7",
   "name": "Build extract prompt",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1100,
    -80
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const refs=($('Query еј•з”ЁиіҮж–ҷ').first().json.results)||[];\nconst corpus=refs.map((p,i)=>{const pr=p.properties||{};const nm=(pr['жҳҺзҙ°еҗҚзЁұ']?.title||[]).map(t=>t.plain_text).join('');const sm=(pr['з°Ўд»Ӣж‘ҳиҰҒ']?.rich_text||[]).map(t=>t.plain_text).join('');const ct=(pr['жҳҺзҙ°е…§е®№']?.rich_text||[]).map(t=>t.plain_text).join('');return (i+1)+'. '+nm+'\\n'+((sm||ct).slice(0,600));}).join('\\n\\n');\nconst system='дҪ жҳҜ makesense е—Ёе—Ёе®¶ж—Ҹзҡ„еҲҶжһҗжЈ’пјҲиӘҚиӯҳ/й‘‘е®ҡжЈ’пјүгҖӮиҒ·иІ¬:йҖҗзӯҶи®Җеј•з”ЁиіҮж–ҷ,жҠҪ 5 йЎһе…·еҗҚеҜҰй«”гҖӮ\\n5 йЎһ:дәәзү© / ең°й»һ / е–®дҪҚ / дәӢд»¶ / иӯ°йЎҢгҖӮ\\nйҗөеҫӢ:е…ЁжҠҪе…Ёе»ә,дёҚеҲӨж–·еҖјдёҚеҖјеҫ—;еҸӘжҠҪиіҮж–ҷиЈЎзңҹеҜҰеҮәзҸҫзҡ„,дёҚиҮҶйҖ ;еҗҚзЁұиҰҒзІҫзўәгҖҒеҸҜжҹҘиӯүгҖӮ\\nеҸӘеӣһеҗҲжі• JSON:{\"items\":[{\"n\":зӯҶиҷҹ,\"entities\":[{\"type\":\"дәәзү©/ең°й»һ/е–®дҪҚ/дәӢд»¶/иӯ°йЎҢ\",\"name\":\"еҜҰй«”еҗҚзЁұ\"}]}]}';\nconst user='д»ҘдёӢжҳҜ '+refs.length+' зӯҶеј•з”ЁиіҮж–ҷ,йҖҗзӯҶжҠҪ 5 йЎһе…·еҗҚеҜҰй«”:\\n\\n'+corpus+'\\n\\nеӣһ JSONгҖӮ';\nreturn [{json:{system,user,ref_count:refs.length}}];"
   }
  },
  {
   "id": "64541ecf-1389-4a71-a22a-eb259c57592f",
   "name": "Claude extract",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1320,
    -80
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.anthropic.com/v1/messages",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "x-api-key",
       "value": "={{ $env.ANTHROPIC_API_KEY }}"
      },
      {
       "name": "anthropic-version",
       "value": "2023-06-01"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 4096,\n  \"system\": {{ JSON.stringify($json.system) }},\n  \"messages\": [{ \"role\":\"user\", \"content\": {{ JSON.stringify($json.user) }} }]\n}",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     },
     "timeout": 240000
    }
   }
  },
  {
   "id": "d5b51884-9d0d-47d9-b1fa-74401da9abb5",
   "name": "Tag engine",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1540,
    -80
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const refs=($('Query еј•з”ЁиіҮж–ҷ').first().json.results)||[];\nconst ce=$input.first().json;\nconst baton=$('Parse DB06').first().json;\nconst NHEAD={'Authorization':'Bearer '+$env.NOTION_INTEGRATION_TOKEN,'Notion-Version':'2022-06-28','Content-Type':'application/json'};\nconst DB08='873970187f394f6b8304406745bd1579';\nlet summary='', log=[], created=0, linked=0, total_ent=0, canon_ct=0;\ntry {\n  const text=ce.content?.[0]?.text||'';\n  let ext; try{const m=text.match(/\\{[\\s\\S]*\\}/);ext=JSON.parse(m[0]);}catch(e){ext={items:[]};}\n  const items=ext.items||[];\n  const refById=refs.map(p=>({id:p.id.replace(/-/g,''),name:(p.properties['жҳҺзҙ°еҗҚзЁұ']?.title||[]).map(t=>t.plain_text).join('')}));\n  // жӯЈиҰҸеҢ–пјҡеҺ»жӢ¬иҷҹе…§е®№гҖҒеҺ»е№ҙд»ҪзҜ„еңҚгҖҒиҮә=еҸ°гҖҒеҺ»е…ЁеҚҠеҪўз©әзҷҪ\n  const norm=(s)=>(s||'').toString().normalize('NFKC').replace(/[пјҲ(][^пјү)]*[пјү)]/g,'').replace(/[\\sгҖҖ]*\\d{3,4}\\s*[-пјҚ~пҪһиҮі]\\s*\\d{3,4}/g,'').replace(/иҮә/g,'еҸ°').replace(/[\\sгҖҖ]/g,'').trim();\n  const entMap={};\n  for(const it of items){for(const e of (it.entities||[])){const nm=(e.name||'').toString().trim();if(nm&&!entMap[nm])entMap[nm]=true;}}\n  const uniq=Object.keys(entMap); total_ent=uniq.length;\n  // жң¬жү№е…§йғЁеҺ»йҮҚпјҡжӯЈиҰҸеҢ–еҲҶзө„,canonical=зө„е…§з¬¬дёҖеҖӢ\n  const groups={}, name2canon={};\n  for(const nm of uniq){const k=norm(nm)||nm; if(!groups[k])groups[k]=nm; name2canon[nm]=groups[k];}\n  const canon=Object.values(groups); canon_ct=canon.length;\n  // load DB08\n  let db08=[],cursor,guard=0;\n  do{ const body={page_size:100}; if(cursor)body.start_cursor=cursor;\n    const r=await this.helpers.httpRequest({method:'POST',url:'https://api.notion.com/v1/databases/'+DB08+'/query',headers:NHEAD,body:JSON.stringify(body)});\n    const rr=(typeof r==='string')?JSON.parse(r):r;\n    for(const p of (rr.results||[])) db08.push({id:p.id.replace(/-/g,''),title:(p.properties['е°ҚиұЎеҗҚзЁұ']?.title||[]).map(t=>t.plain_text).join('').trim(),syn:(p.properties['еҗҢзҫ©еӮҷиЁ»']?.rich_text||[]).map(t=>t.plain_text).join('')});\n    cursor=rr.has_more?rr.next_cursor:null; guard++;\n  }while(cursor&&guard<20);\n  // DB08 жӯЈиҰҸеҢ–зҙўеј•пјҲtitle + еҗҢзҫ©еӮҷиЁ»жҜҸиЎҢпјү\n  const db08norm={};\n  for(const d of db08){const keys=[d.title].concat(d.syn?d.syn.split('\\n'):[]); for(const kk of keys){const nk=norm(kk); if(nk&&!(nk in db08norm))db08norm[nk]=d.id;}}\n  // canonical вҶ’ db08 idпјҡе…ҲжӯЈиҰҸеҢ–е‘Ҫдёӯ\n  const canon2id={}; const unmatched=[];\n  for(const c of canon){const nk=norm(c); if(nk&&db08norm[nk])canon2id[c]=db08norm[nk]; else unmatched.push(c);}\n  // Claude иӘһж„ҸжҹҘйҮҚпјҲеҸӘжҹҘжӯЈиҰҸеҢ–жңӘе‘Ҫдёӯзҡ„пјү\n  if(unmatched.length){\n    const list=db08.map((d,i)=>i+'\\t'+d.title+(d.syn?(' [еҲҘеҗҚ:'+d.syn.replace(/\\n/g,'/')+']'):'')).join('\\n');\n    const dsys='дҪ еҒҡ DB08 еҜҰй«”жҹҘйҮҚгҖӮзөҰдҪ гҖҢжҠҪеҮәзҡ„еҜҰй«”гҖҚиҲҮгҖҢDB08 зҸҫжңүжё…е–®гҖҚгҖӮйҖҗдёҖеҲӨж–·жҜҸеҖӢжҠҪеҮәеҜҰй«”еңЁ DB08 жҳҜеҗҰе·ІеӯҳеңЁ(иӘһж„ҸеҗҢдёҖ,еҰӮ зҫ…жқұ=зҫ…жқұйҺ®гҖҒж—…дәәжӣёеә—=Wanderer Books)гҖӮеҸӘеӣһ JSON:{\"map\":[{\"name\":\"еҜҰй«”еҗҚ\",\"idx\":DB08з·ЁиҷҹжҲ–-1}]}гҖӮ-1=дёҚеӯҳеңЁгҖӮ';\n    const dusr='жҠҪеҮәзҡ„еҜҰй«”:\\n'+unmatched.join('\\n')+'\\n\\nDB08 зҸҫжңүжё…е–®(з·Ёиҷҹ еҗҚзЁұ):\\n'+list+'\\n\\nеӣһ JSONгҖӮ';\n    try{\n      const cr=await this.helpers.httpRequest({method:'POST',url:'https://api.anthropic.com/v1/messages',headers:{'x-api-key':$env.ANTHROPIC_API_KEY,'anthropic-version':'2023-06-01','content-type':'application/json'},body:JSON.stringify({model:'claude-haiku-4-5-20251001',max_tokens:4096,system:dsys,messages:[{role:'user',content:dusr}]})});\n      const crr=(typeof cr==='string')?JSON.parse(cr):cr;\n      const m=(crr.content?.[0]?.text||'').match(/\\{[\\s\\S]*\\}/);\n      const dmap=m?(JSON.parse(m[0]).map||[]):[];\n      for(const d of dmap){const i=parseInt(d.idx);if(i>=0&&db08[i])canon2id[d.name]=db08[i].id;}\n    }catch(e){log.push('dedup fail');}\n  }\n  // create missing canonicals\n  for(const c of canon){\n    if(canon2id[c])continue;\n    try{\n      const cp=await this.helpers.httpRequest({method:'POST',url:'https://api.notion.com/v1/pages',headers:NHEAD,body:JSON.stringify({parent:{database_id:DB08},properties:{'е°ҚиұЎеҗҚзЁұ':{title:[{text:{content:c}}]},'з¶“зҮҹйЎһеһӢ':{select:{name:'зҙҖйҢ„'}}}})});\n      const cpr=(typeof cp==='string')?JSON.parse(cp):cp;\n      if(cpr.id){canon2id[c]=cpr.id.replace(/-/g,'');created++;}\n    }catch(e){log.push('create fail '+c);}\n  }\n  // жҜҸеҖӢеҜҰй«”еҗҚ вҶ’ canonical зҡ„ db08 id\n  const name2id={};\n  for(const nm of uniq){const c=name2canon[nm]; if(canon2id[c])name2id[nm]=canon2id[c];}\n  // 3-token note\n  const d=new Date(); const tw=new Date(d.getTime()+8*3600*1000);\n  const note='иіҮж–ҷеҸғиҖғпҪң'+tw.getUTCFullYear()+'/'+String(tw.getUTCMonth()+1).padStart(2,'0')+'/'+String(tw.getUTCDate()).padStart(2,'0')+'пҪң'+(baton.target_db||'DB06');\n  for(const it of items){\n    const ref=refById[(it.n||0)-1]; if(!ref)continue;\n    const ids=[];\n    for(const e of (it.entities||[])){const nm=(e.name||'').toString().trim();if(name2id[nm])ids.push(name2id[nm]);}\n    const u=[...new Set(ids)];\n    try{\n      await this.helpers.httpRequest({method:'PATCH',url:'https://api.notion.com/v1/pages/'+ref.id,headers:NHEAD,body:JSON.stringify({properties:{'е°ҚжҮүжЁҷзұӨ':{relation:u.map(id=>({id}))},'еҲҶжһҗеӮҷиЁ»':{rich_text:[{text:{content:note}}]}}})});\n      linked++;\n    }catch(e){log.push('patch fail '+ref.id);}\n  }\n  summary='еҲҶжһҗе®ҢжҲҗгҖӮиҷ•зҗҶ '+refById.length+' зӯҶеј•з”ЁиіҮж–ҷ,жҠҪ '+total_ent+' еҖӢе…·еҗҚеҜҰй«”(жӯЈиҰҸеҢ–еҺ»йҮҚеҫҢ '+canon_ct+' еҖӢ),ж–°е»ә DB08 зҙҖйҢ„ '+created+' зӯҶ,'+linked+' зӯҶе·ІиЈңе°ҚжҮүжЁҷзұӨ+еҲҶжһҗеӮҷиЁ»гҖӮ';\n}catch(err){ summary='еҲҶжһҗжЈ’йҢҜиӘӨ: '+(err&&err.message||err); }\nconst nowTW=new Date().toLocaleString('zh-TW',{timeZone:'Asia/Taipei'});\nconst exec_note='в”Җв”Җ '+nowTW+' еҲҶжһҗ в”Җв”Җ\\n'+summary+(log.length?('\\nе•ҸйЎҢ: '+log.slice(0,10).join('; ')):'');\nreturn [{json:{db06_id:baton.db06_id,db05_id:baton.db05_id,ai_mode:baton.ai_mode,sort_num:baton.sort_num,exec_note,safe_summary:summary.slice(0,400),preview_text:summary.slice(0,300),validator_warning:'',usage_line:'еҲҶжһҗжЈ’ DB08 жҜ”е°Қ ж–°е»ә'+created}}];"
   }
  },
  {
   "id": "c1f3f77d-ec6b-4ce4-b0af-33c931eff713",
   "name": "PATCH еҹ·иЎҢеӮҷиЁ»",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1760,
    -80
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Tag engine').first().json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"еҹ·иЎҢеӮҷиЁ»\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.exec_note) }} } }] } } }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "ffca90ac-c4e3-465f-9724-5db17d4920be",
   "name": "Read flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    1980,
    -80
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "bdb4f479-ceab-4cee-91df-b3f98fa340bf",
   "name": "Build gateB",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2200,
    -80
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const row=$input.first().json||{};\nconst pc=$('Tag engine').first().json;\nconst auto_mode=row.auto_mode===true;\nconst reply_to=parseInt(row.last_msg_id||0)||0;\nconst result_msg='вң… з¬¬ '+(pc.sort_num!=null?pc.sort_num:'?')+' жЈ’ ('+(pc.ai_mode||'')+') е·Іе®ҢжҲҗ\\nDB06 '+pc.db06_id+'\\n\\n'+(pc.safe_summary||'')+(pc.usage_line?('\\ntokens '+pc.usage_line):'')+'\\n\\nрҹ“„ target й Ғйқўпјҡhttps://www.notion.so/'+(pc.db05_id||'').replace(/-/g,'');\nreturn [{json:{auto_mode,reply_to,flow_id:pc.db05_id,db05_id:pc.db05_id,db06_id:pc.db06_id,sort_num:pc.sort_num,ai_mode:pc.ai_mode,result_msg}}];"
   }
  },
  {
   "id": "77d6ce98-456f-45a7-9ea1-8a1e2357c4c3",
   "name": "Read flow_state иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    896,
    384
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "81835529-5015-4de3-9325-b39ffc8110c6",
   "name": "Telegram иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1120,
    384
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: 'вҸі з¬¬ ' + ($('Parse DB06').first().json.sort_num != null ? $('Parse DB06').first().json.sort_num : '?') + ' жЈ’ (' + $('Parse DB06').first().json.ai_mode + ') й–Ӣе§Ӣиҷ•зҗҶгҖӮ\\nй җиЁҲ 15-60 з§’,Claude жҖқиҖғдёӯгҖӮе®ҢжҲҗжңғиҮӘеӢ•зҷјй—ңеҚЎB,е…Қе®Ҳз•«йқўгҖӮ', disable_web_page_preview: true, allow_sending_without_reply: true }, ((parseInt($json.last_msg_id || 0) || 0) > 0 ? { reply_to_message_id: parseInt($json.last_msg_id || 0) || 0 } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "0489bec5-d966-438f-9d11-1501eaa61aee",
   "name": "Save msgid иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1344,
    384
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Parse DB06').first().json.db05_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "a58df171-1565-415d-8b12-2400a6a172e4",
   "name": "Update flow_state иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    1568,
    384
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "2876a8d0-3eaa-4fc6-818f-e86f3b4c3326",
   "name": "Save msgid B",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    5824,
    288
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build gateB').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "70e14298-efeb-427b-b152-787f0f25f5b3",
   "name": "Update flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    6048,
    288
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "aafe6893-b291-45c6-8af8-7ccfd98e0905",
   "name": "Telegram жҲҗжһңйҖҡзҹҘ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1500,
    520
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Build gateB').first().json.result_msg, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "1bebb693-fd55-4977-a2b4-537abed5b389",
   "name": "PATCH DB06 е®ҢжҲҗ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1700,
    520
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Build gateB').first().json.db06_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"aiзӢҖж…Ӣ\": { \"status\": { \"name\": \"е®ҢжҲҗ\" } } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "fcffc8ec-a4cb-42aa-bbb2-3031d1f8e392",
   "name": "Query DB06 next",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1900,
    520
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n        { \"property\": \"е°ҚжҮүжҸҗжЎҲ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүз®ЎиҖғ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүй …зӣ®\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүеҚ”дҪң\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүе…§е®№\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүеә«еӯҳ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүе°ҚиұЎ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүжЁҷзұӨ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүең°й»һ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүжҸҗдҫӣе°ҚиұЎ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"жҳҺзҙ°йЎһеһӢ\", \"select\": { \"equals\": \"зҙ°йғЁжөҒзЁӢ\" } }\n    ]\n  },\n  \"sorts\": [{ \"property\": \"жҺ’еәҸ\", \"direction\": \"ascending\" }]\n}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "a659a5e4-9ee8-4bd9-85fc-77b4a92919f4",
   "name": "Pick next",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2100,
    520
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const results = $input.first().json.results || [];\nconst g = $('Build gateB').first().json;\nconst total = results.length;\nconst done = results.filter(p=>(p.properties['aiзӢҖж…Ӣ']?.status?.name||'')==='е®ҢжҲҗ').length;\nconst pending = results.filter(p => (p.properties['aiзӢҖж…Ӣ']?.status?.name||'') !== 'е®ҢжҲҗ');\nif (pending.length === 0) {\n  return [{ json: { has_next:false, tg_done:'рҹҺү е…ЁеҘ—е®ҢжҲҗ вҖ” е…ұ '+total+' жЈ’е·Іе…ЁйғЁи·‘е®ҢгҖӮ' } }];\n}\nconst p = pending[0];\nconst nid = p.id.replace(/-/g,'');\nconst nmode = p.properties['aiжЁЎејҸ']?.select?.name || '';\nconst nidea = (p.properties['еҹ·иЎҢж§Ӣжғі']?.rich_text||[]).map(t=>t.plain_text).join('').slice(0,600) || '(жңӘеЎ«)';\nconst nsort = p.properties['жҺ’еәҸ']?.number;\nconst _b='https://makesense.zeabur.app/webhook/';\nlet runner_url;\nif (nmode.includes('иҒҜжғі')) runner_url=_b+'db06-lianxiang-traversal';\nelse if (nmode.includes('жҗңжҹҘ')) runner_url=_b+'db06-search';\nelse if (nmode.includes('еҲҶжһҗ')) runner_url=_b+'db06-analyze';\nelse if (nmode.includes('ж–ҮжЎҲ')) runner_url=_b+'db06-copy';\nelse if (nmode.includes('жӘўж ё')) runner_url=_b+'db06-check';\nelse runner_url=_b+'db06-plan';\nconst gateA = 'рҹӣ« й—ңеҚЎA еҹ·иЎҢеүҚзўәиӘҚ\\nз¬¬ '+(nsort!=null?nsort:'?')+' жЈ’ ('+nmode+')гҖӮе…ЁеҘ— '+total+' жЈ’,е·Іе®ҢжҲҗ '+done+' жЈ’гҖӮ\\nDB06 '+nid+'\\n\\nжң¬жЈ’й җе®ҡеҹ·иЎҢж§Ӣжғі:\\n'+nidea+'\\n\\nжҢү OK ж”ҫиЎҢйҖҷдёҖжЈ’,жҢү OK ALL д№ӢеҫҢе…ЁиҮӘеӢ•гҖӮиҰҒ redo йҮҚи·‘и«Ӣжү“еӯ— replyгҖӮ\\nрҹ“„ жң¬жЈ’й Ғйқўпјҡhttps://www.notion.so/'+nid+'\\ngateA db06='+nid;\nreturn [{ json: { has_next:true, db06_id:nid, runner_url, gateA, cb_ok:'A1:'+nid, cb_all:'AA:'+nid } }];"
   }
  },
  {
   "id": "d237bd0c-4a6e-48aa-887f-9b73f5a5fa48",
   "name": "has next?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    2300,
    520
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.has_next }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "e146a046-c093-42df-be43-4fad18a1d5de",
   "name": "auto_mode?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    2500,
    520
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $('Build gateB').first().json.auto_mode }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "91314646-0b22-44cc-81e2-cb825bb770b4",
   "name": "Run next baton",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    2700,
    520
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ $json.runner_url }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"db06_id\": \"{{ $json.db06_id }}\" }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "16b70f97-de43-4930-8a9f-2c36dd431a08",
   "name": "Telegram дёӢдёҖжЈ’й—ңеҚЎA",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2700,
    680
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Pick next').first().json.gateA, disable_web_page_preview: true, allow_sending_without_reply: true, reply_markup: { inline_keyboard: [[ { text: 'вң… OK', callback_data: $('Pick next').first().json.cb_ok }, { text: 'вҸ© OK ALL', callback_data: $('Pick next').first().json.cb_all } ]] } }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "12a77830-917b-4f45-b8c6-66c99a9d27ae",
   "name": "Telegram е…ЁеҘ—е®ҢжҲҗ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2500,
    680
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $json.tg_message, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  }
 ],
 "connections": {
  "Analyze Webhook": {
   "main": [
    [
     {
      "node": "Extract DB06 ID",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract DB06 ID": {
   "main": [
    [
     {
      "node": "Fetch DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch DB06": {
   "main": [
    [
     {
      "node": "Parse DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse DB06": {
   "main": [
    [
     {
      "node": "Read flow_state иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     },
     {
      "node": "Query еј•з”ЁиіҮж–ҷ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state иҷ•зҗҶдёӯ": {
   "main": [
    [
     {
      "node": "Telegram иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram иҷ•зҗҶдёӯ": {
   "main": [
    [
     {
      "node": "Save msgid иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid иҷ•зҗҶдёӯ": {
   "main": [
    [
     {
      "node": "Update flow_state иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query еј•з”ЁиіҮж–ҷ": {
   "main": [
    [
     {
      "node": "Build extract prompt",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build extract prompt": {
   "main": [
    [
     {
      "node": "Claude extract",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Claude extract": {
   "main": [
    [
     {
      "node": "Tag engine",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Tag engine": {
   "main": [
    [
     {
      "node": "PATCH еҹ·иЎҢеӮҷиЁ»",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH еҹ·иЎҢеӮҷиЁ»": {
   "main": [
    [
     {
      "node": "Read flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state B": {
   "main": [
    [
     {
      "node": "Build gateB",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build gateB": {
   "main": [
    [
     {
      "node": "Telegram жҲҗжһңйҖҡзҹҘ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid B": {
   "main": [
    [
     {
      "node": "Update flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram жҲҗжһңйҖҡзҹҘ": {
   "main": [
    [
     {
      "node": "PATCH DB06 е®ҢжҲҗ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 е®ҢжҲҗ": {
   "main": [
    [
     {
      "node": "Query DB06 next",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query DB06 next": {
   "main": [
    [
     {
      "node": "Pick next",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Pick next": {
   "main": [
    [
     {
      "node": "has next?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "has next?": {
   "main": [
    [
     {
      "node": "auto_mode?",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram е…ЁеҘ—е®ҢжҲҗ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "auto_mode?": {
   "main": [
    [
     {
      "node": "Run next baton",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram дёӢдёҖжЈ’й—ңеҚЎA",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram дёӢдёҖжЈ’й—ңеҚЎA": {
   "main": [
    [
     {
      "node": "Save msgid B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "availableInMCP": true
 }
}