n8n-rebuild/analyze_v4.json
{
 "name": "е—Ёе—Ё еҲҶжһҗжЈ’ v5 (з…§spec)",
 "nodes": [
  {
   "id": "5c097dfd-85ad-4882-8bf3-d193f47d15e1",
   "name": "Analyze Webhook",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "position": [
    0,
    192
   ],
   "parameters": {
    "httpMethod": "POST",
    "path": "db06-analyze",
    "responseMode": "onReceived"
   },
   "webhookId": "7a9db545-b12a-4b01-a919-b52d5d00d530"
  },
  {
   "id": "5ec96254-135c-4700-9b63-454c91770849",
   "name": "Extract DB06 ID",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    224,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const b=$input.first().json.body||$input.first().json;\nconst db06_id=(b.db06_id||b.id||'').toString().replace(/-/g,'');\nif(!db06_id) throw new Error('missing db06_id');\nreturn [{json:{db06_id}}];"
   }
  },
  {
   "id": "7d0cbae5-6b97-43e2-883c-b001df81e86d",
   "name": "Fetch DB06",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    448,
    192
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "ca194e87-f94a-413e-880c-0da2c132e679",
   "name": "Parse DB06",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    672,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const p=$input.first().json;\nconst T=[\"е°ҚжҮүжҸҗжЎҲ\", \"е°ҚжҮүз®ЎиҖғ\", \"е°ҚжҮүй …зӣ®\", \"е°ҚжҮүеҚ”дҪң\", \"е°ҚжҮүе…§е®№\", \"е°ҚжҮүеә«еӯҳ\", \"е°ҚжҮүе°ҚиұЎ\", \"е°ҚжҮүжЁҷзұӨ\", \"е°ҚжҮүең°й»һ\", \"е°ҚжҮүжҸҗдҫӣе°ҚиұЎ\"];\nconst DBM={\"е°ҚжҮүжҸҗжЎҲ\": \"DB01\", \"е°ҚжҮүз®ЎиҖғ\": \"DB02\", \"е°ҚжҮүй …зӣ®\": \"DB03\", \"е°ҚжҮүеҚ”дҪң\": \"DB04\", \"е°ҚжҮүе…§е®№\": \"DB05\", \"е°ҚжҮүеә«еӯҳ\": \"DB07\", \"е°ҚжҮүе°ҚиұЎ\": \"DB08\", \"е°ҚжҮүжЁҷзұӨ\": \"DB08\", \"е°ҚжҮүең°й»һ\": \"DB08\", \"е°ҚжҮүжҸҗдҫӣе°ҚиұЎ\": \"DB08\"};\nlet tid='',trel='';\nfor(const r of T){const a=p.properties[r]?.relation||[];if(a.length){tid=(a[0].id||'').replace(/-/g,'');trel=r;break;}}\nreturn [{json:{db06_id:p.id.replace(/-/g,''),ai_mode:p.properties['aiжЁЎејҸ']?.select?.name||'еҲҶжһҗ',exec_idea:p.properties['еҹ·иЎҢж§Ӣжғі']?.rich_text?.map(t=>t.plain_text).join('')||'',db05_id:tid,target_rel:trel,target_db:DBM[trel]||'DB06',sort_num:p.properties['жҺ’еәҸ']?.number}}];"
   }
  },
  {
   "id": "feafd72c-b1a6-49be-8f3f-446e8848a256",
   "name": "Read flow_state иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    896,
    0
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "daeb449b-4b2f-4b95-9f3d-1b8e87662334",
   "name": "Telegram иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1120,
    0
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: 'вҸі з¬¬ ' + ($('Parse DB06').first().json.sort_num != null ? $('Parse DB06').first().json.sort_num : '?') + ' жЈ’ (' + $('Parse DB06').first().json.ai_mode + ') й–Ӣе§Ӣиҷ•зҗҶгҖӮ\\nй җиЁҲ 15-60 з§’,Claude жҖқиҖғдёӯгҖӮе®ҢжҲҗжңғиҮӘеӢ•зҷјй—ңеҚЎB,е…Қе®Ҳз•«йқўгҖӮ', disable_web_page_preview: true, allow_sending_without_reply: true }, ((parseInt($json.last_msg_id || 0) || 0) > 0 ? { reply_to_message_id: parseInt($json.last_msg_id || 0) || 0 } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "0ce8c519-d3d0-4d58-85e1-f39bd4764a08",
   "name": "Save msgid иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1344,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Parse DB06').first().json.db05_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "d01e7a96-7767-46f0-b1c3-be42734ced57",
   "name": "Update flow_state иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    1568,
    0
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "5941784b-f1e7-459f-82c5-0c65a7cacb67",
   "name": "Query еј•з”ЁиіҮж–ҷ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    896,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n      { \"property\": \"е°ҚжҮүжҸҗжЎҲ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүз®ЎиҖғ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүй …зӣ®\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүеҚ”дҪң\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүе…§е®№\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүеә«еӯҳ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүе°ҚиұЎ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүжЁҷзұӨ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүең°й»һ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"е°ҚжҮүжҸҗдҫӣе°ҚиұЎ\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"жҳҺзҙ°йЎһеһӢ\", \"select\": { \"equals\": \"иіҮж–ҷеҸғиҖғ\" } }\n    ]\n  },\n  \"page_size\": 100\n}",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "d994c1c0-c403-4966-956e-23b5cd03929d",
   "name": "Build extract prompt",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1120,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const baton = $('Parse DB06').first().json;\nlet tgt_exec_note = '';\nif (baton.db05_id) {\n  try {\n    const NHEAD = {'Authorization': 'Bearer ' + $env.NOTION_INTEGRATION_TOKEN, 'Notion-Version': '2022-06-28'};\n    const tp = await this.helpers.httpRequest({method: 'GET', url: 'https://api.notion.com/v1/pages/' + baton.db05_id, headers: NHEAD, json: true});\n    tgt_exec_note = ((tp.properties['еҹ·иЎҢеӮҷиЁ»'] && tp.properties['еҹ·иЎҢеӮҷиЁ»'].rich_text) || []).map(t => t.plain_text).join('') || '';\n  } catch(e) {}\n}\nconst refs=($('Query еј•з”ЁиіҮж–ҷ').first().json.results)||[];\nconst corpus=refs.map((p,i)=>{const pr=p.properties||{};const nm=(pr['жҳҺзҙ°еҗҚзЁұ']?.title||[]).map(t=>t.plain_text).join('');const sm=(pr['з°Ўд»Ӣж‘ҳиҰҒ']?.rich_text||[]).map(t=>t.plain_text).join('');const ct=(pr['жҳҺзҙ°е…§е®№']?.rich_text||[]).map(t=>t.plain_text).join('');return (i+1)+'. '+nm+'\\n'+((sm||ct).slice(0,600));}).join('\\n\\n');\nconst system='дҪ жҳҜ makesense е—Ёе—Ёе®¶ж—Ҹзҡ„еҲҶжһҗжЈ’пјҲиӘҚиӯҳ/й‘‘е®ҡжЈ’пјүгҖӮиҒ·иІ¬:йҖҗзӯҶи®Җеј•з”ЁиіҮж–ҷ,жҠҪ 5 йЎһе…·еҗҚеҜҰй«”гҖӮ\\n5 йЎһ:дәәзү© / ең°й»һ / е–®дҪҚ / дәӢд»¶ / иӯ°йЎҢгҖӮ\\nйҗөеҫӢ:е…ЁжҠҪе…Ёе»ә,дёҚеҲӨж–·еҖјдёҚеҖјеҫ—;еҸӘжҠҪиіҮж–ҷиЈЎзңҹеҜҰеҮәзҸҫзҡ„,дёҚиҮҶйҖ ;еҗҚзЁұиҰҒзІҫзўәгҖҒеҸҜжҹҘиӯүгҖӮ\\nеҸӘеӣһеҗҲжі• JSON:{\"items\":[{\"n\":зӯҶиҷҹ,\"entities\":[{\"type\":\"дәәзү©/ең°й»һ/е–®дҪҚ/дәӢд»¶/иӯ°йЎҢ\",\"name\":\"еҜҰй«”еҗҚзЁұ\"}]}]}';\nconst user='д»ҘдёӢжҳҜ '+refs.length+' зӯҶеј•з”ЁиіҮж–ҷ,йҖҗзӯҶжҠҪ 5 йЎһе…·еҗҚеҜҰй«”:\\n\\n'+corpus+'\\n\\nгҖҗдёҠијӘе—Ёе—ЁжӘўж ёжҲҗжһңзҙҖйҢ„гҖ‘\\n'+(tgt_exec_note||'(е°ҡжңӘжңүжӘўж ёиЁҳйҢ„)')+'\\n\\nеӣһ JSONгҖӮ';\nreturn [{json:{system,user,ref_count:refs.length}}];"
   }
  },
  {
   "id": "455e62bb-407f-4c16-b3b1-0e58050c3134",
   "name": "Claude extract",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1344,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.anthropic.com/v1/messages",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "x-api-key",
       "value": "={{ $env.ANTHROPIC_API_KEY }}"
      },
      {
       "name": "anthropic-version",
       "value": "2023-06-01"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 4096,\n  \"system\": {{ JSON.stringify($json.system) }},\n  \"messages\": [{ \"role\":\"user\", \"content\": {{ JSON.stringify($json.user) }} }]\n}",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     },
     "timeout": 240000
    }
   }
  },
  {
   "id": "c366d35d-3800-448b-a83e-c501363cfdf2",
   "name": "Tag engine",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1568,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const refs=($('Query еј•з”ЁиіҮж–ҷ').first().json.results)||[];\nconst ce=$input.first().json;\nconst baton=$('Parse DB06').first().json;\nconst NHEAD={'Authorization':'Bearer '+$env.NOTION_INTEGRATION_TOKEN,'Notion-Version':'2022-06-28','Content-Type':'application/json'};\nconst DB08='873970187f394f6b8304406745bd1579';\nlet summary='', log=[], created=0, linked=0, total_ent=0, canon_ct=0;\ntry {\n  const text=ce.content?.[0]?.text||'';\n  let ext; try{const m=text.match(/\\{[\\s\\S]*\\}/);ext=JSON.parse(m[0]);}catch(e){ext={items:[]};}\n  const items=ext.items||[];\n  const refById=refs.map(p=>({id:p.id.replace(/-/g,''),name:(p.properties['жҳҺзҙ°еҗҚзЁұ']?.title||[]).map(t=>t.plain_text).join('')}));\n  const norm=(s)=>(s||'').toString().normalize('NFKC').replace(/[пјҲ(][^пјү)]*[пјү)]/g,'').replace(/[\\sгҖҖ]*\\d{3,4}\\s*[-пјҚ~пҪһиҮі]\\s*\\d{3,4}/g,'').replace(/иҮә/g,'еҸ°').replace(/[\\sгҖҖ]/g,'').trim();\n  const entMap={};\n  for(const it of items){for(const e of (it.entities||[])){const nm=(e.name||'').toString().trim();if(nm&&!entMap[nm])entMap[nm]=true;}}\n  const uniq=Object.keys(entMap); total_ent=uniq.length;\n  const groups={}, name2canon={};\n  for(const nm of uniq){const k=norm(nm)||nm; if(!groups[k])groups[k]=nm; name2canon[nm]=groups[k];}\n  const canon=Object.values(groups); canon_ct=canon.length;\n  let db08=[],cursor,guard=0;\n  do{ const body={page_size:100}; if(cursor)body.start_cursor=cursor;\n    const r=await this.helpers.httpRequest({method:'POST',url:'https://api.notion.com/v1/databases/'+DB08+'/query',headers:NHEAD,body:JSON.stringify(body)});\n    const rr=(typeof r==='string')?JSON.parse(r):r;\n    for(const p of (rr.results||[])) db08.push({id:p.id.replace(/-/g,''),title:(p.properties['е°ҚиұЎеҗҚзЁұ']?.title||[]).map(t=>t.plain_text).join('').trim(),syn:(p.properties['еҗҢзҫ©еӮҷиЁ»']?.rich_text||[]).map(t=>t.plain_text).join('')});\n    cursor=rr.has_more?rr.next_cursor:null; guard++;\n  }while(cursor&&guard<20);\n  const db08norm={};\n  for(const d of db08){const keys=[d.title].concat(d.syn?d.syn.split('\\n'):[]); for(const kk of keys){const nk=norm(kk); if(nk&&!(nk in db08norm))db08norm[nk]=d.id;}}\n  const canon2id={}; const unmatched=[];\n  for(const c of canon){const nk=norm(c); if(nk&&db08norm[nk])canon2id[c]=db08norm[nk]; else unmatched.push(c);}\n  if(unmatched.length){\n    const list=db08.map((d,i)=>i+'\\t'+d.title+(d.syn?(' [еҲҘеҗҚ:'+d.syn.replace(/\\n/g,'/')+']'):'')).join('\\n');\n    const dsys='дҪ еҒҡ DB08 еҜҰй«”жҹҘйҮҚгҖӮзөҰдҪ гҖҢжҠҪеҮәзҡ„еҜҰй«”гҖҚиҲҮгҖҢDB08 зҸҫжңүжё…е–®гҖҚгҖӮйҖҗдёҖеҲӨж–·жҜҸеҖӢжҠҪеҮәеҜҰй«”еңЁ DB08 жҳҜеҗҰе·ІеӯҳеңЁ(иӘһж„ҸеҗҢдёҖ,еҰӮ зҫ…жқұ=зҫ…жқұйҺ®гҖҒж—…дәәжӣёеә—=Wanderer Books)гҖӮеҸӘеӣһ JSON:{\"map\":[{\"name\":\"еҜҰй«”еҗҚ\",\"idx\":DB08з·ЁиҷҹжҲ–-1}]}гҖӮ-1=дёҚеӯҳеңЁгҖӮ';\n    const dusr='жҠҪеҮәзҡ„еҜҰй«”:\\n'+unmatched.join('\\n')+'\\n\\nDB08 зҸҫжңүжё…е–®(з·Ёиҷҹ еҗҚзЁұ):\\n'+list+'\\n\\nеӣһ JSONгҖӮ';\n    try{\n      const cr=await this.helpers.httpRequest({method:'POST',url:'https://api.anthropic.com/v1/messages',headers:{'x-api-key':$env.ANTHROPIC_API_KEY,'anthropic-version':'2023-06-01','content-type':'application/json'},body:JSON.stringify({model:'claude-haiku-4-5-20251001',max_tokens:4096,system:dsys,messages:[{role:'user',content:dusr}]})});\n      const crr=(typeof cr==='string')?JSON.parse(cr):cr;\n      const m=(crr.content?.[0]?.text||'').match(/\\{[\\s\\S]*\\}/);\n      const dmap=m?(JSON.parse(m[0]).map||[]):[];\n      for(const d of dmap){const i=parseInt(d.idx);if(i>=0&&db08[i])canon2id[d.name]=db08[i].id;}\n    }catch(e){log.push('dedup fail');}\n  }\n  for(const c of canon){\n    if(canon2id[c])continue;\n    try{\n      const cp=await this.helpers.httpRequest({method:'POST',url:'https://api.notion.com/v1/pages',headers:NHEAD,body:JSON.stringify({parent:{database_id:DB08},properties:{'е°ҚиұЎеҗҚзЁұ':{title:[{text:{content:c}}]},'з¶“зҮҹйЎһеһӢ':{select:{name:'зҙҖйҢ„'}}}})});\n      const cpr=(typeof cp==='string')?JSON.parse(cp):cp;\n      if(cpr.id){canon2id[c]=cpr.id.replace(/-/g,'');created++;}\n    }catch(e){log.push('create fail '+c);}\n  }\n  const name2id={};\n  for(const nm of uniq){const c=name2canon[nm]; if(canon2id[c])name2id[nm]=canon2id[c];}\n  const d=new Date(); const tw=new Date(d.getTime()+8*3600*1000);\n  const note='иіҮж–ҷеҸғиҖғпҪң'+tw.getUTCFullYear()+'/'+String(tw.getUTCMonth()+1).padStart(2,'0')+'/'+String(tw.getUTCDate()).padStart(2,'0')+'пҪң'+(baton.target_db||'DB06');\n  for(const it of items){\n    const ref=refById[(it.n||0)-1]; if(!ref)continue;\n    const ids=[];\n    for(const e of (it.entities||[])){const nm=(e.name||'').toString().trim();if(name2id[nm])ids.push(name2id[nm]);}\n    const u=[...new Set(ids)];\n    try{\n      await this.helpers.httpRequest({method:'PATCH',url:'https://api.notion.com/v1/pages/'+ref.id,headers:NHEAD,body:JSON.stringify({properties:{'е°ҚжҮүжЁҷзұӨ':{relation:u.map(id=>({id}))},'еҲҶжһҗеӮҷиЁ»':{rich_text:[{text:{content:note}}]}}})});\n      linked++;\n    }catch(e){log.push('patch fail '+ref.id);}\n  }\n  summary='еҲҶжһҗе®ҢжҲҗгҖӮиҷ•зҗҶ '+refById.length+' зӯҶеј•з”ЁиіҮж–ҷ,жҠҪ '+total_ent+' еҖӢе…·еҗҚеҜҰй«”(жӯЈиҰҸеҢ–еҺ»йҮҚеҫҢ '+canon_ct+' еҖӢ),ж–°е»ә DB08 зҙҖйҢ„ '+created+' зӯҶ,'+linked+' зӯҶе·ІиЈңе°ҚжҮүжЁҷзұӨ+еҲҶжһҗеӮҷиЁ»гҖӮ';\n}catch(err){ summary='еҲҶжһҗжЈ’йҢҜиӘӨ: '+(err&&err.message||err); }\nconst nowTW=new Date().toLocaleString('zh-TW',{timeZone:'Asia/Taipei'});\nconst exec_note='в”Җв”Җ '+nowTW+' еҲҶжһҗ в”Җв”Җ\\n'+summary+(log.length?('\\nе•ҸйЎҢ: '+log.slice(0,10).join('; ')):'');\nreturn [{json:{db06_id:baton.db06_id,db05_id:baton.db05_id,ai_mode:baton.ai_mode,sort_num:baton.sort_num,exec_note,safe_summary:summary.slice(0,400),preview_text:summary.slice(0,300),validator_warning:'',usage_line:'еҲҶжһҗжЈ’ DB08 жҜ”е°Қ ж–°е»ә'+created}}];"
   }
  },
  {
   "id": "8200502e-2606-4112-afa6-954dddb8e31d",
   "name": "PATCH еҹ·иЎҢеӮҷиЁ»",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1792,
    192
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Tag engine').first().json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"еҹ·иЎҢеӮҷиЁ»\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.exec_note) }} } }] } } }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "d519a92b-e728-454e-8bfb-1b8afc214111",
   "name": "Read flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    2016,
    192
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "02384f59-3353-4fd9-8aa2-6b41566cf953",
   "name": "Build gateB",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2240,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const row=$input.first().json||{};\nconst pc=$('Tag engine').first().json;\nconst auto_mode=row.auto_mode===true;\nconst reply_to=parseInt(row.last_msg_id||0)||0;\nconst result_msg='вң… з¬¬ '+(pc.sort_num!=null?pc.sort_num:'?')+' жЈ’ ('+(pc.ai_mode||'')+') е·Іе®ҢжҲҗ\\nDB06 '+pc.db06_id+'\\n\\n'+(pc.safe_summary||'')+(pc.usage_line?('\\ntokens '+pc.usage_line):'')+'\\n\\nрҹ“„ target й Ғйқўпјҡhttps://www.notion.so/'+(pc.db05_id||'').replace(/-/g,'');\nreturn [{json:{auto_mode,reply_to,flow_id:pc.db05_id,db05_id:pc.db05_id,db06_id:pc.db06_id,sort_num:pc.sort_num,ai_mode:pc.ai_mode,result_msg}}];"
   }
  },
  {
   "id": "0b671815-283a-46ba-8514-3426f358e114",
   "name": "Telegram жҲҗжһңйҖҡзҹҘ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2464,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Build gateB').first().json.result_msg, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "dae10812-9dfb-4a58-854b-763209708e5c",
   "name": "PATCH DB06 е®ҢжҲҗ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2688,
    192
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Build gateB').first().json.db06_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"aiзӢҖж…Ӣ\": { \"status\": { \"name\": \"е®ҢжҲҗ\" } } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "0cda052c-f140-4baf-86a1-b0e2f69dc684",
   "name": "Query DB06 next",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2912,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n        { \"property\": \"е°ҚжҮүжҸҗжЎҲ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүз®ЎиҖғ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүй …зӣ®\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүеҚ”дҪң\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүе…§е®№\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүеә«еӯҳ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүе°ҚиұЎ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүжЁҷзұӨ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүең°й»һ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"е°ҚжҮүжҸҗдҫӣе°ҚиұЎ\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"жҳҺзҙ°йЎһеһӢ\", \"select\": { \"equals\": \"зҙ°йғЁжөҒзЁӢ\" } }\n    ]\n  },\n  \"sorts\": [{ \"property\": \"жҺ’еәҸ\", \"direction\": \"ascending\" }]\n}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "e06b3634-1f8b-4cfe-8f6e-0237a2aeb493",
   "name": "Pick next",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3136,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const results = $input.first().json.results || [];\nconst g = $('Build gateB').first().json;\nconst total = results.length;\nconst done = results.filter(p=>(p.properties['aiзӢҖж…Ӣ']?.status?.name||'')==='е®ҢжҲҗ').length;\nconst pending = results.filter(p => (p.properties['aiзӢҖж…Ӣ']?.status?.name||'') !== 'е®ҢжҲҗ');\nif (pending.length === 0) {\n  return [{ json: { has_next:false, tg_done:'рҹҺү е…ЁеҘ—е®ҢжҲҗ вҖ” е…ұ '+total+' жЈ’е·Іе…ЁйғЁи·‘е®ҢгҖӮ' } }];\n}\nconst p = pending[0];\nconst nid = p.id.replace(/-/g,'');\nconst nmode = p.properties['aiжЁЎејҸ']?.select?.name || '';\nconst nidea = (p.properties['еҹ·иЎҢж§Ӣжғі']?.rich_text||[]).map(t=>t.plain_text).join('').slice(0,600) || '(жңӘеЎ«)';\nconst nsort = p.properties['жҺ’еәҸ']?.number;\nconst _b='https://makesense.zeabur.app/webhook/';\nlet runner_url;\nif (nmode.includes('иҒҜжғі')) runner_url=_b+'db06-lianxiang-traversal';\nelse if (nmode.includes('жҗңжҹҘ')) runner_url=_b+'db06-search';\nelse if (nmode.includes('еҲҶжһҗ')) runner_url=_b+'db06-analyze';\nelse if (nmode.includes('ж–ҮжЎҲ')) runner_url=_b+'db06-copy';\nelse if (nmode.includes('жӘўж ё')) runner_url=_b+'db06-check';\nelse runner_url=_b+'db06-plan';\nconst gateA = 'рҹӣ« й—ңеҚЎA еҹ·иЎҢеүҚзўәиӘҚ\\nз¬¬ '+(nsort!=null?nsort:'?')+' жЈ’ ('+nmode+')гҖӮе…ЁеҘ— '+total+' жЈ’,е·Іе®ҢжҲҗ '+done+' жЈ’гҖӮ\\nDB06 '+nid+'\\n\\nжң¬жЈ’й җе®ҡеҹ·иЎҢж§Ӣжғі:\\n'+nidea+'\\n\\nжҢү OK ж”ҫиЎҢйҖҷдёҖжЈ’,жҢү OK ALL д№ӢеҫҢе…ЁиҮӘеӢ•гҖӮиҰҒ redo йҮҚи·‘и«Ӣжү“еӯ— replyгҖӮ\\nрҹ“„ жң¬жЈ’й Ғйқўпјҡhttps://www.notion.so/'+nid+'\\ngateA db06='+nid;\nreturn [{ json: { has_next:true, db06_id:nid, runner_url, gateA, cb_ok:'A1:'+nid, cb_all:'AA:'+nid } }];"
   }
  },
  {
   "id": "51946169-19ed-437d-ac50-d911c9dafc5a",
   "name": "has next?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    3360,
    192
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.has_next }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "3287b487-425d-4b8c-b1be-e9ce16c4d88e",
   "name": "auto_mode?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    3584,
    96
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $('Build gateB').first().json.auto_mode }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "617a1798-fb39-44bc-9fc7-8fe85bd44986",
   "name": "Run next baton",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    3808,
    0
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ $json.runner_url }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"db06_id\": \"{{ $json.db06_id }}\" }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "f149d4bf-e4d9-4484-acdc-45a1c92912d0",
   "name": "Telegram дёӢдёҖжЈ’й—ңеҚЎA",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    3808,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Pick next').first().json.gateA, disable_web_page_preview: true, allow_sending_without_reply: true, reply_markup: { inline_keyboard: [[ { text: 'вң… OK', callback_data: $('Pick next').first().json.cb_ok }, { text: 'вҸ© OK ALL', callback_data: $('Pick next').first().json.cb_all } ]] } }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "8edd1346-c3ff-4532-84be-eab8033a4c4c",
   "name": "Save msgid B",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    4032,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build gateB').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "7345341d-0f22-40d2-931f-487846e4bd84",
   "name": "Update flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    4256,
    192
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "a046baf1-d393-49a1-8bd9-5bdc1246c090",
   "name": "Telegram е…ЁеҘ—е®ҢжҲҗ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    3584,
    288
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $json.tg_message, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "a38b521a-0198-4f5d-abf0-d42adfa08d56",
   "name": "Fetch target PDF",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    896,
    384
   ],
   "parameters": {
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse DB06').first().json.db05_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "options": {}
   }
  },
  {
   "id": "59f5a854-777e-404f-8660-934fb2153d33",
   "name": "Pick PDF",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1120,
    384
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const p=$input.first().json; const tp=p.properties||{};\nlet files=[];\nfor(const v of Object.values(tp)){ if(v&&v.type==='files'&&Array.isArray(v.files)){ files=files.concat(v.files); } }\nlet url='',name='';\nfor(const f of files){ const u=(f.file&&f.file.url)||(f.external&&f.external.url)||''; const nm=f.name||''; if(u&&/\\.pdf(\\?|$)/i.test(u+nm)){ url=u; name=nm||'document.pdf'; break; } }\nreturn [{json:{has_pdf:!!url,pdf_url:url,pdf_name:name,target_id:(p.id||'').replace(/-/g,'')}}];"
   }
  },
  {
   "id": "9a802996-4304-4175-97e6-ec6213346419",
   "name": "has PDF?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    1344,
    384
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.has_pdf }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "840e6a41-21b1-4132-b33d-0024454c4990",
   "name": "дёӢијү PDF",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1568,
    384
   ],
   "parameters": {
    "url": "={{ $json.pdf_url }}",
    "options": {
     "response": {
      "response": {
       "responseFormat": "file"
      }
     },
     "timeout": 120000
    }
   }
  },
  {
   "id": "ae764fae-bb54-404e-8c14-5761dba7645d",
   "name": "Cloudflare toMarkdown",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1792,
    384
   ],
   "parameters": {
    "method": "POST",
    "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $env.CLOUDFLARE_ACCOUNT_ID }}/ai/tomarkdown",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "=Bearer {{ $env.CLOUDFLARE_API_TOKEN }}"
      }
     ]
    },
    "sendBody": true,
    "contentType": "multipart-form-data",
    "bodyParameters": {
     "parameters": [
      {
       "parameterType": "formBinaryData",
       "name": "files",
       "inputDataFieldName": "data"
      }
     ]
    },
    "options": {
     "timeout": 180000,
     "retry": {
      "retry": {
       "maxTries": 3,
       "waitBetweenTries": 5000
      }
     }
    },
    "onError": "continueRegularOutput"
   }
  },
  {
   "id": "eb285b8b-5b24-43ae-baf9-d21599cef12c",
   "name": "е»ә PDF иіҮж–ҷеҸғиҖғ",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2016,
    384
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const cf=$input.first().json;\nconst pk=$('Pick PDF').first().json;\nconst NHEAD={'Authorization':'Bearer '+$env.NOTION_INTEGRATION_TOKEN,'Notion-Version':'2022-06-28','Content-Type':'application/json'};\nconst DB06='3469ff25fdab83c98ff98107ee6a6a1c';\nlet md='';\nif(cf&&cf.success&&Array.isArray(cf.result)&&cf.result.length) md=cf.result[0].data||'';\nlet note='';\ntry{\n  if(!md.trim()) throw new Error('Cloudflare еӣһеӮіз©әзҷҪ');\n  const mk=(t,c)=>{const o={object:'block',type:t};o[t]={rich_text:[{text:{content:(c||'').slice(0,1990)}}]};return o;};\n  const blocks=[];\n  for(let ln of md.split('\\n')){\n    if(!ln.trim()) continue;\n    if(ln.startsWith('### ')) blocks.push(mk('heading_3',ln.slice(4)));\n    else if(ln.startsWith('## ')) blocks.push(mk('heading_2',ln.slice(3)));\n    else if(ln.startsWith('# ')) blocks.push(mk('heading_1',ln.slice(2)));\n    else { for(let i=0;i<ln.length;i+=1900) blocks.push(mk('paragraph',ln.slice(i,i+1900))); }\n  }\n  const first=blocks.slice(0,100);\n  const cp=await this.helpers.httpRequest({method:'POST',url:'https://api.notion.com/v1/pages',headers:NHEAD,body:JSON.stringify({\n    parent:{database_id:DB06},\n    properties:{'жҳҺзҙ°еҗҚзЁұ':{title:[{text:{content:('рҹ“„ '+(pk.pdf_name||'PDF')).slice(0,200)}}]},'жҳҺзҙ°йЎһеһӢ':{select:{name:'иіҮж–ҷеҸғиҖғ'}},'еҸғиҖғйЎһеҲҘ':{select:{name:'дјҒеҠғеҸғиҖғ'}}},\n    children:first})});\n  const cpr=(typeof cp==='string')?JSON.parse(cp):cp;\n  const pid=(cpr.id||'').replace(/-/g,'');\n  for(let i=100;i<blocks.length;i+=100){\n    try{await this.helpers.httpRequest({method:'PATCH',url:'https://api.notion.com/v1/blocks/'+pid+'/children',headers:NHEAD,body:JSON.stringify({children:blocks.slice(i,i+100)})});}catch(e){}\n  }\n  const tp=await this.helpers.httpRequest({method:'GET',url:'https://api.notion.com/v1/pages/'+pk.target_id,headers:NHEAD});\n  const tpr=(typeof tp==='string')?JSON.parse(tp):tp;\n  const ex=(((tpr.properties||{})['жҳҺзҙ°еј•з”Ё']||{}).relation||[]).map(x=>({id:x.id}));\n  ex.push({id:pid});\n  await this.helpers.httpRequest({method:'PATCH',url:'https://api.notion.com/v1/pages/'+pk.target_id,headers:NHEAD,body:JSON.stringify({properties:{'жҳҺзҙ°еј•з”Ё':{relation:ex}}})});\n  note='PDF '+(pk.pdf_name||'')+' е·ІиҪүж–Үеӯ—('+md.length+' еӯ—)гҖҒе»әжҲҗиіҮж–ҷеҸғиҖғдёҰйҖЈе…Ҙ target жҳҺзҙ°еј•з”Ё';\n}catch(err){ note='PDF иҷ•зҗҶеӨұж•—пјҡ'+(err&&err.message||err); }\nreturn [{json:{pdf_note:note}}];"
   }
  }
 ],
 "connections": {
  "Analyze Webhook": {
   "main": [
    [
     {
      "node": "Extract DB06 ID",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract DB06 ID": {
   "main": [
    [
     {
      "node": "Fetch DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch DB06": {
   "main": [
    [
     {
      "node": "Parse DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse DB06": {
   "main": [
    [
     {
      "node": "Read flow_state иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     },
     {
      "node": "Query еј•з”ЁиіҮж–ҷ",
      "type": "main",
      "index": 0
     },
     {
      "node": "Fetch target PDF",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state иҷ•зҗҶдёӯ": {
   "main": [
    [
     {
      "node": "Telegram иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram иҷ•зҗҶдёӯ": {
   "main": [
    [
     {
      "node": "Save msgid иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid иҷ•зҗҶдёӯ": {
   "main": [
    [
     {
      "node": "Update flow_state иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query еј•з”ЁиіҮж–ҷ": {
   "main": [
    [
     {
      "node": "Build extract prompt",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build extract prompt": {
   "main": [
    [
     {
      "node": "Claude extract",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Claude extract": {
   "main": [
    [
     {
      "node": "Tag engine",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Tag engine": {
   "main": [
    [
     {
      "node": "PATCH еҹ·иЎҢеӮҷиЁ»",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH еҹ·иЎҢеӮҷиЁ»": {
   "main": [
    [
     {
      "node": "Read flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state B": {
   "main": [
    [
     {
      "node": "Build gateB",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build gateB": {
   "main": [
    [
     {
      "node": "Telegram жҲҗжһңйҖҡзҹҘ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram жҲҗжһңйҖҡзҹҘ": {
   "main": [
    [
     {
      "node": "PATCH DB06 е®ҢжҲҗ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 е®ҢжҲҗ": {
   "main": [
    [
     {
      "node": "Query DB06 next",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query DB06 next": {
   "main": [
    [
     {
      "node": "Pick next",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Pick next": {
   "main": [
    [
     {
      "node": "has next?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "has next?": {
   "main": [
    [
     {
      "node": "auto_mode?",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram е…ЁеҘ—е®ҢжҲҗ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "auto_mode?": {
   "main": [
    [
     {
      "node": "Run next baton",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram дёӢдёҖжЈ’й—ңеҚЎA",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram дёӢдёҖжЈ’й—ңеҚЎA": {
   "main": [
    [
     {
      "node": "Save msgid B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid B": {
   "main": [
    [
     {
      "node": "Update flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch target PDF": {
   "main": [
    [
     {
      "node": "Pick PDF",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Pick PDF": {
   "main": [
    [
     {
      "node": "has PDF?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "has PDF?": {
   "main": [
    [
     {
      "node": "дёӢијү PDF",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "дёӢијү PDF": {
   "main": [
    [
     {
      "node": "Cloudflare toMarkdown",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Cloudflare toMarkdown": {
   "main": [
    [
     {
      "node": "е»ә PDF иіҮж–ҷеҸғиҖғ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "availableInMCP": true
 }
}
