n8n-rebuild/analyze_v4.json
{
 "name": "嗨嗨 分析棒 v4",
 "nodes": [
  {
   "id": "b6135a53-64b4-41a1-ba74-77c5fed0d479",
   "name": "Analyze Webhook",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "webhookId": "bf5f89ad-6795-41e1-91f9-43748e1617e1",
   "position": [
    0,
    0
   ],
   "parameters": {
    "httpMethod": "POST",
    "path": "db06-analyze",
    "responseMode": "onReceived"
   }
  },
  {
   "id": "0db93388-9edb-44ec-9634-6cda8eee6228",
   "name": "Extract DB06 ID",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    220,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst db06_id = (body.db06_id || body.id || '').toString().replace(/-/g, '');\nif (!db06_id) throw new Error('missing db06_id');\nreturn [{ json: { db06_id } }];"
   }
  },
  {
   "id": "b1ba2f9b-07f9-40f9-ac30-86f5ebc95356",
   "name": "Fetch DB06",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    440,
    0
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "ceb0bd9d-facf-43b2-8d9d-17762b053caa",
   "name": "Parse DB06",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    660,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const p = $input.first().json;\nconst TARGET_RELS = [\"對應提案\", \"對應管考\", \"對應項目\", \"對應協作\", \"對應內容\", \"對應庫存\", \"對應對象\", \"對應標籤\", \"對應地點\", \"對應提供對象\"];\nlet target_id='',target_rel='';\nfor (const rel of TARGET_RELS){ const a=p.properties[rel]?.relation||[]; if(a.length){ target_id=(a[0].id||'').replace(/-/g,''); target_rel=rel; break; } }\nreturn [{ json: {\n  db06_id: p.id.replace(/-/g,''),\n  ai_mode: p.properties['ai模式']?.select?.name || '分析',\n  exec_idea: p.properties['執行構想']?.rich_text?.map(t=>t.plain_text).join('') || '',\n  db05_id: target_id, target_rel,\n  sort_num: p.properties['排序']?.number\n}}];"
   }
  },
  {
   "id": "fe024900-21d1-4e74-ad81-5c6aeab711bf",
   "name": "Query 資料參考",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    880,
    -80
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n      { \"property\": \"對應提案\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應管考\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應項目\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應協作\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應內容\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應庫存\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應對象\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應標籤\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應地點\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應提供對象\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"明細類型\", \"select\": { \"equals\": \"資料參考\" } }\n    ]\n  },\n  \"page_size\": 100\n}",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "aab19d3b-8576-469a-a5b8-400250910624",
   "name": "Fetch target",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1100,
    -80
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse DB06').first().json.db05_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "ae423967-76ea-424f-9ae8-6fe20d370b6a",
   "name": "Build analyze prompt",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1320,
    -80
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const refs = ($('Query 資料參考').first().json.results)||[];\nconst target = $input.first().json;\nconst item = $('Parse DB06').first().json;\nconst tprops = target.properties||{};\nconst _tp = Object.values(tprops).find(v=>v&&v.type==='title');\nconst target_name = (_tp?.title||[]).map(t=>t.plain_text).join('') || '(未命名)';\nconst target_idea = tprops['執行構想']?.rich_text?.map(t=>t.plain_text).join('') || '';\nconst corpus = refs.map((p,i)=>{ const pr=p.properties||{}; const nm=(pr['明細名稱']?.title||[]).map(t=>t.plain_text).join(''); const sm=(pr['簡介摘要']?.rich_text||[]).map(t=>t.plain_text).join(''); const ct=(pr['明細內容']?.rich_text||[]).map(t=>t.plain_text).join(''); return (i+1)+'. '+nm+'\\n'+((sm||ct).slice(0,700)); }).join('\\n\\n');\nconst system = '你是 makesense（現思文化）嗨嗨家族的分析棒。職責:讀搜查棒採集的外部參考資料,做認知分析。\\n工作:\\n1. 通讀全部資料,抽出具名詞彙(人物/機構/地點/事件/法規/計畫名)。\\n2. 抽出關鍵數據(金額/坪數/年度/比率/筆數等可查證數字)。\\n3. 寫一段分析備註:這批資料對本案(經費估算)的整體啟示、可用重點、缺口。\\n鐵律:只根據資料寫,不臆測;繁體中文;具名詞彙要精確。\\n只回合法 JSON,最後一個區塊:\\n{\"分析備註\":\"200-500字整體分析\",\"具名詞彙\":[\"...\"],\"關鍵數據\":[\"項目=數值\"],\"execution_summary\":\"做了什麼\"}';\nconst user = 'target 內容\\n名稱 '+target_name+'\\n本棒執行構想\\n'+(item.exec_idea||target_idea||'(空)')+'\\n\\n搜查棒採集的 '+refs.length+' 筆參考資料:\\n'+corpus+'\\n\\n請分析,回 JSON。';\nreturn [{ json: { system, user, db06_id:item.db06_id, db05_id:item.db05_id, ai_mode:item.ai_mode, sort_num:item.sort_num, ref_count:refs.length } }];"
   }
  },
  {
   "id": "44a468f7-b369-4494-91f6-d6fd72c4d65a",
   "name": "Claude API",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1540,
    -80
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.anthropic.com/v1/messages",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "x-api-key",
       "value": "={{ $env.ANTHROPIC_API_KEY }}"
      },
      {
       "name": "anthropic-version",
       "value": "2023-06-01"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 4096,\n  \"system\": [{\"type\":\"text\",\"text\": {{ JSON.stringify($json.system) }}, \"cache_control\":{\"type\":\"ephemeral\"}}],\n  \"messages\": [{ \"role\":\"user\", \"content\": {{ JSON.stringify($json.user) }} }]\n}",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "b5b51405-1df3-4cf4-b28c-f5623e167615",
   "name": "Parse Claude",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1760,
    -80
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const resp = $input.first().json;\nconst text = resp.content?.[0]?.text || '';\nconst usage = resp.usage || {};\nconst prompt = $('Build analyze prompt').first().json;\nlet parsed;\ntry { const m=text.match(/\\{[\\s\\S]*\\}/); parsed = m?JSON.parse(m[0]):{ '分析備註': text.slice(0,500) }; }\ncatch(e){ parsed = { '分析備註': 'JSON parse failed: '+text.slice(0,300) }; }\nconst sanitize = s => (s||'').toString().replace(/[\\/\\\\:<>#@\\[\\]\\{\\}\\|\\^\\`\\*_~\"']/g,' ').replace(/[\\u2010-\\u2027\\u2030-\\u205E]/g,' ').replace(/[\\uFF00-\\uFF0F\\uFF1A-\\uFF20\\uFF3B-\\uFF40\\uFF5B-\\uFF65]/g,' ').replace(/[\\u3000-\\u3017\\u301D-\\u303F]/g,' ').replace(/\\s+/g,' ').trim().slice(0,600);\nconst it=parseInt(usage.input_tokens||0), ot=parseInt(usage.output_tokens||0), cr=parseInt(usage.cache_read_input_tokens||0), cw=parseInt(usage.cache_creation_input_tokens||0);\nconst cost=((it*3+ot*15+cw*3.75+cr*0.30)/1000000*32).toFixed(2);\nconst usage_line='進='+it+' 出='+ot+' 成本NT'+cost;\nconst fenxi=(parsed['分析備註']||'').toString();\nconst terms=Array.isArray(parsed['具名詞彙'])?parsed['具名詞彙']:[];\nconst data=Array.isArray(parsed['關鍵數據'])?parsed['關鍵數據']:[];\nlet full=fenxi;\nif(terms.length) full+='\\n\\n[具名詞彙] '+terms.join('、');\nif(data.length) full+='\\n[關鍵數據] '+data.join('；');\nfull=full.slice(0,1900);\nconst summary=(parsed['execution_summary']||'分析完成')+' 抽出具名詞彙 '+terms.length+' 個 關鍵數據 '+data.length+' 項';\nreturn [{ json: { db06_id:prompt.db06_id, db05_id:prompt.db05_id, ai_mode:prompt.ai_mode, sort_num:prompt.sort_num, ref_count:prompt.ref_count, fenxi_full:full, terms_n:terms.length, data_n:data.length, usage_line, safe_summary:sanitize(summary), preview_text:('分析備註已寫入 '+full.length+' 字'), validator_warning:'' } }];"
   }
  },
  {
   "id": "bd6d3d34-ae44-4902-9ffa-317b1bbf6799",
   "name": "PATCH 分析備註",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1980,
    -80
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse Claude').first().json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"分析備註\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.fenxi_full) }} } }] } } }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "77d6ce98-456f-45a7-9ea1-8a1e2357c4c3",
   "name": "Read flow_state 處理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    896,
    384
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "81835529-5015-4de3-9325-b39ffc8110c6",
   "name": "Telegram 處理中",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1120,
    384
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: '⏳ 第 ' + ($('Parse DB06').first().json.sort_num != null ? $('Parse DB06').first().json.sort_num : '?') + ' 棒 (' + $('Parse DB06').first().json.ai_mode + ') 開始處理。\\n預計 15-60 秒,Claude 思考中。完成會自動發關卡B,免守畫面。', disable_web_page_preview: true, allow_sending_without_reply: true }, ((parseInt($json.last_msg_id || 0) || 0) > 0 ? { reply_to_message_id: parseInt($json.last_msg_id || 0) || 0 } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "0489bec5-d966-438f-9d11-1501eaa61aee",
   "name": "Save msgid 處理中",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1344,
    384
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Parse DB06').first().json.db05_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "a58df171-1565-415d-8b12-2400a6a172e4",
   "name": "Update flow_state 處理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    1568,
    384
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "d1f9d99c-fef5-46ac-997c-6fb5bb4bc6ea",
   "name": "Read flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    4928,
    192
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse Claude').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "ce210101-8fb7-4c9c-82b3-f0dbbca5d586",
   "name": "Build gateB",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    5152,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const row = $input.first().json || {};\nconst pc = $('Parse Claude').first().json;\nconst auto_mode = row.auto_mode === true;\nconst reply_to = parseInt(row.last_msg_id || 0) || 0;\nconst base = '關卡B 成果確認\\n第 ' + (pc.sort_num != null ? pc.sort_num : '?') + ' 棒 (' + pc.ai_mode + ') 已完成。\\nDB06 頁面 ' + pc.db06_id + '\\n\\n執行備註:\\n' + pc.safe_summary + '\\n\\n' + pc.preview_text + (pc.validator_warning || '') + '\\ntokens ' + pc.usage_line;\nconst manual_msg = base + '\\n\\n按 OK 進下一棒,按 OK ALL 之後全自動。要 redo 重跑請打字 reply。\\ngateB db06=' + pc.db06_id;\nconst auto_msg = base + '\\n\\n[全自動模式] 自動進下一棒,免按。';\nreturn [{ json: { auto_mode, reply_to, flow_id: pc.db05_id, db05_id: pc.db05_id, db06_id: pc.db06_id, sort_num: pc.sort_num, ai_mode: pc.ai_mode, manual_msg, auto_msg, cb_ok: 'B1:' + pc.db06_id, cb_all: 'BA:' + pc.db06_id } }];"
   }
  },
  {
   "id": "e42f50b6-ecad-495c-bedd-d7bd5b08c63c",
   "name": "auto_mode?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    5376,
    192
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.auto_mode }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "b72f93ae-95c0-487d-b70a-44808ab52884",
   "name": "Telegram 關卡B auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    5600,
    96
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Build gateB').first().json.auto_msg, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "5f7b7d35-178a-4044-aca7-09cb2489e3d8",
   "name": "Save msgid B auto",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    5824,
    96
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build gateB').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "94962024-494f-4ac9-8680-a9454f4f1086",
   "name": "Update flow_state B auto",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    6048,
    96
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "b609c3c2-bd16-4a85-ab01-d6be04ce424d",
   "name": "PATCH DB06 完成 auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    6272,
    96
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Build gateB').first().json.db06_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"ai狀態\": { \"status\": { \"name\": \"完成\" } } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "27acf362-8447-40d3-afb8-0c94b67ca474",
   "name": "Query DB06 next auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    6496,
    96
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n        { \"property\": \"對應提案\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應管考\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應項目\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應協作\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應內容\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應庫存\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應標籤\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應地點\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應提供對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"明細類型\", \"select\": { \"equals\": \"細部流程\" } }\n    ]\n  },\n  \"sorts\": [{ \"property\": \"排序\", \"direction\": \"ascending\" }]\n}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "da779208-ac2a-432e-a8dd-40ba5cda4c47",
   "name": "Pick next auto",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    6720,
    96
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const results = $input.first().json.results || [];\nconst g = $('Build gateB').first().json;\nconst pending = results.filter(p => (p.properties['ai狀態']?.status?.name||'') !== '完成');\nconst total = results.length;\nif (pending.length === 0) {\n  return [{ json: { has_next: false, tg_message: '全套完成 共 ' + total + ' 棒已全部通過 (全自動模式)。' } }];\n}\nconst p = pending[0];\nconst db06_id = p.id.replace(/-/g, '');\nconst ai_mode = p.properties['ai模式']?.select?.name || '';\nlet runner_url;\nif (ai_mode.includes('聯想')) runner_url = 'https://makesense.zeabur.app/webhook/db06-lianxiang-traversal';\nelse if (ai_mode.includes('搜查')) runner_url = 'https://makesense.zeabur.app/webhook/db06-search';\nelse runner_url = 'https://makesense.zeabur.app/webhook/db06-baton-runner';\nreturn [{ json: { has_next: true, db06_id, runner_url, tg_message: '' } }];"
   }
  },
  {
   "id": "6af7c34b-137d-40d2-8ba4-5229507e124d",
   "name": "has next auto?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    6944,
    96
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.has_next }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "608c4b9c-f14d-44f4-816f-df43631bb731",
   "name": "Run next baton auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    7168,
    0
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ $json.runner_url }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"db06_id\": \"{{ $json.db06_id }}\" }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "36f1b797-0468-4fa3-8dec-89088215baa5",
   "name": "Telegram 全套完成 auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    7168,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $json.tg_message, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "d50f442a-29e5-49b2-a971-0f7a55e66dc1",
   "name": "Telegram 關卡B",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    5600,
    288
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Build gateB').first().json.manual_msg, disable_web_page_preview: true, allow_sending_without_reply: true, reply_markup: { inline_keyboard: [[ { text: '✅ OK', callback_data: $('Build gateB').first().json.cb_ok }, { text: '⏩ OK ALL', callback_data: $('Build gateB').first().json.cb_all } ]] } }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "2876a8d0-3eaa-4fc6-818f-e86f3b4c3326",
   "name": "Save msgid B",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    5824,
    288
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build gateB').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "70e14298-efeb-427b-b152-787f0f25f5b3",
   "name": "Update flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    6048,
    288
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  }
 ],
 "connections": {
  "Analyze Webhook": {
   "main": [
    [
     {
      "node": "Extract DB06 ID",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract DB06 ID": {
   "main": [
    [
     {
      "node": "Fetch DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch DB06": {
   "main": [
    [
     {
      "node": "Parse DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse DB06": {
   "main": [
    [
     {
      "node": "Query 資料參考",
      "type": "main",
      "index": 0
     },
     {
      "node": "Read flow_state 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query 資料參考": {
   "main": [
    [
     {
      "node": "Fetch target",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch target": {
   "main": [
    [
     {
      "node": "Build analyze prompt",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build analyze prompt": {
   "main": [
    [
     {
      "node": "Claude API",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Claude API": {
   "main": [
    [
     {
      "node": "Parse Claude",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse Claude": {
   "main": [
    [
     {
      "node": "PATCH 分析備註",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH 分析備註": {
   "main": [
    [
     {
      "node": "Read flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state 處理中": {
   "main": [
    [
     {
      "node": "Telegram 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 處理中": {
   "main": [
    [
     {
      "node": "Save msgid 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid 處理中": {
   "main": [
    [
     {
      "node": "Update flow_state 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state B": {
   "main": [
    [
     {
      "node": "Build gateB",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build gateB": {
   "main": [
    [
     {
      "node": "auto_mode?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "auto_mode?": {
   "main": [
    [
     {
      "node": "Telegram 關卡B auto",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 關卡B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 關卡B auto": {
   "main": [
    [
     {
      "node": "Save msgid B auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid B auto": {
   "main": [
    [
     {
      "node": "Update flow_state B auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Update flow_state B auto": {
   "main": [
    [
     {
      "node": "PATCH DB06 完成 auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 完成 auto": {
   "main": [
    [
     {
      "node": "Query DB06 next auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query DB06 next auto": {
   "main": [
    [
     {
      "node": "Pick next auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Pick next auto": {
   "main": [
    [
     {
      "node": "has next auto?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "has next auto?": {
   "main": [
    [
     {
      "node": "Run next baton auto",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 全套完成 auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 關卡B": {
   "main": [
    [
     {
      "node": "Save msgid B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid B": {
   "main": [
    [
     {
      "node": "Update flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "availableInMCP": true
 }
}