n8n-rebuild/analyze_v5.json
{
 "name": "嗨嗨 分析棒 v5 (照spec)",
 "nodes": [
  {
   "id": "7a9db545-b12a-4b01-a919-b52d5d00d530",
   "name": "Analyze Webhook",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "webhookId": "12754a30-5936-4429-99e3-32ad0446b4c2",
   "position": [
    0,
    0
   ],
   "parameters": {
    "httpMethod": "POST",
    "path": "db06-analyze",
    "responseMode": "onReceived"
   }
  },
  {
   "id": "9c44f3d2-aa54-4e17-b36e-39a535b56090",
   "name": "Extract DB06 ID",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    220,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const b=$input.first().json.body||$input.first().json;\nconst db06_id=(b.db06_id||b.id||'').toString().replace(/-/g,'');\nif(!db06_id) throw new Error('missing db06_id');\nreturn [{json:{db06_id}}];"
   }
  },
  {
   "id": "23affa48-d320-4761-947f-dc05d84182ae",
   "name": "Fetch DB06",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    440,
    0
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "74810847-f4d1-4f8b-b63f-ce18b019f772",
   "name": "Parse DB06",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    660,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const p=$input.first().json;\nconst T=[\"對應提案\", \"對應管考\", \"對應項目\", \"對應協作\", \"對應內容\", \"對應庫存\", \"對應對象\", \"對應標籤\", \"對應地點\", \"對應提供對象\"];\nconst DBM={\"對應提案\": \"DB01\", \"對應管考\": \"DB02\", \"對應項目\": \"DB03\", \"對應協作\": \"DB04\", \"對應內容\": \"DB05\", \"對應庫存\": \"DB07\", \"對應對象\": \"DB08\", \"對應標籤\": \"DB08\", \"對應地點\": \"DB08\", \"對應提供對象\": \"DB08\"};\nlet tid='',trel='';\nfor(const r of T){const a=p.properties[r]?.relation||[];if(a.length){tid=(a[0].id||'').replace(/-/g,'');trel=r;break;}}\nreturn [{json:{db06_id:p.id.replace(/-/g,''),ai_mode:p.properties['ai模式']?.select?.name||'分析',exec_idea:p.properties['執行構想']?.rich_text?.map(t=>t.plain_text).join('')||'',db05_id:tid,target_rel:trel,target_db:DBM[trel]||'DB06',sort_num:p.properties['排序']?.number}}];"
   }
  },
  {
   "id": "e747110d-0c8e-4cd7-ba5e-38ec643b6ef2",
   "name": "Query 引用資料",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    880,
    -80
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n      { \"property\": \"對應提案\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應管考\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應項目\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應協作\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應內容\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應庫存\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應對象\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應標籤\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應地點\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n      { \"property\": \"對應提供對象\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"明細類型\", \"select\": { \"equals\": \"資料參考\" } }\n    ]\n  },\n  \"page_size\": 100\n}",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "40d4e56e-b490-4408-b02e-2dbacc145ca7",
   "name": "Build extract prompt",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1100,
    -80
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const refs=($('Query 引用資料').first().json.results)||[];\nconst corpus=refs.map((p,i)=>{const pr=p.properties||{};const nm=(pr['明細名稱']?.title||[]).map(t=>t.plain_text).join('');const sm=(pr['簡介摘要']?.rich_text||[]).map(t=>t.plain_text).join('');const ct=(pr['明細內容']?.rich_text||[]).map(t=>t.plain_text).join('');return (i+1)+'. '+nm+'\\n'+((sm||ct).slice(0,600));}).join('\\n\\n');\nconst system='你是 makesense 嗨嗨家族的分析棒（認識/鑑定棒）。職責:逐筆讀引用資料,抽 5 類具名實體。\\n5 類:人物 / 地點 / 單位 / 事件 / 議題。\\n鐵律:全抽全建,不判斷值不值得;只抽資料裡真實出現的,不臆造;名稱要精確、可查證。\\n只回合法 JSON:{\"items\":[{\"n\":筆號,\"entities\":[{\"type\":\"人物/地點/單位/事件/議題\",\"name\":\"實體名稱\"}]}]}';\nconst user='以下是 '+refs.length+' 筆引用資料,逐筆抽 5 類具名實體:\\n\\n'+corpus+'\\n\\n回 JSON。';\nreturn [{json:{system,user,ref_count:refs.length}}];"
   }
  },
  {
   "id": "64541ecf-1389-4a71-a22a-eb259c57592f",
   "name": "Claude extract",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1320,
    -80
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.anthropic.com/v1/messages",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "x-api-key",
       "value": "={{ $env.ANTHROPIC_API_KEY }}"
      },
      {
       "name": "anthropic-version",
       "value": "2023-06-01"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 4096,\n  \"system\": {{ JSON.stringify($json.system) }},\n  \"messages\": [{ \"role\":\"user\", \"content\": {{ JSON.stringify($json.user) }} }]\n}",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     },
     "timeout": 240000
    }
   }
  },
  {
   "id": "d5b51884-9d0d-47d9-b1fa-74401da9abb5",
   "name": "Tag engine",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1540,
    -80
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const refs=($('Query 引用資料').first().json.results)||[];\nconst ce=$input.first().json;\nconst baton=$('Parse DB06').first().json;\nconst NHEAD={'Authorization':'Bearer '+$env.NOTION_INTEGRATION_TOKEN,'Notion-Version':'2022-06-28','Content-Type':'application/json'};\nconst DB08='873970187f394f6b8304406745bd1579';\nlet summary='', log=[], created=0, linked=0, total_ent=0, canon_ct=0;\ntry {\n  const text=ce.content?.[0]?.text||'';\n  let ext; try{const m=text.match(/\\{[\\s\\S]*\\}/);ext=JSON.parse(m[0]);}catch(e){ext={items:[]};}\n  const items=ext.items||[];\n  const refById=refs.map(p=>({id:p.id.replace(/-/g,''),name:(p.properties['明細名稱']?.title||[]).map(t=>t.plain_text).join('')}));\n  // 正規化：去括號內容、去年份範圍、臺=台、去全半形空白\n  const norm=(s)=>(s||'').toString().normalize('NFKC').replace(/[（(][^）)]*[）)]/g,'').replace(/[\\s　]*\\d{3,4}\\s*[-－~～至]\\s*\\d{3,4}/g,'').replace(/臺/g,'台').replace(/[\\s　]/g,'').trim();\n  const entMap={};\n  for(const it of items){for(const e of (it.entities||[])){const nm=(e.name||'').toString().trim();if(nm&&!entMap[nm])entMap[nm]=true;}}\n  const uniq=Object.keys(entMap); total_ent=uniq.length;\n  // 本批內部去重：正規化分組,canonical=組內第一個\n  const groups={}, name2canon={};\n  for(const nm of uniq){const k=norm(nm)||nm; if(!groups[k])groups[k]=nm; name2canon[nm]=groups[k];}\n  const canon=Object.values(groups); canon_ct=canon.length;\n  // load DB08\n  let db08=[],cursor,guard=0;\n  do{ const body={page_size:100}; if(cursor)body.start_cursor=cursor;\n    const r=await this.helpers.httpRequest({method:'POST',url:'https://api.notion.com/v1/databases/'+DB08+'/query',headers:NHEAD,body:JSON.stringify(body)});\n    const rr=(typeof r==='string')?JSON.parse(r):r;\n    for(const p of (rr.results||[])) db08.push({id:p.id.replace(/-/g,''),title:(p.properties['對象名稱']?.title||[]).map(t=>t.plain_text).join('').trim(),syn:(p.properties['同義備註']?.rich_text||[]).map(t=>t.plain_text).join('')});\n    cursor=rr.has_more?rr.next_cursor:null; guard++;\n  }while(cursor&&guard<20);\n  // DB08 正規化索引（title + 同義備註每行）\n  const db08norm={};\n  for(const d of db08){const keys=[d.title].concat(d.syn?d.syn.split('\\n'):[]); for(const kk of keys){const nk=norm(kk); if(nk&&!(nk in db08norm))db08norm[nk]=d.id;}}\n  // canonical → db08 id：先正規化命中\n  const canon2id={}; const unmatched=[];\n  for(const c of canon){const nk=norm(c); if(nk&&db08norm[nk])canon2id[c]=db08norm[nk]; else unmatched.push(c);}\n  // Claude 語意查重（只查正規化未命中的）\n  if(unmatched.length){\n    const list=db08.map((d,i)=>i+'\\t'+d.title+(d.syn?(' [別名:'+d.syn.replace(/\\n/g,'/')+']'):'')).join('\\n');\n    const dsys='你做 DB08 實體查重。給你「抽出的實體」與「DB08 現有清單」。逐一判斷每個抽出實體在 DB08 是否已存在(語意同一,如 羅東=羅東鎮、旅人書店=Wanderer Books)。只回 JSON:{\"map\":[{\"name\":\"實體名\",\"idx\":DB08編號或-1}]}。-1=不存在。';\n    const dusr='抽出的實體:\\n'+unmatched.join('\\n')+'\\n\\nDB08 現有清單(編號 名稱):\\n'+list+'\\n\\n回 JSON。';\n    try{\n      const cr=await this.helpers.httpRequest({method:'POST',url:'https://api.anthropic.com/v1/messages',headers:{'x-api-key':$env.ANTHROPIC_API_KEY,'anthropic-version':'2023-06-01','content-type':'application/json'},body:JSON.stringify({model:'claude-haiku-4-5-20251001',max_tokens:4096,system:dsys,messages:[{role:'user',content:dusr}]})});\n      const crr=(typeof cr==='string')?JSON.parse(cr):cr;\n      const m=(crr.content?.[0]?.text||'').match(/\\{[\\s\\S]*\\}/);\n      const dmap=m?(JSON.parse(m[0]).map||[]):[];\n      for(const d of dmap){const i=parseInt(d.idx);if(i>=0&&db08[i])canon2id[d.name]=db08[i].id;}\n    }catch(e){log.push('dedup fail');}\n  }\n  // create missing canonicals\n  for(const c of canon){\n    if(canon2id[c])continue;\n    try{\n      const cp=await this.helpers.httpRequest({method:'POST',url:'https://api.notion.com/v1/pages',headers:NHEAD,body:JSON.stringify({parent:{database_id:DB08},properties:{'對象名稱':{title:[{text:{content:c}}]},'經營類型':{select:{name:'紀錄'}}}})});\n      const cpr=(typeof cp==='string')?JSON.parse(cp):cp;\n      if(cpr.id){canon2id[c]=cpr.id.replace(/-/g,'');created++;}\n    }catch(e){log.push('create fail '+c);}\n  }\n  // 每個實體名 → canonical 的 db08 id\n  const name2id={};\n  for(const nm of uniq){const c=name2canon[nm]; if(canon2id[c])name2id[nm]=canon2id[c];}\n  // 3-token note\n  const d=new Date(); const tw=new Date(d.getTime()+8*3600*1000);\n  const note='資料參考｜'+tw.getUTCFullYear()+'/'+String(tw.getUTCMonth()+1).padStart(2,'0')+'/'+String(tw.getUTCDate()).padStart(2,'0')+'｜'+(baton.target_db||'DB06');\n  for(const it of items){\n    const ref=refById[(it.n||0)-1]; if(!ref)continue;\n    const ids=[];\n    for(const e of (it.entities||[])){const nm=(e.name||'').toString().trim();if(name2id[nm])ids.push(name2id[nm]);}\n    const u=[...new Set(ids)];\n    try{\n      await this.helpers.httpRequest({method:'PATCH',url:'https://api.notion.com/v1/pages/'+ref.id,headers:NHEAD,body:JSON.stringify({properties:{'對應標籤':{relation:u.map(id=>({id}))},'分析備註':{rich_text:[{text:{content:note}}]}}})});\n      linked++;\n    }catch(e){log.push('patch fail '+ref.id);}\n  }\n  summary='分析完成。處理 '+refById.length+' 筆引用資料,抽 '+total_ent+' 個具名實體(正規化去重後 '+canon_ct+' 個),新建 DB08 紀錄 '+created+' 筆,'+linked+' 筆已補對應標籤+分析備註。';\n}catch(err){ summary='分析棒錯誤: '+(err&&err.message||err); }\nconst nowTW=new Date().toLocaleString('zh-TW',{timeZone:'Asia/Taipei'});\nconst exec_note='── '+nowTW+' 分析 ──\\n'+summary+(log.length?('\\n問題: '+log.slice(0,10).join('; ')):'');\nreturn [{json:{db06_id:baton.db06_id,db05_id:baton.db05_id,ai_mode:baton.ai_mode,sort_num:baton.sort_num,exec_note,safe_summary:summary.slice(0,400),preview_text:summary.slice(0,300),validator_warning:'',usage_line:'分析棒 DB08 比對 新建'+created}}];"
   }
  },
  {
   "id": "c1f3f77d-ec6b-4ce4-b0af-33c931eff713",
   "name": "PATCH 執行備註",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1760,
    -80
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Tag engine').first().json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"執行備註\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.exec_note) }} } }] } } }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "ffca90ac-c4e3-465f-9724-5db17d4920be",
   "name": "Read flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    1980,
    -80
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "bdb4f479-ceab-4cee-91df-b3f98fa340bf",
   "name": "Build gateB",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2200,
    -80
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const row=$input.first().json||{};\nconst pc=$('Tag engine').first().json;\nconst auto_mode=row.auto_mode===true;\nconst reply_to=parseInt(row.last_msg_id||0)||0;\nconst result_msg='✅ 第 '+(pc.sort_num!=null?pc.sort_num:'?')+' 棒 ('+(pc.ai_mode||'')+') 已完成\\nDB06 '+pc.db06_id+'\\n\\n'+(pc.safe_summary||'')+(pc.usage_line?('\\ntokens '+pc.usage_line):'')+'\\n\\n📄 target 頁面：https://www.notion.so/'+(pc.db05_id||'').replace(/-/g,'');\nreturn [{json:{auto_mode,reply_to,flow_id:pc.db05_id,db05_id:pc.db05_id,db06_id:pc.db06_id,sort_num:pc.sort_num,ai_mode:pc.ai_mode,result_msg}}];"
   }
  },
  {
   "id": "77d6ce98-456f-45a7-9ea1-8a1e2357c4c3",
   "name": "Read flow_state 處理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    896,
    384
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "81835529-5015-4de3-9325-b39ffc8110c6",
   "name": "Telegram 處理中",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1120,
    384
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: '⏳ 第 ' + ($('Parse DB06').first().json.sort_num != null ? $('Parse DB06').first().json.sort_num : '?') + ' 棒 (' + $('Parse DB06').first().json.ai_mode + ') 開始處理。\\n預計 15-60 秒,Claude 思考中。完成會自動發關卡B,免守畫面。', disable_web_page_preview: true, allow_sending_without_reply: true }, ((parseInt($json.last_msg_id || 0) || 0) > 0 ? { reply_to_message_id: parseInt($json.last_msg_id || 0) || 0 } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "0489bec5-d966-438f-9d11-1501eaa61aee",
   "name": "Save msgid 處理中",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1344,
    384
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Parse DB06').first().json.db05_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "a58df171-1565-415d-8b12-2400a6a172e4",
   "name": "Update flow_state 處理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    1568,
    384
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "2876a8d0-3eaa-4fc6-818f-e86f3b4c3326",
   "name": "Save msgid B",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    5824,
    288
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build gateB').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "70e14298-efeb-427b-b152-787f0f25f5b3",
   "name": "Update flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    6048,
    288
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "aafe6893-b291-45c6-8af8-7ccfd98e0905",
   "name": "Telegram 成果通知",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1500,
    520
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Build gateB').first().json.result_msg, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "1bebb693-fd55-4977-a2b4-537abed5b389",
   "name": "PATCH DB06 完成",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1700,
    520
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Build gateB').first().json.db06_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"ai狀態\": { \"status\": { \"name\": \"完成\" } } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "fcffc8ec-a4cb-42aa-bbb2-3031d1f8e392",
   "name": "Query DB06 next",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1900,
    520
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n        { \"property\": \"對應提案\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應管考\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應項目\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應協作\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應內容\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應庫存\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應標籤\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應地點\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應提供對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"明細類型\", \"select\": { \"equals\": \"細部流程\" } }\n    ]\n  },\n  \"sorts\": [{ \"property\": \"排序\", \"direction\": \"ascending\" }]\n}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "a659a5e4-9ee8-4bd9-85fc-77b4a92919f4",
   "name": "Pick next",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2100,
    520
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const results = $input.first().json.results || [];\nconst g = $('Build gateB').first().json;\nconst total = results.length;\nconst done = results.filter(p=>(p.properties['ai狀態']?.status?.name||'')==='完成').length;\nconst pending = results.filter(p => (p.properties['ai狀態']?.status?.name||'') !== '完成');\nif (pending.length === 0) {\n  return [{ json: { has_next:false, tg_done:'🎉 全套完成 — 共 '+total+' 棒已全部跑完。' } }];\n}\nconst p = pending[0];\nconst nid = p.id.replace(/-/g,'');\nconst nmode = p.properties['ai模式']?.select?.name || '';\nconst nidea = (p.properties['執行構想']?.rich_text||[]).map(t=>t.plain_text).join('').slice(0,600) || '(未填)';\nconst nsort = p.properties['排序']?.number;\nconst _b='https://makesense.zeabur.app/webhook/';\nlet runner_url;\nif (nmode.includes('聯想')) runner_url=_b+'db06-lianxiang-traversal';\nelse if (nmode.includes('搜查')) runner_url=_b+'db06-search';\nelse if (nmode.includes('分析')) runner_url=_b+'db06-analyze';\nelse if (nmode.includes('文案')) runner_url=_b+'db06-copy';\nelse if (nmode.includes('檢核')) runner_url=_b+'db06-check';\nelse runner_url=_b+'db06-plan';\nconst gateA = '🛫 關卡A 執行前確認\\n第 '+(nsort!=null?nsort:'?')+' 棒 ('+nmode+')。全套 '+total+' 棒,已完成 '+done+' 棒。\\nDB06 '+nid+'\\n\\n本棒預定執行構想:\\n'+nidea+'\\n\\n按 OK 放行這一棒,按 OK ALL 之後全自動。要 redo 重跑請打字 reply。\\n📄 本棒頁面：https://www.notion.so/'+nid+'\\ngateA db06='+nid;\nreturn [{ json: { has_next:true, db06_id:nid, runner_url, gateA, cb_ok:'A1:'+nid, cb_all:'AA:'+nid } }];"
   }
  },
  {
   "id": "d237bd0c-4a6e-48aa-887f-9b73f5a5fa48",
   "name": "has next?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    2300,
    520
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.has_next }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "e146a046-c093-42df-be43-4fad18a1d5de",
   "name": "auto_mode?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    2500,
    520
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $('Build gateB').first().json.auto_mode }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "91314646-0b22-44cc-81e2-cb825bb770b4",
   "name": "Run next baton",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    2700,
    520
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ $json.runner_url }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"db06_id\": \"{{ $json.db06_id }}\" }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "16b70f97-de43-4930-8a9f-2c36dd431a08",
   "name": "Telegram 下一棒關卡A",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2700,
    680
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Pick next').first().json.gateA, disable_web_page_preview: true, allow_sending_without_reply: true, reply_markup: { inline_keyboard: [[ { text: '✅ OK', callback_data: $('Pick next').first().json.cb_ok }, { text: '⏩ OK ALL', callback_data: $('Pick next').first().json.cb_all } ]] } }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "12a77830-917b-4f45-b8c6-66c99a9d27ae",
   "name": "Telegram 全套完成",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2500,
    680
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $json.tg_message, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "ab666134-5d6e-416a-99bf-355942abf3f4",
   "name": "Fetch target PDF",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    440,
    720
   ],
   "parameters": {
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse DB06').first().json.db05_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "options": {}
   }
  },
  {
   "id": "d3516d82-cc6c-465e-a8e7-18486be01dcd",
   "name": "Pick PDF",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    640,
    720
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const p=$input.first().json; const tp=p.properties||{};\nlet files=[];\nfor(const v of Object.values(tp)){ if(v&&v.type==='files'&&Array.isArray(v.files)){ files=files.concat(v.files); } }\nlet url='',name='';\nfor(const f of files){ const u=(f.file&&f.file.url)||(f.external&&f.external.url)||''; const nm=f.name||''; if(u&&/\\.pdf(\\?|$)/i.test(u+nm)){ url=u; name=nm||'document.pdf'; break; } }\nreturn [{json:{has_pdf:!!url,pdf_url:url,pdf_name:name,target_id:(p.id||'').replace(/-/g,'')}}];"
   }
  },
  {
   "id": "ddafc5d2-81d5-4fff-b5c9-1dfcba554a53",
   "name": "has PDF?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    840,
    720
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.has_pdf }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "8e9a7311-f5b8-4c6d-b5fd-88d203a02588",
   "name": "下載 PDF",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1040,
    720
   ],
   "parameters": {
    "url": "={{ $json.pdf_url }}",
    "options": {
     "response": {
      "response": {
       "responseFormat": "file"
      }
     },
     "timeout": 120000
    }
   }
  },
  {
   "id": "331a46ac-d595-4abf-8b1c-79e229d87e51",
   "name": "Cloudflare toMarkdown",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1240,
    720
   ],
   "parameters": {
    "method": "POST",
    "url": "=https://api.cloudflare.com/client/v4/accounts/{{ $env.CLOUDFLARE_ACCOUNT_ID }}/ai/tomarkdown",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "=Bearer {{ $env.CLOUDFLARE_API_TOKEN }}"
      }
     ]
    },
    "sendBody": true,
    "contentType": "multipart-form-data",
    "bodyParameters": {
     "parameters": [
      {
       "parameterType": "formBinaryData",
       "name": "files",
       "inputDataFieldName": "data"
      }
     ]
    },
    "options": {
     "timeout": 180000,
     "retry": {
      "retry": {
       "maxTries": 3,
       "waitBetweenTries": 5000
      }
     }
    },
    "onError": "continueRegularOutput"
   }
  },
  {
   "id": "2b9ee328-df73-45f5-9cf2-859744719c8a",
   "name": "建 PDF 資料參考",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1440,
    720
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const cf=$input.first().json;\nconst pk=$('Pick PDF').first().json;\nconst NHEAD={'Authorization':'Bearer '+$env.NOTION_INTEGRATION_TOKEN,'Notion-Version':'2022-06-28','Content-Type':'application/json'};\nconst DB06='3469ff25fdab83c98ff98107ee6a6a1c';\nlet md='';\nif(cf&&cf.success&&Array.isArray(cf.result)&&cf.result.length) md=cf.result[0].data||'';\nlet note='';\ntry{\n  if(!md.trim()) throw new Error('Cloudflare 回傳空白');\n  const mk=(t,c)=>{const o={object:'block',type:t};o[t]={rich_text:[{text:{content:(c||'').slice(0,1990)}}]};return o;};\n  const blocks=[];\n  for(let ln of md.split('\\n')){\n    if(!ln.trim()) continue;\n    if(ln.startsWith('### ')) blocks.push(mk('heading_3',ln.slice(4)));\n    else if(ln.startsWith('## ')) blocks.push(mk('heading_2',ln.slice(3)));\n    else if(ln.startsWith('# ')) blocks.push(mk('heading_1',ln.slice(2)));\n    else { for(let i=0;i<ln.length;i+=1900) blocks.push(mk('paragraph',ln.slice(i,i+1900))); }\n  }\n  const first=blocks.slice(0,100);\n  const cp=await this.helpers.httpRequest({method:'POST',url:'https://api.notion.com/v1/pages',headers:NHEAD,body:JSON.stringify({\n    parent:{database_id:DB06},\n    properties:{'明細名稱':{title:[{text:{content:('📄 '+(pk.pdf_name||'PDF')).slice(0,200)}}]},'明細類型':{select:{name:'資料參考'}},'參考類別':{select:{name:'企劃參考'}}},\n    children:first})});\n  const cpr=(typeof cp==='string')?JSON.parse(cp):cp;\n  const pid=(cpr.id||'').replace(/-/g,'');\n  for(let i=100;i<blocks.length;i+=100){\n    try{await this.helpers.httpRequest({method:'PATCH',url:'https://api.notion.com/v1/blocks/'+pid+'/children',headers:NHEAD,body:JSON.stringify({children:blocks.slice(i,i+100)})});}catch(e){}\n  }\n  // link to target 明細引用\n  const tp=await this.helpers.httpRequest({method:'GET',url:'https://api.notion.com/v1/pages/'+pk.target_id,headers:NHEAD});\n  const tpr=(typeof tp==='string')?JSON.parse(tp):tp;\n  const ex=(((tpr.properties||{})['明細引用']||{}).relation||[]).map(x=>({id:x.id}));\n  ex.push({id:pid});\n  await this.helpers.httpRequest({method:'PATCH',url:'https://api.notion.com/v1/pages/'+pk.target_id,headers:NHEAD,body:JSON.stringify({properties:{'明細引用':{relation:ex}}})});\n  note='PDF '+(pk.pdf_name||'')+' 已轉文字('+md.length+' 字)、建成資料參考並連入 target 明細引用';\n}catch(err){ note='PDF 處理失敗：'+(err&&err.message||err); }\nreturn [{json:{pdf_note:note}}];"
   }
  }
 ],
 "connections": {
  "Analyze Webhook": {
   "main": [
    [
     {
      "node": "Extract DB06 ID",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract DB06 ID": {
   "main": [
    [
     {
      "node": "Fetch DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch DB06": {
   "main": [
    [
     {
      "node": "Parse DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse DB06": {
   "main": [
    [
     {
      "node": "Read flow_state 處理中",
      "type": "main",
      "index": 0
     },
     {
      "node": "Query 引用資料",
      "type": "main",
      "index": 0
     },
     {
      "node": "Fetch target PDF",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state 處理中": {
   "main": [
    [
     {
      "node": "Telegram 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 處理中": {
   "main": [
    [
     {
      "node": "Save msgid 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid 處理中": {
   "main": [
    [
     {
      "node": "Update flow_state 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query 引用資料": {
   "main": [
    [
     {
      "node": "Build extract prompt",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build extract prompt": {
   "main": [
    [
     {
      "node": "Claude extract",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Claude extract": {
   "main": [
    [
     {
      "node": "Tag engine",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Tag engine": {
   "main": [
    [
     {
      "node": "PATCH 執行備註",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH 執行備註": {
   "main": [
    [
     {
      "node": "Read flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state B": {
   "main": [
    [
     {
      "node": "Build gateB",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build gateB": {
   "main": [
    [
     {
      "node": "Telegram 成果通知",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid B": {
   "main": [
    [
     {
      "node": "Update flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 成果通知": {
   "main": [
    [
     {
      "node": "PATCH DB06 完成",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 完成": {
   "main": [
    [
     {
      "node": "Query DB06 next",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query DB06 next": {
   "main": [
    [
     {
      "node": "Pick next",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Pick next": {
   "main": [
    [
     {
      "node": "has next?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "has next?": {
   "main": [
    [
     {
      "node": "auto_mode?",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 全套完成",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "auto_mode?": {
   "main": [
    [
     {
      "node": "Run next baton",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 下一棒關卡A",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 下一棒關卡A": {
   "main": [
    [
     {
      "node": "Save msgid B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch target PDF": {
   "main": [
    [
     {
      "node": "Pick PDF",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Pick PDF": {
   "main": [
    [
     {
      "node": "has PDF?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "has PDF?": {
   "main": [
    [
     {
      "node": "下載 PDF",
      "type": "main",
      "index": 0
     }
    ],
    []
   ]
  },
  "下載 PDF": {
   "main": [
    [
     {
      "node": "Cloudflare toMarkdown",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Cloudflare toMarkdown": {
   "main": [
    [
     {
      "node": "建 PDF 資料參考",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "availableInMCP": true
 }
}