n8n-rebuild/check_v5.json
{
 "name": "е—Ёе—Ё жӘўж ёжЈ’ v5 (з…§spec)",
 "nodes": [
  {
   "id": "be408a1e-570f-4e3b-b809-1a5ab5c640c8",
   "name": "Runner Webhook",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "position": [
    0,
    288
   ],
   "parameters": {
    "httpMethod": "POST",
    "path": "db06-check",
    "responseMode": "onReceived"
   },
   "webhookId": "5aa304de-be60-4a7e-a748-9f59dd561ca1"
  },
  {
   "id": "16ab997f-dc9f-4e40-a1c5-304f902ef889",
   "name": "Extract DB06 ID",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    224,
    288
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst db06_id = (body.db06_id || body.id || '').toString().replace(/-/g, '');\nif (!db06_id) throw new Error('missing db06_id');\nreturn [{ json: { db06_id } }];"
   }
  },
  {
   "id": "5814e0a4-7029-4e0b-b678-e9d5635378f7",
   "name": "Fetch DB06",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    448,
    288
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "e67cd73d-a917-4946-ba7a-6ef18f063fcd",
   "name": "Parse DB06",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    672,
    288
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const p=$input.first().json;\nconst T=['е°ҚжҮүжҸҗжЎҲ','е°ҚжҮүз®ЎиҖғ','е°ҚжҮүй …зӣ®','е°ҚжҮүеҚ”дҪң','е°ҚжҮүе…§е®№','е°ҚжҮүеә«еӯҳ','е°ҚжҮүе°ҚиұЎ','е°ҚжҮүжЁҷзұӨ','е°ҚжҮүең°й»һ','е°ҚжҮүжҸҗдҫӣе°ҚиұЎ'];\nlet tid='',trel='';\nfor(const r of T){const a=p.properties[r]?.relation||[];if(a.length){tid=(a[0].id||'').replace(/-/g,'');trel=r;break;}}\nreturn [{json:{db06_id:p.id.replace(/-/g,''),ai_mode:p.properties['aiжЁЎејҸ']?.select?.name||'жӘўж ё',exec_idea_db06:(p.properties['еҹ·иЎҢж§Ӣжғі']?.rich_text||[]).map(t=>t.plain_text).join(''),db06_check_note:(p.properties['жӘўж ёеӮҷиЁ»']?.rich_text||[]).map(t=>t.plain_text).join(''),db05_id:tid,target_rel:trel,sort_num:p.properties['жҺ’еәҸ']?.number}}];"
   }
  },
  {
   "id": "ed7bf286-5423-415e-82ba-d46dfa934fd2",
   "name": "Fetch target DB05",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    896,
    192
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse DB06').first().json.db05_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "60d4b619-0f22-4fec-a60d-0f3110ce2156",
   "name": "Build Claude prompt",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1120,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const c=$input.first().json;\nconst system='дҪ жҳҜ makesense е—Ёе—Ёе®¶ж—Ҹзҡ„е—Ёе—ЁжӘўж ёгҖӮеҸӘеҒҡдёҖд»¶дәӢпјҡеҲӨж–·ж–ҮжЎҲеҜ«еҮәдҫҶзҡ„й ҒйқўжӯЈж–ҮпјҢжҳҜеҗҰе®ҢжҲҗдәҶеҹ·иЎҢж§ӢжғідәӨиҫҰзҡ„дәӢгҖӮйҖҗз« е°Қз…§пјҡеҹ·иЎҢж§ӢжғіиҰҒжұӮзҡ„з« зҜҖ/йҮҚй»һпјҢжӯЈж–ҮжңүжІ’жңүе°ҚжҮүеҜ«еҲ°гҖӮеҸӘеӣһеҗҲжі• JSONпјҡ{\"иӘһж„Ҹе°ҚжҮү\":\"з¬ҰеҗҲ\"жҲ–\"жңүеҒҸйӣў\",\"иӘӘжҳҺ\":\"дёҖе…©еҸҘпјҢеҒҸйӣўе°ұжҢҮеҮәе“ӘиЈЎжІ’е°ҚдёҠ\"}';\nconst user='гҖҗеҹ·иЎҢж§ӢжғіпјҲдәӨиҫҰе…§е®№пјүгҖ‘\\n'+(c.exec_idea||'(з©ә)')+'\\n\\nгҖҗж–ҮжЎҲеҜ«еҮәзҡ„й ҒйқўжӯЈж–ҮпјҲеүҚж®өзҜҖйҢ„пјүгҖ‘\\n'+(c.blockText||'(з©ә)')+'\\n\\nеҲӨж–·жӯЈж–ҮжҳҜеҗҰе®ҢжҲҗеҹ·иЎҢж§ӢжғідәӨиҫҰзҡ„дәӢпјҢеӣһ JSONгҖӮ';\nreturn [{json:{...c,system,user}}];"
   }
  },
  {
   "id": "664a0630-033b-465a-a30c-c894a3fd7362",
   "name": "Claude API",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1344,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.anthropic.com/v1/messages",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "x-api-key",
       "value": "={{ $env.ANTHROPIC_API_KEY }}"
      },
      {
       "name": "anthropic-version",
       "value": "2023-06-01"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"system\": {{ JSON.stringify($json.system) }},\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.user) }} }]\n}"
   }
  },
  {
   "id": "904df227-71fe-4621-8195-47ab122d1127",
   "name": "Parse Claude",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1568,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const resp=$input.first().json;\nconst c=$('жӘўж ёзӣӨй»һ').first().json;\nconst text=resp.content?.[0]?.text||'';\nlet sem; try{const m=text.match(/\\{[\\s\\S]*\\}/);sem=m?JSON.parse(m[0]):{};}catch(e){sem={};}\nconst semOK=(sem['иӘһж„Ҹе°ҚжҮү']||'').indexOf('з¬ҰеҗҲ')>=0;\nconst semNote=(sem['иӘӘжҳҺ']||'').toString();\nconst mk=b=>b?'вң“':'вҡ пёҸ';\nconst items=[['дјҒеҠғ',c.c1],['жҗңжҹҘ',c.c2],['еҲҶжһҗ',c.c3],['иҒҜжғі',c.c4],['ж–ҮжЎҲ',c.c5&&semOK]];\nconst allOK=items.every(x=>x[1])&&semOK;\nconst fails=[];\nif(!c.c1)fails.push('дјҒеҠғ(еҹ·иЎҢж§ӢжғідёҚи¶і)');\nif(!c.c2)fails.push('жҗңжҹҘ(з„ЎиіҮж–ҷеҸғиҖғ)');\nif(!c.c3)fails.push('еҲҶжһҗ(иіҮж–ҷеҸғиҖғзјәе°ҚжҮүжЁҷзұӨ'+(c.refNoTag.length?'пјҡ'+c.refNoTag.slice(0,5).join('гҖҒ'):'')+')');\nif(!c.c4)fails.push('иҒҜжғі(Xеј•з”ЁдёҚи¶і3зӯҶжҲ–жңӘи·Ё2DB)');\nif(!c.c5)fails.push('ж–ҮжЎҲ(жӯЈж–ҮжҲ–зҷјдҪҲзӢҖж…ӢжңӘеҲ°дҪҚ)');\nif(!semOK)fails.push('ж–ҮжЎҲиӘһж„ҸеҒҸйӣў');\nconst d=new Date();const tw=new Date(d.getTime()+8*3600*1000);\nconst ts=tw.getUTCFullYear()+'-'+String(tw.getUTCMonth()+1).padStart(2,'0')+'-'+String(tw.getUTCDate()).padStart(2,'0')+' '+String(tw.getUTCHours()).padStart(2,'0')+':'+String(tw.getUTCMinutes()).padStart(2,'0');\nconst checkLine='дјҒеҠғ '+mk(c.c1)+' / жҗңжҹҘ '+mk(c.c2)+' / еҲҶжһҗ '+mk(c.c3)+' / иҒҜжғі '+mk(c.c4)+' / ж–ҮжЎҲ '+mk(c.c5&&semOK);\nconst detail='жҗңжҹҘиіҮж–ҷеҸғиҖғ '+c.refCount+' зӯҶгҖҒXеј•з”Ёе…ұ '+c.xrefTotal+' зӯҶи·Ё '+c.xfWith+' йЎһгҖҒжӯЈж–Ү '+c.blockLen+' еӯ—гҖҒзҷјдҪҲзӢҖж…Ӣ='+(c.pubStatus||'(з©ә)');\nconst advice=allOK?'е…Ёй …йҖҡйҒҺпјҢеҸҜжЁҷе®ҢжҲҗ':('е»әиӯ°иЈңпјҡ'+fails.join('пјӣ'));\nconst execNote='в”Җв”Җ '+ts+' жӘўж ё в”Җв”Җ\\nе·ҘдҪңе°ҚиұЎпјҡ'+c.target_name+'\\nе®ҢжҲҗеәҰпјҡ'+checkLine+'\\nиӘһж„Ҹе°ҚжҮүпјҡ'+(semOK?'з¬ҰеҗҲ':('жңүеҒҸйӣў вҖ” '+semNote))+'\\nе»әиӯ°пјҡ'+advice;\nconst checkReport='в”Җв”Җ '+ts+' жӘўж ё в”Җв”Җ\\n'+checkLine+'\\n'+detail+'\\nиӘһж„Ҹе°ҚжҮүпјҡ'+(semOK?'з¬ҰеҗҲ':('жңүеҒҸйӣў вҖ” '+semNote))+'\\nе»әиӯ°пјҡ'+advice;\nconst tgtCheck=(checkReport+(c.tgt_check_note?('\\n\\n'+c.tgt_check_note):'')).slice(0,1990);\nconst db06Check=(checkReport+(c.db06_check_note?('\\n\\n'+c.db06_check_note):'')).slice(0,1990);\nconst usage=resp.usage||{};\nconst it=parseInt(usage.input_tokens||0),ot=parseInt(usage.output_tokens||0);\nconst cost=((it*0.8+ot*4)/1000000*32).toFixed(2);\nreturn [{json:{target_id:c.target_id,db06_id:c.db06_id,target_name:c.target_name,\nexec_note:execNote.slice(0,1990),check_report:checkReport,\ntgt_check:tgtCheck,db06_check:db06Check,all_ok:allOK,usage_line:'йҖІ='+it+' еҮә='+ot+' жҲҗжң¬NT'+cost}}];"
   }
  },
  {
   "id": "77d6ce98-456f-45a7-9ea1-8a1e2357c4c3",
   "name": "Read flow_state иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    896,
    384
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "81835529-5015-4de3-9325-b39ffc8110c6",
   "name": "Telegram иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1120,
    384
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: 'вҸі з¬¬ ' + ($('Parse DB06').first().json.sort_num != null ? $('Parse DB06').first().json.sort_num : '?') + ' жЈ’ (' + $('Parse DB06').first().json.ai_mode + ') й–Ӣе§Ӣиҷ•зҗҶгҖӮ\\nй җиЁҲ 15-60 з§’,Claude жҖқиҖғдёӯгҖӮе®ҢжҲҗжңғиҮӘеӢ•зҷјй—ңеҚЎB,е…Қе®Ҳз•«йқўгҖӮ', disable_web_page_preview: true, allow_sending_without_reply: true }, ((parseInt($json.last_msg_id || 0) || 0) > 0 ? { reply_to_message_id: parseInt($json.last_msg_id || 0) || 0 } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "0489bec5-d966-438f-9d11-1501eaa61aee",
   "name": "Save msgid иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1344,
    384
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Parse DB06').first().json.db05_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "a58df171-1565-415d-8b12-2400a6a172e4",
   "name": "Update flow_state иҷ•зҗҶдёӯ",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    1568,
    384
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "3752adf4-c8a1-47ff-958f-3d50876ed076",
   "name": "жӘўж ёзӣӨй»һ",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1100,
    280
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const baton=$('Parse DB06').first().json;\nconst target=$('Fetch target DB05').first().json;\nconst NHEAD={'Authorization':'Bearer '+$env.NOTION_INTEGRATION_TOKEN,'Notion-Version':'2022-06-28','Content-Type':'application/json'};\nconst norm=id=>(id||'').replace(/-/g,'');\nconst withTO=(p,ms)=>Promise.race([p,new Promise((_,r)=>setTimeout(()=>r(new Error('to')),ms))]);\nconst sleep=ms=>new Promise(r=>setTimeout(r,ms));\nconst getPage=async id=>{try{const r=await withTO(this.helpers.httpRequest({method:'GET',url:'https://api.notion.com/v1/pages/'+id,headers:NHEAD}),10000);return (typeof r==='string')?JSON.parse(r):r;}catch(e){return null;}};\nconst tp=target.properties||{};\nconst rt=k=>(tp[k]?.rich_text||[]).map(t=>t.plain_text).join('');\nconst target_id=norm(target.id);\nconst titleProp=Object.values(tp).find(v=>v&&v.type==='title');\nconst target_name=(titleProp?.title||[]).map(t=>t.plain_text).join('')||'(жңӘе‘ҪеҗҚ)';\nconst exec_idea=rt('еҹ·иЎҢж§Ӣжғі');\nconst theme=rt('дё»йЎҢеҗҚзЁұ'); const summary=rt('з°Ўд»Ӣж‘ҳиҰҒ');\nconst pubStatus=tp['зҷјдҪҲзӢҖж…Ӣ']?.status?.name||'';\nconst tgt_check_note=rt('жӘўж ёеӮҷиЁ»');\nconst XF=['жҸҗжЎҲеј•з”Ё','з®ЎиҖғеј•з”Ё','й …зӣ®еј•з”Ё','еҚ”дҪңеј•з”Ё','е…§е®№еј•з”Ё','жҳҺзҙ°еј•з”Ё','еә«еӯҳеј•з”Ё','е°ҚиұЎеј•з”Ё','ж—Ҙжңҹеј•з”Ё'];\nlet xfWith=0; let xrefIds=[];\nfor(const f of XF){const a=(tp[f]&&tp[f].relation)||[];if(a.length)xfWith++;for(const r of a)xrefIds.push(norm(r.id));}\nxrefIds=[...new Set(xrefIds)];\nconst xrefTotal=xrefIds.length;\nconst DB06='3469ff25fdab83c98ff98107ee6a6a1c';\nlet refCount=0; const refNoTag=[];\nconst ids=xrefIds.slice(0,40);\nfor(let i=0;i<ids.length;i+=4){\n  const part=await Promise.all(ids.slice(i,i+4).map(getPage));\n  for(const pg of part){if(!pg)continue;\n    if(norm((pg.parent||{}).database_id||'')!==DB06)continue;\n    const mtype=pg.properties['жҳҺзҙ°йЎһеһӢ']?.select?.name||'';\n    if(mtype==='иіҮж–ҷеҸғиҖғ'){refCount++;const tags=(pg.properties['е°ҚжҮүжЁҷзұӨ']?.relation||[]);if(!tags.length){const nm=(pg.properties['жҳҺзҙ°еҗҚзЁұ']?.title||[]).map(t=>t.plain_text).join('');refNoTag.push(nm||norm(pg.id).slice(0,8));}}\n  }\n  if(i+4<ids.length)await sleep(320);\n}\nlet blockText='';\ntry{const b=await withTO(this.helpers.httpRequest({method:'GET',url:'https://api.notion.com/v1/blocks/'+target_id+'/children?page_size=100',headers:NHEAD}),12000);const bb=(typeof b==='string')?JSON.parse(b):b;for(const blk of (bb.results||[])){const t=blk[blk.type];if(t&&t.rich_text)blockText+=(t.rich_text.map(x=>x.plain_text).join(''))+'\\n';}}catch(e){}\nconst c1=exec_idea.length>=30;\nconst c2=refCount>=1;\nconst c3=refCount>0&&refNoTag.length===0;\nconst c4=xrefTotal>=3&&xfWith>=2;\nconst c5=blockText.trim().length>50&&pubStatus==='еҫ…зҷјдҪҲ';\nreturn [{json:{target_id,target_name,db06_id:baton.db06_id,ai_mode:baton.ai_mode,sort_num:baton.sort_num,\ndb06_check_note:baton.db06_check_note||'',tgt_check_note,\nexec_idea,theme,summary,pubStatus,xfWith,xrefTotal,refCount,refNoTag,\nblockText:blockText.slice(0,4000),blockLen:blockText.length,c1,c2,c3,c4,c5}}];"
   }
  },
  {
   "id": "da2bc64c-b777-4158-9abc-ec647b32df0e",
   "name": "PATCH target еӮҷиЁ»",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1760,
    280
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $json.target_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"еҹ·иЎҢеӮҷиЁ»\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.exec_note) }} } }] }, \"жӘўж ёеӮҷиЁ»\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.tgt_check) }} } }] } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "options": {}
   }
  },
  {
   "id": "4339d8f5-cfdd-44a2-82ac-81af87ab525f",
   "name": "PATCH DB06 еӮҷиЁ»е®ҢжҲҗ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1980,
    280
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse Claude').first().json.db06_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"еҹ·иЎҢеӮҷиЁ»\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($('Parse Claude').first().json.exec_note) }} } }] }, \"aiзӢҖж…Ӣ\": { \"status\": { \"name\": \"е®ҢжҲҗ\" } } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "options": {}
   }
  },
  {
   "id": "494b2e57-d633-4ff6-9a3c-af8df6d6b109",
   "name": "Telegram жӘўж ёе ұе‘Ҡ",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    2200,
    280
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"chat_id\": 8523155253, \"text\": {{ JSON.stringify('вң… е—Ёе—ЁжӘўж ёе®ҢжҲҗ вҖ” chain ж”¶е°ҫ\\n\\n' + $('Parse Claude').first().json.target_name + '\\n\\n' + $('Parse Claude').first().json.check_report) }}, \"disable_web_page_preview\": true }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "options": {}
   }
  }
 ],
 "connections": {
  "Runner Webhook": {
   "main": [
    [
     {
      "node": "Extract DB06 ID",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract DB06 ID": {
   "main": [
    [
     {
      "node": "Fetch DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch DB06": {
   "main": [
    [
     {
      "node": "Parse DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse DB06": {
   "main": [
    [
     {
      "node": "Read flow_state иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     },
     {
      "node": "Fetch target DB05",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state иҷ•зҗҶдёӯ": {
   "main": [
    [
     {
      "node": "Telegram иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram иҷ•зҗҶдёӯ": {
   "main": [
    [
     {
      "node": "Save msgid иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid иҷ•зҗҶдёӯ": {
   "main": [
    [
     {
      "node": "Update flow_state иҷ•зҗҶдёӯ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch target DB05": {
   "main": [
    [
     {
      "node": "жӘўж ёзӣӨй»һ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "жӘўж ёзӣӨй»һ": {
   "main": [
    [
     {
      "node": "Build Claude prompt",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build Claude prompt": {
   "main": [
    [
     {
      "node": "Claude API",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Claude API": {
   "main": [
    [
     {
      "node": "Parse Claude",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse Claude": {
   "main": [
    [
     {
      "node": "PATCH target еӮҷиЁ»",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH target еӮҷиЁ»": {
   "main": [
    [
     {
      "node": "PATCH DB06 еӮҷиЁ»е®ҢжҲҗ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 еӮҷиЁ»е®ҢжҲҗ": {
   "main": [
    [
     {
      "node": "Telegram жӘўж ёе ұе‘Ҡ",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "availableInMCP": true
 }
}