n8n-rebuild/copy_v4.json
{
 "name": "嗨嗨 文案棒 v5 (照spec)",
 "nodes": [
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "db06-copy",
    "options": {}
   },
   "id": "084acd3e-6188-414c-a32a-e4705754c5b6",
   "name": "Runner Webhook",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "position": [
    0,
    96
   ],
   "webhookId": "7dd6dfef-250d-4ea9-ab02-49cf2af38e4b"
  },
  {
   "parameters": {
    "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst db06_id = (body.db06_id || body.id || '').toString().replace(/-/g, '');\nif (!db06_id) throw new Error('missing db06_id');\nreturn [{ json: { db06_id } }];"
   },
   "id": "cd6a92d5-3243-4858-82b0-f88f4c6b1b92",
   "name": "Extract DB06 ID",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    224,
    96
   ]
  },
  {
   "parameters": {
    "url": "=https://api.notion.com/v1/pages/{{ $json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "options": {}
   },
   "id": "4a72943d-66dd-4e6d-8a1b-632b8355ae9b",
   "name": "Fetch DB06",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    448,
    96
   ]
  },
  {
   "parameters": {
    "jsCode": "const p = $input.first().json;\nconst TARGET_RELS = [\"對應提案\", \"對應管考\", \"對應項目\", \"對應協作\", \"對應內容\", \"對應庫存\", \"對應對象\", \"對應標籤\", \"對應地點\", \"對應提供對象\"];\nlet target_id = '', target_rel = '';\nfor (const rel of TARGET_RELS) {\n  const arr = p.properties[rel]?.relation || [];\n  if (arr.length) { target_id = (arr[0].id||'').replace(/-/g,''); target_rel = rel; break; }\n}\nreturn [{ json: {\n  db06_id: p.id.replace(/-/g, ''),\n  ai_mode: p.properties['ai模式']?.select?.name || '',\n  execute_idea_db06: p.properties['執行構想']?.rich_text?.map(t=>t.plain_text).join('') || '',\n  mingxi_content: p.properties['明細內容']?.rich_text?.map(t=>t.plain_text).join('') || '',\n  db05_id: target_id,\n  target_rel: target_rel,\n  mingxi_name: p.properties['明細名稱']?.title?.map(t=>t.plain_text).join('') || '',\n  sort_num: p.properties['排序']?.number\n}}];"
   },
   "id": "5cfdc25a-8352-4799-942c-aa54464b451c",
   "name": "Parse DB06",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    672,
    96
   ]
  },
  {
   "parameters": {
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "limit": 1
   },
   "id": "284df768-e468-4a83-b42b-e3504033bfea",
   "name": "Read flow_state 處理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    896,
    0
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: '⏳ 第 ' + ($('Parse DB06').first().json.sort_num != null ? $('Parse DB06').first().json.sort_num : '?') + ' 棒 (' + $('Parse DB06').first().json.ai_mode + ') 開始處理。\\n預計 15-60 秒,Claude 思考中。完成會自動發關卡B,免守畫面。', disable_web_page_preview: true, allow_sending_without_reply: true }, ((parseInt($json.last_msg_id || 0) || 0) > 0 ? { reply_to_message_id: parseInt($json.last_msg_id || 0) || 0 } : {}))) }}",
    "options": {}
   },
   "id": "001ca35d-9996-4332-a0b3-7487113b1342",
   "name": "Telegram 処理中",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1120,
    0
   ]
  },
  {
   "parameters": {
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Parse DB06').first().json.db05_id, last_msg_id: mid } }];"
   },
   "id": "afe70931-7f56-4397-acf0-83146f9efb1b",
   "name": "Save msgid 処理中",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1344,
    0
   ]
  },
  {
   "parameters": {
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    },
    "options": {}
   },
   "id": "a75f3e36-5dea-46b3-ade5-3b389917bdb0",
   "name": "Update flow_state 処理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    1568,
    0
   ]
  },
  {
   "parameters": {
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse DB06').first().json.db05_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "options": {}
   },
   "id": "24ee9e7b-9262-4efe-9235-3b7d5dd6eca3",
   "name": "Fetch target DB05",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    896,
    192
   ]
  },
  {
   "parameters": {
    "jsCode": "const baton = $('Parse DB06').first().json;\nconst target = $input.first().json;\nconst tp = target.properties || {};\nconst NHEAD={'Authorization':'Bearer '+$env.NOTION_INTEGRATION_TOKEN,'Notion-Version':'2022-06-28','Content-Type':'application/json'};\nconst norm=id=>(id||'').replace(/-/g,'');\nconst withTO=(p,ms)=>Promise.race([p,new Promise((_,r)=>setTimeout(()=>r(new Error('to')),ms))]);\nconst sleep=ms=>new Promise(r=>setTimeout(r,ms));\nconst getPage=async id=>{try{const r=await withTO(this.helpers.httpRequest({method:'GET',url:'https://api.notion.com/v1/pages/'+id,headers:NHEAD}),10000);return (typeof r==='string')?JSON.parse(r):r;}catch(e){return null;}};\nconst titleProp=Object.values(tp).find(v=>v&&v.type==='title');\nconst target_name=(titleProp?.title||[]).map(t=>t.plain_text).join('')||'(未命名)';\nconst rt=k=>(tp[k]?.rich_text||[]).map(t=>t.plain_text).join('');\nconst cur_idea=rt('執行構想');\nconst summary=rt('簡介摘要');\nconst analysis=rt('分析備註');\nconst tgt_exec_note=rt('執行備註')||'';\nconst copyType=tp['文案選項']?.select?.name||'';\nconst XF=['提案引用','管考引用','項目引用','協作引用','內容引用','明細引用','庫存引用','對象引用','日期引用'];\nlet refIds=[];for(const f of XF){for(const r of ((tp[f]&&tp[f].relation)||[]))refIds.push(norm(r.id));}\nrefIds=[...new Set(refIds)].slice(0,30);\nlet refs=[];\nfor(let i=0;i<refIds.length;i+=4){const part=await Promise.all(refIds.slice(i,i+4).map(getPage));for(const pg of part){if(!pg)continue;const pt=Object.values(pg.properties||{}).find(v=>v&&v.type==='title');const nm=(pt?.title||[]).map(t=>t.plain_text).join('');const mc=((pg.properties||{})['明細內容']?.rich_text||[]).map(t=>t.plain_text).join('');const sm=((pg.properties||{})['簡介摘要']?.rich_text||[]).map(t=>t.plain_text).join('');if(nm||mc||sm)refs.push('・'+nm+(mc||sm?('：'+(mc||sm).slice(0,200)):''));}if(i+4<refIds.length)await sleep(320);}\nconst system=\"你是 makesense（現思文化創藝有限公司，宜蘭在地文化事業）嗨嗨家族的嗨嗨文案。職責：依 target 的執行構想（內含企劃寫好的章節架構）寫出 target 的頁面正文。\\n== 鐵律 ==\\n1. 執行構想是最高指示：企劃已把內容拆成數個 ## 章節、每章標了目標字數與素材方向。逐章寫，章節數與標題對齊執行構想，不增不減。\\n2. 每章字數對齊執行構想標的目標字數。\\n3. 具體可查證：用具名事件/日期/人物/數字/地點。嚴禁堆疊沒有實據的空泛形容詞（氛圍詞）。\\n4. 素材未齊的部分（執行構想標「待補」者）：就現有素材能寫多少寫多少，不硬編數字、不杜撰，可寫「此部分待補」帶過，不要假裝有資料。\\n5. 一律繁體中文。正文用 markdown：章節標題用 ## 開頭，內文分段。\\n== 輸出 只回合法 JSON ==\\n{\\\"execution_summary\\\":\\\"寫了什麼、總字數、依幾章\\\",\\\"page_content\\\":\\\"完整正文 markdown，## 章節標題 + 內文段落\\\",\\\"needs_human_intervention\\\":false}\";\nconst user='target 名稱：'+target_name+'\\n文案類型：'+(copyType||'(未指定)')+'\\n\\n【執行構想 — 企劃寫好的章節架構，逐章照寫】\\n'+(cur_idea||'(空)')+'\\n\\n【簡介摘要】\\n'+(summary||'(空)')+'\\n\\n【分析備註 — 嗨嗨分析鑑定的重點與數據】\\n'+(analysis||'(空)')+'\\n\\n【參考資料 '+refs.length+' 筆（X引用的 DB06 資料參考）】\\n'+(refs.join('\\n')||'(無)')+'\\n\\n【上輪嗨嗨檢核成果紀錄】\\n'+(tgt_exec_note||'(尚未有檢核記錄)')+'\\n\\n依執行構想的章節架構逐章寫正文，回 JSON。';\nreturn [{json:{system,user,target_name,target_id:baton.db05_id,db06_id:baton.db06_id,ai_mode:baton.ai_mode||'文案',sort_num:baton.sort_num,ref_count:refs.length,target_rel:baton.target_rel}}];"
   },
   "id": "295dab01-0bd2-439a-b097-265b93b69659",
   "name": "Build Claude prompt",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1120,
    192
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://api.anthropic.com/v1/messages",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "x-api-key",
       "value": "={{ $env.ANTHROPIC_API_KEY }}"
      },
      {
       "name": "anthropic-version",
       "value": "2023-06-01"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 32000,\n  \"system\": {{ JSON.stringify($json.system) }},\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.user) }} }]\n}",
    "options": {}
   },
   "id": "f230ca30-fd13-478f-83fe-b7da824acc14",
   "name": "Claude API",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1344,
    192
   ]
  },
  {
   "parameters": {
    "jsCode": "const resp = $input.first().json;\nconst ctx = $('Build Claude prompt').first().json;\nconst text = resp.content?.[0]?.text || '';\nconst usage = resp.usage || {};\nlet p; try { const m=text.match(/\\{[\\s\\S]*\\}/); p=m?JSON.parse(m[0]):{} } catch(e){ p={} }\nconst md = (p.page_content||'').toString();\n\n// 行內粗體 **text**\nconst inlineRich = (s) => {\n  s=(s||'').toString(); const out=[];\n  for (const seg of s.split(/(\\*\\*[^*]+\\*\\*)/g)) {\n    if(!seg) continue;\n    const b=seg.match(/^\\*\\*([^*]+)\\*\\*$/);\n    if(b) out.push({text:{content:b[1].slice(0,2000)},annotations:{bold:true}});\n    else out.push({text:{content:seg.slice(0,2000)}});\n  }\n  return out.length?out:[{text:{content:''}}];\n};\n\nconst lines = md.split('\\n');\nconst blocks = []; let para = []; let tableRows = null;\nconst flushPara = () => { if(para.length){ const txt=para.join('\\n').trim(); if(txt){ for(let i=0;i<txt.length;i+=2000) blocks.push({object:'block',type:'paragraph',paragraph:{rich_text:inlineRich(txt.slice(i,i+2000))}}); } para=[]; } };\nconst flushTable = () => {\n  if(tableRows && tableRows.length){\n    const width=Math.max(...tableRows.map(r=>r.length));\n    const rowBlocks=tableRows.map(cells=>{ const c=cells.slice(); while(c.length<width)c.push(''); return {object:'block',type:'table_row',table_row:{cells:c.map(x=>inlineRich(x))}}; });\n    blocks.push({object:'block',type:'table',table:{table_width:width,has_column_header:true,has_row_header:false,children:rowBlocks}});\n  }\n  tableRows=null;\n};\nconst isRow = ln => /^\\s*\\|.*\\|\\s*$/.test(ln);\nconst isSep = ln => /-/.test(ln) && /^\\s*\\|?[\\s:|-]+\\|?\\s*$/.test(ln);\nconst splitRow = ln => { let s=ln.trim(); if(s.startsWith('|'))s=s.slice(1); if(s.endsWith('|'))s=s.slice(0,-1); return s.split('|').map(c=>c.trim()); };\n\nfor (const ln of lines) {\n  if (isRow(ln)) { if(isSep(ln)) continue; flushPara(); if(!tableRows)tableRows=[]; tableRows.push(splitRow(ln)); continue; }\n  if (tableRows) flushTable();\n  const h3=ln.match(/^###\\s+(.+)/), h2=ln.match(/^##\\s+(.+)/), h1=ln.match(/^#\\s+(.+)/);\n  const bul=ln.match(/^\\s*[-*]\\s+(.+)/), num=ln.match(/^\\s*\\d+\\.\\s+(.+)/), quo=ln.match(/^>\\s?(.*)/);\n  if(h3){flushPara();blocks.push({object:'block',type:'heading_3',heading_3:{rich_text:inlineRich(h3[1])}});}\n  else if(h2){flushPara();blocks.push({object:'block',type:'heading_2',heading_2:{rich_text:inlineRich(h2[1])}});}\n  else if(h1){flushPara();blocks.push({object:'block',type:'heading_1',heading_1:{rich_text:inlineRich(h1[1])}});}\n  else if(bul){flushPara();blocks.push({object:'block',type:'bulleted_list_item',bulleted_list_item:{rich_text:inlineRich(bul[1])}});}\n  else if(num){flushPara();blocks.push({object:'block',type:'numbered_list_item',numbered_list_item:{rich_text:inlineRich(num[1])}});}\n  else if(quo && ln.trim().startsWith('>')){flushPara();blocks.push({object:'block',type:'quote',quote:{rich_text:inlineRich(quo[1])}});}\n  else if(ln.trim()===''){flushPara();}\n  else para.push(ln);\n}\nflushPara(); if(tableRows) flushTable();\n\nconst children = blocks; // 不再 slice(0,100)；寫入正文(乙) 本來就 50 塊一批\nconst wordCount = md.replace(/\\s/g,'').length;\nconst it=parseInt(usage.input_tokens||0), ot=parseInt(usage.output_tokens||0);\nconst cost=((it*3+ot*15)/1000000*32).toFixed(2);\nconst usage_line='進='+it+' 出='+ot+' 成本NT'+cost;\nconst d=new Date(); const tw=new Date(d.getTime()+8*3600*1000);\nconst ts=tw.getUTCFullYear()+'-'+String(tw.getUTCMonth()+1).padStart(2,'0')+'-'+String(tw.getUTCDate()).padStart(2,'0')+' '+String(tw.getUTCHours()).padStart(2,'0')+':'+String(tw.getUTCMinutes()).padStart(2,'0');\nconst chapters = blocks.filter(b=>b.type==='heading_1'||b.type==='heading_2'||b.type==='heading_3').length;\nconst exec_summary=(p.execution_summary||'文案完成').toString();\nconst exec_note=('── '+ts+' 文案 ──\\n工作對象：'+ctx.target_name+'\\n做了什麼：寫 target 頁面正文 約 '+wordCount+' 字、'+chapters+' 章節\\n參考資料：'+ctx.ref_count+' 筆\\n'+exec_summary).slice(0,1990);\nconst sanitize=s=>(s||'').toString().replace(/[\\/\\\\:<>#@\\[\\]\\{\\}\\|\\^`\\*_~\"']/g,' ').replace(/\\s+/g,' ').trim().slice(0,500);\nconst pub_props = (ctx.target_rel==='對應內容') ? {'發佈狀態':{status:{name:'待發佈'}}} : {};\nreturn [{ json: { db06_id:ctx.db06_id, db05_id:ctx.target_id, target_id:ctx.target_id, ai_mode:ctx.ai_mode, sort_num:ctx.sort_num, pub_props, children, has_content: children.length>0, word_count:wordCount, exec_note, usage_line, safe_summary:sanitize(exec_note), preview_text:'文案寫入 '+wordCount+' 字 / '+children.length+' blocks', validator_warning:'' } }];"
   },
   "id": "c8087643-77f7-4602-b5f9-18180dc257c8",
   "name": "Parse Claude",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1568,
    192
   ]
  },
  {
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $json.target_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": {{ JSON.stringify($json.pub_props) }} }",
    "options": {}
   },
   "id": "d4d40e6c-1578-47ba-aace-4dff419e1d55",
   "name": "PATCH target 發佈狀態",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1792,
    192
   ]
  },
  {
   "parameters": {
    "jsCode": "const pc = $('Parse Claude').first().json;\nconst NHEAD = {'Authorization':'Bearer '+$env.NOTION_INTEGRATION_TOKEN,'Notion-Version':'2022-06-28','Content-Type':'application/json'};\nconst target = pc.target_id;\nconst newBlocks = pc.children || [];\nconst HTYPES = ['heading_1','heading_2','heading_3','paragraph'];\nlet old = [];\ntry {\n  let cursor, guard=0;\n  do {\n    const u='https://api.notion.com/v1/blocks/'+target+'/children?page_size=100'+(cursor?('&start_cursor='+cursor):'');\n    const r=await this.helpers.httpRequest({method:'GET',url:u,headers:NHEAD});\n    const rr=(typeof r==='string')?JSON.parse(r):r;\n    for(const b of (rr.results||[])) old.push(b);\n    cursor=rr.has_more?rr.next_cursor:null; guard++;\n  } while(cursor&&guard<12);\n} catch(e){}\nconst recreate = b => {\n  const t=b.type;\n  if(HTYPES.indexOf(t)<0) return null;\n  const rt=((b[t]||{}).rich_text||[]).map(x=>({text:{content:(x.plain_text||'').slice(0,2000)}}));\n  return {object:'block',type:t,[t]:{rich_text:rt.length?rt:[{text:{content:''}}]}};\n};\nconst oldSpecs = old.map(recreate).filter(Boolean);\nconst appendBatch = async (blocks) => {\n  for(let i=0;i<blocks.length;i+=50){\n    await this.helpers.httpRequest({method:'PATCH',url:'https://api.notion.com/v1/blocks/'+target+'/children',headers:NHEAD,body:JSON.stringify({children:blocks.slice(i,i+50)})});\n  }\n};\nlet note='';\ntry {\n  await appendBatch(newBlocks);\n  if (oldSpecs.length) {\n    await appendBatch([{object:'block',type:'divider',divider:{}},{object:'block',type:'paragraph',paragraph:{rich_text:[{text:{content:'── 以下為前一版（舊）──'}}]}}]);\n    await appendBatch(oldSpecs);\n    for (const b of old) {\n      try { await this.helpers.httpRequest({method:'DELETE',url:'https://api.notion.com/v1/blocks/'+b.id.replace(/-/g,''),headers:NHEAD}); } catch(e){}\n    }\n    note='新版已寫入頁面最上方，前一版 '+oldSpecs.length+' 塊已移到下方保留';\n  } else {\n    note='頁面原為空，新版已寫入';\n  }\n} catch(err){ note='寫入正文錯誤：'+(err&&err.message||err); }\nreturn [{ json: { ...pc, write_note: note } }];"
   },
   "id": "35837d76-9203-4813-84d4-60291b612bc9",
   "name": "寫入正文(乙)",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2016,
    192
   ]
  },
  {
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse Claude').first().json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"執行備註\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($('Parse Claude').first().json.exec_note) }} } }] } } }",
    "options": {}
   },
   "id": "d39c32a0-34c6-4d91-9f4c-a60a8bcebf8d",
   "name": "PATCH DB06 執行備註",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    2240,
    192
   ]
  },
  {
   "parameters": {
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "keyValue": "={{ $('Parse Claude').first().json.db05_id }}"
      }
     ]
    },
    "limit": 1
   },
   "id": "9ed0225f-646f-4a4e-9f58-cf14d483ee40",
   "name": "Read flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    2464,
    192
   ]
  },
  {
   "parameters": {
    "jsCode": "const row=$input.first().json||{};\nconst pc=$('Parse Claude').first().json;\nconst auto_mode=row.auto_mode===true;\nconst reply_to=parseInt(row.last_msg_id||0)||0;\nconst result_msg='✅ 第 '+(pc.sort_num!=null?pc.sort_num:'?')+' 棒 ('+(pc.ai_mode||'')+') 已完成\\nDB06 '+pc.db06_id+'\\n\\n'+(pc.safe_summary||'')+(pc.usage_line?('\\ntokens '+pc.usage_line):'')+'\\n\\n📄 target 頁面：https://www.notion.so/'+(pc.db05_id||'').replace(/-/g,'');\nreturn [{json:{auto_mode,reply_to,flow_id:pc.db05_id,db05_id:pc.db05_id,db06_id:pc.db06_id,sort_num:pc.sort_num,ai_mode:pc.ai_mode,result_msg}}];"
   },
   "id": "2eef8789-7306-426e-8a0e-b5e1c6223dce",
   "name": "Build gateB",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2688,
    192
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Build gateB').first().json.result_msg, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   },
   "id": "2a08c461-d4e4-40dd-82e9-092c36b6254a",
   "name": "Telegram 成果通知",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2912,
    192
   ]
  },
  {
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Build gateB').first().json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"ai狀態\": { \"status\": { \"name\": \"完成\" } } } }",
    "options": {}
   },
   "id": "fea9cb49-a3c2-4fd8-a945-c8718074ab53",
   "name": "PATCH DB06 完成",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    3136,
    192
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n        { \"property\": \"對應提案\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應管考\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應項目\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應協作\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應內容\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應庫存\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應標籤\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應地點\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應提供對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"明細類型\", \"select\": { \"equals\": \"細部流程\" } }\n    ]\n  },\n  \"sorts\": [{ \"property\": \"排序\", \"direction\": \"ascending\" }]\n}",
    "options": {}
   },
   "id": "fc662a40-9588-4a2c-b836-49346a2235cb",
   "name": "Query DB06 next",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    3360,
    192
   ]
  },
  {
   "parameters": {
    "jsCode": "const results = $input.first().json.results || [];\nconst g = $('Build gateB').first().json;\nconst total = results.length;\nconst done = results.filter(p=>(p.properties['ai狀態']?.status?.name||'')==='完成').length;\nconst pending = results.filter(p => (p.properties['ai狀態']?.status?.name||'') !== '完成');\nif (pending.length === 0) {\n  return [{ json: { has_next:false, tg_done:'🎉 全套完成 — 共 '+total+' 棒已全部跑完。' } }];\n}\nconst p = pending[0];\nconst nid = p.id.replace(/-/g,'');\nconst nmode = p.properties['ai模式']?.select?.name || '';\nconst nidea = (p.properties['執行構想']?.rich_text||[]).map(t=>t.plain_text).join('').slice(0,600) || '(未填)';\nconst nsort = p.properties['排序']?.number;\nconst _b='https://makesense.zeabur.app/webhook/';\nlet runner_url;\nif (nmode.includes('聯想')) runner_url=_b+'db06-lianxiang-traversal';\nelse if (nmode.includes('搜查')) runner_url=_b+'db06-search';\nelse if (nmode.includes('分析')) runner_url=_b+'db06-analyze';\nelse if (nmode.includes('文案')) runner_url=_b+'db06-copy';\nelse if (nmode.includes('檢核')) runner_url=_b+'db06-check';\nelse runner_url=_b+'db06-plan';\nconst gateA = '🛫 關卡A 執行前確認\\n第 '+(nsort!=null?nsort:'?')+' 棒 ('+nmode+')。全套 '+total+' 棒,已完成 '+done+' 棒。\\nDB06 '+nid+'\\n\\n本棒預定執行構想:\\n'+nidea+'\\n\\n按 OK 放行這一棒,按 OK ALL 之後全自動。要 redo 重跑請打字 reply。\\n📄 本棒頁面：https://www.notion.so/'+nid+'\\ngateA db06='+nid;\nreturn [{ json: { has_next:true, db06_id:nid, runner_url, gateA, cb_ok:'A1:'+nid, cb_all:'AA:'+nid } }];"
   },
   "id": "774c9867-2177-4330-aa5c-d3dcd10a9287",
   "name": "Pick next",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3584,
    192
   ]
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict",
      "version": 1
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.has_next }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    },
    "options": {}
   },
   "id": "198a69ad-3e10-45a8-9afb-a5885812b8c4",
   "name": "has next?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    3808,
    192
   ]
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict",
      "version": 1
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $('Build gateB').first().json.auto_mode }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    },
    "options": {}
   },
   "id": "1aee5c7e-45e4-49e0-a60e-59687f84c871",
   "name": "auto_mode?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    4032,
    96
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "={{ $json.runner_url }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"db06_id\": \"{{ $json.db06_id }}\" }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   },
   "id": "f1282583-9632-43b0-b02e-360f41653d66",
   "name": "Run next baton",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    4256,
    0
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Pick next').first().json.gateA, disable_web_page_preview: true, allow_sending_without_reply: true, reply_markup: { inline_keyboard: [[ { text: '✅ OK', callback_data: $('Pick next').first().json.cb_ok }, { text: '⏩ OK ALL', callback_data: $('Pick next').first().json.cb_all } ]] } }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   },
   "id": "877c538b-513e-48c2-a451-5a2e6312c23f",
   "name": "Telegram 下一棒關卡A",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    4256,
    192
   ]
  },
  {
   "parameters": {
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build gateB').first().json.flow_id, last_msg_id: mid } }];"
   },
   "id": "855f684a-aa52-45ae-aa10-b6aa504929ff",
   "name": "Save msgid B",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    4480,
    192
   ]
  },
  {
   "parameters": {
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    },
    "options": {}
   },
   "id": "2b5d7c94-6fdc-4621-85d5-68414bee3a32",
   "name": "Update flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    4704,
    192
   ]
  },
  {
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $json.tg_message, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   },
   "id": "2c941507-6100-4540-88bf-535bd78bc0a0",
   "name": "Telegram 全套完成",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    4032,
    288
   ]
  }
 ],
 "connections": {
  "Runner Webhook": {
   "main": [
    [
     {
      "node": "Extract DB06 ID",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract DB06 ID": {
   "main": [
    [
     {
      "node": "Fetch DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch DB06": {
   "main": [
    [
     {
      "node": "Parse DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse DB06": {
   "main": [
    [
     {
      "node": "Read flow_state 處理中",
      "type": "main",
      "index": 0
     },
     {
      "node": "Fetch target DB05",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state 處理中": {
   "main": [
    [
     {
      "node": "Telegram 処理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 処理中": {
   "main": [
    [
     {
      "node": "Save msgid 処理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid 処理中": {
   "main": [
    [
     {
      "node": "Update flow_state 処理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch target DB05": {
   "main": [
    [
     {
      "node": "Build Claude prompt",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build Claude prompt": {
   "main": [
    [
     {
      "node": "Claude API",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Claude API": {
   "main": [
    [
     {
      "node": "Parse Claude",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse Claude": {
   "main": [
    [
     {
      "node": "PATCH target 發佈狀態",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH target 發佈狀態": {
   "main": [
    [
     {
      "node": "寫入正文(乙)",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "寫入正文(乙)": {
   "main": [
    [
     {
      "node": "PATCH DB06 執行備註",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 執行備註": {
   "main": [
    [
     {
      "node": "Read flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state B": {
   "main": [
    [
     {
      "node": "Build gateB",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build gateB": {
   "main": [
    [
     {
      "node": "Telegram 成果通知",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 成果通知": {
   "main": [
    [
     {
      "node": "PATCH DB06 完成",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 完成": {
   "main": [
    [
     {
      "node": "Query DB06 next",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query DB06 next": {
   "main": [
    [
     {
      "node": "Pick next",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Pick next": {
   "main": [
    [
     {
      "node": "has next?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "has next?": {
   "main": [
    [
     {
      "node": "auto_mode?",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 全套完成",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "auto_mode?": {
   "main": [
    [
     {
      "node": "Run next baton",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 下一棒關卡A",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 下一棒關卡A": {
   "main": [
    [
     {
      "node": "Save msgid B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid B": {
   "main": [
    [
     {
      "node": "Update flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "availableInMCP": true,
  "binaryMode": "separate"
 }
}
