n8n-rebuild/lianxiang_v5.json
{
 "name": "嗨嗨 聯想棒 v5 (讀PDF+聯想)",
 "nodes": [
  {
   "id": "3f681ac9-73d3-4e3b-a115-78cc41b3cdd4",
   "name": "Lianxiang Webhook",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "webhookId": "3e4fa481-414b-4e60-b193-94b652e345c6",
   "position": [
    0,
    0
   ],
   "parameters": {
    "httpMethod": "POST",
    "path": "db06-lianxiang-traversal",
    "responseMode": "onReceived"
   }
  },
  {
   "id": "ec3cef65-cb77-45c9-bf13-e7fe8bd005da",
   "name": "Extract DB06 ID",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    220,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const body=$input.first().json.body||$input.first().json;\nconst db06_id=(body.db06_id||body.id||'').toString().replace(/-/g,'');\nif(!db06_id) throw new Error('missing db06_id');\nreturn [{ json:{ db06_id } }];"
   }
  },
  {
   "id": "20b59ec6-98ac-43b5-9ba9-50f0ce40ea67",
   "name": "Fetch DB06",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    440,
    0
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "7f60a50c-9450-4d4c-b46e-e5d50f16daa8",
   "name": "Parse DB06",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    660,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const p=$input.first().json;\nconst T=[\"對應提案\", \"對應管考\", \"對應項目\", \"對應協作\", \"對應內容\", \"對應庫存\", \"對應對象\", \"對應標籤\", \"對應地點\", \"對應提供對象\"];\nlet target_id='',target_rel='';\nfor(const r of T){const a=p.properties[r]?.relation||[]; if(a.length){target_id=(a[0].id||'').replace(/-/g,'');target_rel=r;break;}}\nreturn [{ json:{\n  db06_id:p.id.replace(/-/g,''),\n  ai_mode:p.properties['ai模式']?.select?.name||'聯想',\n  exec_idea:p.properties['執行構想']?.rich_text?.map(t=>t.plain_text).join('')||'',\n  db05_id:target_id, target_rel,\n  sort_num:p.properties['排序']?.number\n}}];"
   }
  },
  {
   "id": "a0e24281-92c1-4d7c-864b-91e082e822a1",
   "name": "Fetch target",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    880,
    -80
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse DB06').first().json.db05_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "a5867038-d091-4b44-8704-bf259746457e",
   "name": "Get PDF + context",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1100,
    -80
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const target=$input.first().json;\nconst item=$('Parse DB06').first().json;\nconst tp=target.properties||{};\nconst _t=Object.values(tp).find(v=>v&&v.type==='title');\nconst target_name=(_t?.title||[]).map(t=>t.plain_text).join('')||'(未命名)';\nconst target_idea=tp['執行構想']?.rich_text?.map(t=>t.plain_text).join('')||'';\nlet files=[];\nfor(const k of Object.keys(tp)){ const v=tp[k]; if(v&&v.type==='files'&&Array.isArray(v.files)){ for(const f of v.files){ const url=f.file?.url||f.external?.url; if(url) files.push({name:f.name||'',url}); } } }\nconst pdf=files.find(f=>/\\.pdf(\\?|$)/i.test(f.url)||/\\.pdf$/i.test(f.name))||files[0]||null;\nreturn [{ json:{ ...item, target_name, target_idea, pdf_url: pdf?pdf.url:'', pdf_name: pdf?pdf.name:'' } }];"
   }
  },
  {
   "id": "5e26d26b-bc1c-4e59-8bea-ba9c9de37bc2",
   "name": "Download PDF + build body",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1320,
    -80
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const j=$input.first().json;\nlet pdf_b64='',pdf_ok=false;\nif(j.pdf_url){ try{ const buf=await this.helpers.httpRequest({url:j.pdf_url,encoding:'arraybuffer'}); pdf_b64=Buffer.from(buf).toString('base64'); pdf_ok=pdf_b64.length>0; }catch(e){ pdf_ok=false; } }\nconst system='你是 makesense（現思文化）嗨嗨家族的聯想棒。職責:讀本案的附件文件與脈絡,做關聯聯想。\\n工作:\\n1. 通讀附件 PDF,提煉與本案直接相關的關鍵構想,尤其各樓層/分區/分期的規劃內容。\\n2. 指出本案可關聯、可引用的方向(哪類既有資料、哪些主題值得連)。\\n3. 寫一段聯想結果:這份文件對本案(經費估算)的啟示。\\n鐵律:只根據文件與脈絡寫,不臆測;繁體中文。\\n只回合法 JSON:\\n{\"聯想結果\":\"200-500字\",\"樓層規劃要點\":[\"樓層=規劃重點\"],\"關聯建議\":[\"...\"],\"execution_summary\":\"做了什麼\"}';\nconst userText='target 內容\\n名稱 '+j.target_name+'\\n本棒執行構想\\n'+(j.exec_idea||j.target_idea||'(空)')+'\\n\\n'+(pdf_ok?('附件 PDF「'+j.pdf_name+'」已附上,請通讀。'):'(本案讀不到 PDF 附件,僅依上述脈絡聯想)')+'\\n\\n請依執行構想做聯想,回 JSON。';\nconst content=[];\nif(pdf_ok) content.push({type:'document',source:{type:'base64',media_type:'application/pdf',data:pdf_b64}});\ncontent.push({type:'text',text:userText});\nconst claude_body={ model:'claude-haiku-4-5-20251001', max_tokens:4096, system, messages:[{role:'user',content}] };\nreturn [{ json:{ claude_body, db06_id:j.db06_id, db05_id:j.db05_id, ai_mode:j.ai_mode, sort_num:j.sort_num, pdf_ok, pdf_name:j.pdf_name } }];"
   }
  },
  {
   "id": "5fb1a74d-e961-48b9-98b0-bddaacb0ae47",
   "name": "Claude API",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1540,
    -80
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.anthropic.com/v1/messages",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "x-api-key",
       "value": "={{ $env.ANTHROPIC_API_KEY }}"
      },
      {
       "name": "anthropic-version",
       "value": "2023-06-01"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify($json.claude_body) }}",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     },
     "timeout": 240000
    }
   }
  },
  {
   "id": "34744c53-ae6d-4b45-98e3-1620ab4cb50f",
   "name": "Parse Claude",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1760,
    -80
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const resp=$input.first().json;\nconst text=resp.content?.[0]?.text||'';\nconst usage=resp.usage||{};\nconst prompt=$('Download PDF + build body').first().json;\nlet parsed;\ntry{ const m=text.match(/\\{[\\s\\S]*\\}/); parsed=m?JSON.parse(m[0]):{'聯想結果':text.slice(0,500)}; }\ncatch(e){ parsed={'聯想結果':'JSON parse failed: '+text.slice(0,300)}; }\nconst sanitize=s=>(s||'').toString().replace(/[\\/\\\\:<>#@\\[\\]\\{\\}\\|\\^\\`\\*_~\"']/g,' ').replace(/[\\u2010-\\u2027\\u2030-\\u205E]/g,' ').replace(/[\\uFF00-\\uFF0F\\uFF1A-\\uFF20\\uFF3B-\\uFF40\\uFF5B-\\uFF65]/g,' ').replace(/[\\u3000-\\u3017\\u301D-\\u303F]/g,' ').replace(/\\s+/g,' ').trim().slice(0,600);\nconst it=parseInt(usage.input_tokens||0),ot=parseInt(usage.output_tokens||0);\nconst cost=((it*3+ot*15)/1000000*32).toFixed(2);\nconst usage_line='進='+it+' 出='+ot+' 成本NT'+cost;\nconst lx=(parsed['聯想結果']||'').toString();\nconst floors=Array.isArray(parsed['樓層規劃要點'])?parsed['樓層規劃要點']:[];\nconst links=Array.isArray(parsed['關聯建議'])?parsed['關聯建議']:[];\nlet full=lx;\nif(floors.length) full+='\\n\\n[樓層規劃要點]\\n- '+floors.join('\\n- ');\nif(links.length) full+='\\n\\n[關聯建議] '+links.join('；');\nfull=full.slice(0,1900);\nconst summary=(parsed['execution_summary']||'聯想完成')+(prompt.pdf_ok?' 已讀附件 '+prompt.pdf_name:' (無 PDF)')+' 樓層要點 '+floors.length+' 項 關聯建議 '+links.length+' 項';\nreturn [{ json:{ db06_id:prompt.db06_id, db05_id:prompt.db05_id, ai_mode:prompt.ai_mode, sort_num:prompt.sort_num, lianxiang_full:full, usage_line, safe_summary:sanitize(summary), preview_text:('聯想結果已寫入 '+full.length+' 字'), validator_warning:'' } }];"
   }
  },
  {
   "id": "8a1611f7-1af3-4433-927f-bd8bda8beb87",
   "name": "PATCH 執行備註",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1980,
    -80
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse Claude').first().json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"執行備註\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($json.lianxiang_full) }} } }] } } }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "77d6ce98-456f-45a7-9ea1-8a1e2357c4c3",
   "name": "Read flow_state 處理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    896,
    384
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "81835529-5015-4de3-9325-b39ffc8110c6",
   "name": "Telegram 處理中",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1120,
    384
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: '⏳ 第 ' + ($('Parse DB06').first().json.sort_num != null ? $('Parse DB06').first().json.sort_num : '?') + ' 棒 (' + $('Parse DB06').first().json.ai_mode + ') 開始處理。\\n預計 15-60 秒,Claude 思考中。完成會自動發關卡B,免守畫面。', disable_web_page_preview: true, allow_sending_without_reply: true }, ((parseInt($json.last_msg_id || 0) || 0) > 0 ? { reply_to_message_id: parseInt($json.last_msg_id || 0) || 0 } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "0489bec5-d966-438f-9d11-1501eaa61aee",
   "name": "Save msgid 處理中",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1344,
    384
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Parse DB06').first().json.db05_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "a58df171-1565-415d-8b12-2400a6a172e4",
   "name": "Update flow_state 處理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    1568,
    384
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "d1f9d99c-fef5-46ac-997c-6fb5bb4bc6ea",
   "name": "Read flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    4928,
    192
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse Claude').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "ce210101-8fb7-4c9c-82b3-f0dbbca5d586",
   "name": "Build gateB",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    5152,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const row = $input.first().json || {};\nconst pc = $('Parse Claude').first().json;\nconst auto_mode = row.auto_mode === true;\nconst reply_to = parseInt(row.last_msg_id || 0) || 0;\nconst base = '關卡B 成果確認\\n第 ' + (pc.sort_num != null ? pc.sort_num : '?') + ' 棒 (' + pc.ai_mode + ') 已完成。\\nDB06 頁面 ' + pc.db06_id + '\\n\\n執行備註:\\n' + pc.safe_summary + '\\n\\n' + pc.preview_text + (pc.validator_warning || '') + '\\ntokens ' + pc.usage_line;\nconst manual_msg = base + '\\n\\n按 OK 進下一棒,按 OK ALL 之後全自動。要 redo 重跑請打字 reply。\\ngateB db06=' + pc.db06_id;\nconst auto_msg = base + '\\n\\n[全自動模式] 自動進下一棒,免按。';\nreturn [{ json: { auto_mode, reply_to, flow_id: pc.db05_id, db05_id: pc.db05_id, db06_id: pc.db06_id, sort_num: pc.sort_num, ai_mode: pc.ai_mode, manual_msg, auto_msg, cb_ok: 'B1:' + pc.db06_id, cb_all: 'BA:' + pc.db06_id } }];"
   }
  },
  {
   "id": "e42f50b6-ecad-495c-bedd-d7bd5b08c63c",
   "name": "auto_mode?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    5376,
    192
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.auto_mode }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "b72f93ae-95c0-487d-b70a-44808ab52884",
   "name": "Telegram 關卡B auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    5600,
    96
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Build gateB').first().json.auto_msg, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "5f7b7d35-178a-4044-aca7-09cb2489e3d8",
   "name": "Save msgid B auto",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    5824,
    96
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build gateB').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "94962024-494f-4ac9-8680-a9454f4f1086",
   "name": "Update flow_state B auto",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    6048,
    96
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "b609c3c2-bd16-4a85-ab01-d6be04ce424d",
   "name": "PATCH DB06 完成 auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    6272,
    96
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Build gateB').first().json.db06_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"ai狀態\": { \"status\": { \"name\": \"完成\" } } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "27acf362-8447-40d3-afb8-0c94b67ca474",
   "name": "Query DB06 next auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    6496,
    96
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n        { \"property\": \"對應提案\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應管考\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應項目\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應協作\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應內容\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應庫存\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應標籤\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應地點\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應提供對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"明細類型\", \"select\": { \"equals\": \"細部流程\" } }\n    ]\n  },\n  \"sorts\": [{ \"property\": \"排序\", \"direction\": \"ascending\" }]\n}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "da779208-ac2a-432e-a8dd-40ba5cda4c47",
   "name": "Pick next auto",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    6720,
    96
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const results = $input.first().json.results || [];\nconst g = $('Build gateB').first().json;\nconst pending = results.filter(p => (p.properties['ai狀態']?.status?.name||'') !== '完成');\nconst total = results.length;\nif (pending.length === 0) {\n  return [{ json: { has_next: false, tg_message: '全套完成 共 ' + total + ' 棒已全部通過 (全自動模式)。' } }];\n}\nconst p = pending[0];\nconst db06_id = p.id.replace(/-/g, '');\nconst ai_mode = p.properties['ai模式']?.select?.name || '';\nlet runner_url;\nif (ai_mode.includes('聯想')) runner_url = 'https://makesense.zeabur.app/webhook/db06-lianxiang-traversal';\nelse if (ai_mode.includes('搜查')) runner_url = 'https://makesense.zeabur.app/webhook/db06-search';\nelse runner_url = 'https://makesense.zeabur.app/webhook/db06-baton-runner';\nreturn [{ json: { has_next: true, db06_id, runner_url, tg_message: '' } }];"
   }
  },
  {
   "id": "6af7c34b-137d-40d2-8ba4-5229507e124d",
   "name": "has next auto?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    6944,
    96
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.has_next }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "608c4b9c-f14d-44f4-816f-df43631bb731",
   "name": "Run next baton auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    7168,
    0
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ $json.runner_url }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"db06_id\": \"{{ $json.db06_id }}\" }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "36f1b797-0468-4fa3-8dec-89088215baa5",
   "name": "Telegram 全套完成 auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    7168,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $json.tg_message, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "d50f442a-29e5-49b2-a971-0f7a55e66dc1",
   "name": "Telegram 關卡B",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    5600,
    288
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Build gateB').first().json.manual_msg, disable_web_page_preview: true, allow_sending_without_reply: true, reply_markup: { inline_keyboard: [[ { text: '✅ OK', callback_data: $('Build gateB').first().json.cb_ok }, { text: '⏩ OK ALL', callback_data: $('Build gateB').first().json.cb_all } ]] } }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "2876a8d0-3eaa-4fc6-818f-e86f3b4c3326",
   "name": "Save msgid B",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    5824,
    288
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build gateB').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "70e14298-efeb-427b-b152-787f0f25f5b3",
   "name": "Update flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    6048,
    288
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  }
 ],
 "connections": {
  "Lianxiang Webhook": {
   "main": [
    [
     {
      "node": "Extract DB06 ID",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract DB06 ID": {
   "main": [
    [
     {
      "node": "Fetch DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch DB06": {
   "main": [
    [
     {
      "node": "Parse DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse DB06": {
   "main": [
    [
     {
      "node": "Read flow_state 處理中",
      "type": "main",
      "index": 0
     },
     {
      "node": "Fetch target",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state 處理中": {
   "main": [
    [
     {
      "node": "Telegram 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 處理中": {
   "main": [
    [
     {
      "node": "Save msgid 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid 處理中": {
   "main": [
    [
     {
      "node": "Update flow_state 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch target": {
   "main": [
    [
     {
      "node": "Get PDF + context",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Get PDF + context": {
   "main": [
    [
     {
      "node": "Download PDF + build body",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Download PDF + build body": {
   "main": [
    [
     {
      "node": "Claude API",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Claude API": {
   "main": [
    [
     {
      "node": "Parse Claude",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse Claude": {
   "main": [
    [
     {
      "node": "PATCH 執行備註",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH 執行備註": {
   "main": [
    [
     {
      "node": "Read flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state B": {
   "main": [
    [
     {
      "node": "Build gateB",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build gateB": {
   "main": [
    [
     {
      "node": "auto_mode?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "auto_mode?": {
   "main": [
    [
     {
      "node": "Telegram 關卡B auto",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 關卡B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 關卡B auto": {
   "main": [
    [
     {
      "node": "Save msgid B auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid B auto": {
   "main": [
    [
     {
      "node": "Update flow_state B auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Update flow_state B auto": {
   "main": [
    [
     {
      "node": "PATCH DB06 完成 auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 完成 auto": {
   "main": [
    [
     {
      "node": "Query DB06 next auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query DB06 next auto": {
   "main": [
    [
     {
      "node": "Pick next auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Pick next auto": {
   "main": [
    [
     {
      "node": "has next auto?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "has next auto?": {
   "main": [
    [
     {
      "node": "Run next baton auto",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 全套完成 auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 關卡B": {
   "main": [
    [
     {
      "node": "Save msgid B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid B": {
   "main": [
    [
     {
      "node": "Update flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "availableInMCP": true
 }
}