n8n-rebuild/plan_v4.json
{
 "name": "嗨嗨 企劃棒 v5 (照spec+建子頁)",
 "nodes": [
  {
   "id": "c98cab6c-05fa-4ffb-a291-569dc2407d86",
   "name": "Runner Webhook",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "position": [
    0,
    96
   ],
   "parameters": {
    "httpMethod": "POST",
    "path": "db06-plan",
    "responseMode": "onReceived"
   },
   "webhookId": "0887f7bd-9525-4b89-8012-e3aceb99b07d"
  },
  {
   "id": "6ba05b53-172f-4a17-b2f3-905ac0cc709a",
   "name": "Extract DB06 ID",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    224,
    96
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst db06_id = (body.db06_id || body.id || '').toString().replace(/-/g, '');\nif (!db06_id) throw new Error('missing db06_id');\nreturn [{ json: { db06_id } }];"
   }
  },
  {
   "id": "ebb1cba7-8a1c-46d4-b711-1f49a92c2c9a",
   "name": "Fetch DB06",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    448,
    96
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "d1c607ea-809d-49ae-a756-95950f1224cf",
   "name": "Parse DB06",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    672,
    96
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const p = $input.first().json;\nconst TARGET_RELS = [\"對應提案\", \"對應管考\", \"對應項目\", \"對應協作\", \"對應內容\", \"對應庫存\", \"對應對象\", \"對應標籤\", \"對應地點\", \"對應提供對象\"];\nlet target_id = '', target_rel = '';\nfor (const rel of TARGET_RELS) {\n  const arr = p.properties[rel]?.relation || [];\n  if (arr.length) { target_id = (arr[0].id||'').replace(/-/g,''); target_rel = rel; break; }\n}\nreturn [{ json: {\n  db06_id: p.id.replace(/-/g, ''),\n  ai_mode: p.properties['ai模式']?.select?.name || '',\n  execute_idea_db06: p.properties['執行構想']?.rich_text?.map(t=>t.plain_text).join('') || '',\n  mingxi_content: p.properties['明細內容']?.rich_text?.map(t=>t.plain_text).join('') || '',\n  db05_id: target_id,\n  target_rel: target_rel,\n  mingxi_name: p.properties['明細名稱']?.title?.map(t=>t.plain_text).join('') || '',\n  sort_num: p.properties['排序']?.number\n}}];"
   }
  },
  {
   "id": "3e1a0086-782a-4424-8674-dc5720ad3957",
   "name": "Read flow_state 處理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    896,
    0
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "44ab9096-4304-4b3d-a707-be59ec182ef5",
   "name": "Telegram 處理中",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1120,
    0
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: '⏳ 第 ' + ($('Parse DB06').first().json.sort_num != null ? $('Parse DB06').first().json.sort_num : '?') + ' 棒 (' + $('Parse DB06').first().json.ai_mode + ') 開始處理。\\n預計 15-60 秒,Claude 思考中。完成會自動發關卡B,免守畫面。', disable_web_page_preview: true, allow_sending_without_reply: true }, ((parseInt($json.last_msg_id || 0) || 0) > 0 ? { reply_to_message_id: parseInt($json.last_msg_id || 0) || 0 } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "125e979f-82fb-4981-b463-71503cd68b6e",
   "name": "Save msgid 處理中",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1344,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Parse DB06').first().json.db05_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "9ddb5cc1-8f21-4c29-b4ce-0b095b250f1f",
   "name": "Update flow_state 處理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    1568,
    0
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "d49e9996-b762-4ca8-953c-9685b8eb6744",
   "name": "Fetch target DB05",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    896,
    192
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse DB06').first().json.db05_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "ca1444a6-34a4-45f0-888e-c4f79a3a69e7",
   "name": "Build Claude prompt",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1120,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const baton = $('Parse DB06').first().json;\nconst target = $input.first().json;\nconst tp = target.properties || {};\nconst titleProp = Object.values(tp).find(v=>v&&v.type==='title');\nconst target_name = (titleProp?.title||[]).map(t=>t.plain_text).join('') || '(未命名)';\nconst rt = k => (tp[k]?.rich_text||[]).map(t=>t.plain_text).join('');\nconst cur_idea = rt('執行構想');\nconst analysis = rt('分析備註');\nconst summary = rt('簡介摘要');\nconst theme = rt('主題名稱');\nconst tgt_exec_note = rt('執行備註') || '';\nconst XF=['提案引用','管考引用','項目引用','協作引用','內容引用','明細引用','庫存引用','對象引用','日期引用'];\nlet xc=0; for(const f of XF) xc += ((tp[f]&&tp[f].relation)||[]).length;\nconst own_idea = baton.execute_idea_db06 || '';\nconst REL2DB={'對應提案':1,'對應管考':2,'對應項目':3,'對應協作':4,'對應內容':5,'對應庫存':7,'對應對象':8,'對應標籤':8,'對應地點':8,'對應提供對象':8};\nconst tdb=REL2DB[baton.target_rel]||0;\nconst childDBs=(tdb>=1&&tdb<=5)?[]:null;\nlet allowed=[]; if(tdb>=1&&tdb<=5){ for(let x=tdb+1;x<=6;x++) allowed.push('DB0'+x); }\nconst childRule = allowed.length ? ('本 target 屬 DB0'+tdb+'，建子頁只能往下建：'+allowed.join('/')+'。提案其他 DB = 違規，不要提。') : ('本 target 不在從屬鏈下游可建範圍，建子頁提案一律回空陣列 []。');\n\nconst inv = '【素材盤點】\\nX引用連到的資料參考：'+xc+' 筆\\n分析備註：'+(analysis?('已有 '+analysis.length+' 字'):'(空，尚未被分析)')+'\\n現有執行構想：'+(cur_idea?(cur_idea.length+' 字'):'(空)')+'\\n主題名稱：'+(theme||'(空)')+'　簡介摘要：'+(summary?'已有':'(空)');\nconst system = \"你是 makesense（現思文化創藝有限公司，宜蘭在地文化事業）嗨嗨家族的嗨嗨企劃（規劃師）。職責：把 target 的目標輪廓變成可執行架構，寫進 target 的執行構想。\\n== 工作方式 ==\\n先看素材盤點，把規劃推進到「現有素材能支撐的解析度」：\\n- 素材近空（資料參考 0-2 筆）→ 粗 scope：寫 3-6 段結構化方向，並抽 3-8 個對應標籤候選關鍵詞（人名/地名/事件/主題短語）供搜查採集。\\n- 素材部分到位 → 章節雛形：列章節骨架，缺的素材標「待補」。\\n- 素材齊備（資料參考多筆＋有分析備註）→ 細結構：執行構想推進成含 markdown ## 章節標題的完整企劃版，每章標目標字數與素材方向；並填主題名稱（4-12字）、簡介摘要（60-100字）。\\n長文（預估>8000字）：逐章自足，每個 ## 章標目標字數（2000-4000字/章）、素材方向、與前後章銜接點。\\n== 鐵律 ==\\n1. 本次執行構想（四九對企劃的特別交辦）優先於通用規格。\\n2. 「執行構想新增段」只回新增的內容，不要重複現有全文 —— 系統會自動把你的新增段接到原文後面。\\n3. 素材未齊的部分寫「待補方向」，不硬編。\\n4. 一律繁體中文，具體可查證。\\n== 建子頁 ==\\n若判斷此 target 需要拆成數個下級子頁（只能沿從屬鏈往下：提案DB01→管考DB02→項目DB03→協作DB04→內容DB05→明細DB06），在「建子頁提案」列出，每個含 DB/暫定標題/理由/欄位組合。不需要就回空陣列 []。實際建頁會由四九逐一按按鈕同意，你只提案。\\n== 只回合法 JSON ==\\n{\\\"execution_summary\\\":\\\"做了什麼/素材盤點結果/未做什麼\\\",\\\"主題名稱\\\":\\\"後期才填，否則空字串\\\",\\\"簡介摘要\\\":\\\"後期才填，否則空字串\\\",\\\"執行構想新增段\\\":\\\"3-5句方向或完整章節版，不含原文\\\",\\\"對應標籤候選\\\":[\\\"關鍵詞\\\"],\\\"建子頁提案\\\":[{\\\"DB\\\":\\\"DB04\\\",\\\"暫定標題\\\":\\\"...\\\",\\\"理由\\\":\\\"一句話\\\",\\\"欄位組合\\\":\\\"例:協作類別=辦理活動、活動選項=講座課程\\\"}],\\\"needs_human_intervention\\\":false}\";\nconst user = '【建子頁方向限制】'+childRule+'\\n\\ntarget 名稱：'+target_name+'\\n\\n'+inv+'\\n\\n【現有執行構想全文】\\n'+(cur_idea||'(空)')+'\\n\\n【本棒執行構想 — 四九對企劃這一棒的特別交辦】\\n'+(own_idea||'(空)')+'\\n\\n【上輪嗨嗨檢核成果紀錄】\\n'+(tgt_exec_note||'(尚未有檢核記錄)')+'\\n\\n依素材盤點決定規劃解析度，回 JSON。';\nreturn [{ json: { system, user, cur_idea, target_name, target_id: baton.db05_id, db06_id: baton.db06_id, ai_mode: baton.ai_mode||'企劃', sort_num: baton.sort_num, target_rel: baton.target_rel, allowed_child_dbs: allowed } }];"
   }
  },
  {
   "id": "bc83f590-a101-41b2-8b26-12424385d85d",
   "name": "Claude API",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1344,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.anthropic.com/v1/messages",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "x-api-key",
       "value": "={{ $env.ANTHROPIC_API_KEY }}"
      },
      {
       "name": "anthropic-version",
       "value": "2023-06-01"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 4096,\n  \"system\": {{ JSON.stringify($json.system) }},\n  \"messages\": [{ \"role\": \"user\", \"content\": {{ JSON.stringify($json.user) }} }]\n}"
   }
  },
  {
   "id": "17105e26-36ff-490e-921b-71b3e8dcacd7",
   "name": "Parse Claude",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1568,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const resp = $input.first().json;\nconst ctx = $('Build Claude prompt').first().json;\nconst text = resp.content?.[0]?.text || '';\nconst usage = resp.usage || {};\nlet p; try { const m=text.match(/\\{[\\s\\S]*\\}/); p=m?JSON.parse(m[0]):{} ; } catch(e){ p={}; }\nconst newSeg = (p['執行構想新增段']||'').toString().trim();\nconst d=new Date(); const tw=new Date(d.getTime()+8*3600*1000);\nconst ts=tw.getUTCFullYear()+'-'+String(tw.getUTCMonth()+1).padStart(2,'0')+'-'+String(tw.getUTCDate()).padStart(2,'0')+' '+String(tw.getUTCHours()).padStart(2,'0')+':'+String(tw.getUTCMinutes()).padStart(2,'0');\nconst cur = ctx.cur_idea || '';\nconst full = newSeg ? ((cur?cur+'\\n\\n':'')+'── '+ts+' 企劃 ──\\n'+newSeg) : cur;\nconst chunk = s => { const a=[]; for(let i=0;i<s.length;i+=2000) a.push({text:{content:s.slice(i,i+2000)}}); return a.length?a:[{text:{content:''}}]; };\nconst target_props = {};\nif (full) target_props['執行構想'] = { rich_text: chunk(full) };\nconst theme=(p['主題名稱']||'').toString().trim();\nif(theme){ if(ctx.target_rel==='對應提案'){ target_props['專案名稱']={title:[{text:{content:theme.slice(0,200)}}]}; } else { target_props['主題名稱']={rich_text:[{text:{content:theme.slice(0,200)}}]}; } }\nconst sm=(p['簡介摘要']||'').toString().trim(); if(sm) target_props['簡介摘要']={rich_text:[{text:{content:sm.slice(0,1900)}}]};\nconst tags = Array.isArray(p['對應標籤候選'])?p['對應標籤候選'].slice(0,8):[];\nlet subpages = Array.isArray(p['建子頁提案'])?p['建子頁提案'].slice(0,8):[];\nconst allowed=new Set(ctx.allowed_child_dbs||[]);\nsubpages = subpages.filter(s=>s&&s['暫定標題']&&allowed.has((s['DB']||'').toString()));\nconst it=parseInt(usage.input_tokens||0), ot=parseInt(usage.output_tokens||0);\nconst cost=((it*0.8+ot*4)/1000000*32).toFixed(2);\nconst usage_line='進='+it+' 出='+ot+' 成本NT'+cost;\nconst exec_summary=(p.execution_summary||'企劃完成').toString();\nlet exec_note='── '+ts+' 企劃 ──\\n'+exec_summary;\nif(tags.length) exec_note+='\\n對應標籤候選(給搜查):'+tags.join('、');\nif(subpages.length) exec_note+='\\n建子頁提案 '+subpages.length+' 個(已發 Telegram 待四九逐一確認)';\nexec_note=exec_note.slice(0,1990);\nconst sanitize=s=>(s||'').toString().replace(/[\\/\\\\:<>#@\\[\\]\\{\\}\\|\\^`\\*_~\"']/g,' ').replace(/\\s+/g,' ').trim().slice(0,500);\nconst wk=Object.keys(target_props);\nreturn [{ json: { db06_id:ctx.db06_id, db05_id:ctx.target_id, target_id:ctx.target_id, ai_mode:ctx.ai_mode, sort_num:ctx.sort_num,\n  target_props, subpages, exec_note, usage_line, safe_summary:sanitize(exec_note),\n  preview_text:'企劃寫入 '+(wk.join('、')||'無')+(subpages.length?(' | 建子頁提案 '+subpages.length+' 個待確認'):''), validator_warning:'' } }];"
   }
  },
  {
   "id": "96099173-5ceb-4363-9219-cb326c03eb35",
   "name": "PATCH target 企劃",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1792,
    192
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $json.target_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": {{ JSON.stringify($json.target_props) }} }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "options": {}
   }
  },
  {
   "id": "a68a6cb7-501a-48c3-9ae0-a48e6773dd84",
   "name": "送建子頁詢問",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2016,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const pc = $('Parse Claude').first().json;\nconst subs = pc.subpages || [];\nlet sent = 0;\nconst NHEAD={'Authorization':'Bearer '+$env.NOTION_INTEGRATION_TOKEN,'Notion-Version':'2022-06-28','Content-Type':'application/json'};\nif (subs.length) {\n  try {\n    await this.helpers.httpRequest({method:'PATCH',url:'https://api.notion.com/v1/pages/'+pc.db06_id,headers:NHEAD,body:JSON.stringify({properties:{'明細內容':{rich_text:[{text:{content:JSON.stringify(subs).slice(0,1990)}}]}}})});\n  } catch(e) {}\n  const base='https://makesense.zeabur.app/webhook/db06-subpage-create';\n  for (let i=0;i<subs.length;i++) {\n    const s=subs[i];\n    const msg='🧩 嗨嗨企劃建議新增子頁 '+(i+1)+'/'+subs.length+'\\n暫定標題：'+(s['暫定標題']||'')+'\\n屬於：'+(s['DB']||'')+'\\n理由：'+(s['理由']||'')+'\\n欄位組合：'+(s['欄位組合']||'(未指定)')+'\\n\\n按 OK 建這頁；OK ALL 連後面的一起建；有意見就別按、或 reply 這則訊息。';\n    const kb={inline_keyboard:[[{text:'✅ OK（建這頁）',url:base+'?db06='+pc.db06_id+'&idx='+i},{text:'⏩ OK ALL（這頁+剩下全部）',url:base+'?db06='+pc.db06_id+'&idx='+i+'&all=1'}]]};\n    try {\n      await this.helpers.httpRequest({method:'POST',url:'https://api.telegram.org/bot'+$env.TELEGRAM_BOT_TOKEN+'/sendMessage',headers:{'Content-Type':'application/json'},body:JSON.stringify({chat_id:8523155253,text:msg,reply_markup:kb})});\n      sent++;\n    } catch(e) {}\n  }\n}\nreturn [{ json: { ...pc, subpage_msgs_sent:sent } }];"
   }
  },
  {
   "id": "db990745-36d6-4edf-8eeb-cc17b17c98d2",
   "name": "PATCH DB06 執行備註",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    2240,
    192
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse Claude').first().json.db06_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"執行備註\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($('Parse Claude').first().json.exec_note) }} } }] } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "d446fb2a-b71c-4f49-8858-6b8ad143ef56",
   "name": "Read flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    2464,
    192
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse Claude').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "de5d65e8-76b9-4d02-9c76-2ec355a927fd",
   "name": "Build gateB",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2688,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const row=$input.first().json||{};\nconst pc=$('Parse Claude').first().json;\nconst auto_mode=row.auto_mode===true;\nconst reply_to=parseInt(row.last_msg_id||0)||0;\nconst result_msg='✅ 第 '+(pc.sort_num!=null?pc.sort_num:'?')+' 棒 ('+(pc.ai_mode||'')+') 已完成\\nDB06 '+pc.db06_id+'\\n\\n'+(pc.safe_summary||'')+(pc.usage_line?('\\ntokens '+pc.usage_line):'')+'\\n\\n📄 target 頁面：https://www.notion.so/'+(pc.db05_id||'').replace(/-/g,'');\nreturn [{json:{auto_mode,reply_to,flow_id:pc.db05_id,db05_id:pc.db05_id,db06_id:pc.db06_id,sort_num:pc.sort_num,ai_mode:pc.ai_mode,result_msg}}];"
   }
  },
  {
   "id": "48919b1e-0b3b-4650-aaa7-b8c01ad98d57",
   "name": "Telegram 成果通知",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2912,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Build gateB').first().json.result_msg, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "3fa2454e-cc67-44f5-a97e-e71aec9917bc",
   "name": "PATCH DB06 完成",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    3136,
    192
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Build gateB').first().json.db06_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"ai狀態\": { \"status\": { \"name\": \"完成\" } } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "bf140b82-53ac-4587-a3b1-495b30917cde",
   "name": "Query DB06 next",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    3360,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n        { \"property\": \"對應提案\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應管考\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應項目\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應協作\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應內容\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應庫存\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應標籤\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應地點\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應提供對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"明細類型\", \"select\": { \"equals\": \"細部流程\" } }\n    ]\n  },\n  \"sorts\": [{ \"property\": \"排序\", \"direction\": \"ascending\" }]\n}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "6f7f1c6b-f07b-4dc4-a187-75822429398b",
   "name": "Pick next",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3584,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const results = $input.first().json.results || [];\nconst g = $('Build gateB').first().json;\nconst total = results.length;\nconst done = results.filter(p=>(p.properties['ai狀態']?.status?.name||'')==='完成').length;\nconst pending = results.filter(p => (p.properties['ai狀態']?.status?.name||'') !== '完成');\nif (pending.length === 0) {\n  return [{ json: { has_next:false, tg_done:'🎉 全套完成 — 共 '+total+' 棒已全部跑完。' } }];\n}\nconst p = pending[0];\nconst nid = p.id.replace(/-/g,'');\nconst nmode = p.properties['ai模式']?.select?.name || '';\nconst nidea = (p.properties['執行構想']?.rich_text||[]).map(t=>t.plain_text).join('').slice(0,600) || '(未填)';\nconst nsort = p.properties['排序']?.number;\nconst _b='https://makesense.zeabur.app/webhook/';\nlet runner_url;\nif (nmode.includes('聯想')) runner_url=_b+'db06-lianxiang-traversal';\nelse if (nmode.includes('搜查')) runner_url=_b+'db06-search';\nelse if (nmode.includes('分析')) runner_url=_b+'db06-analyze';\nelse if (nmode.includes('文案')) runner_url=_b+'db06-copy';\nelse if (nmode.includes('檢核')) runner_url=_b+'db06-check';\nelse runner_url=_b+'db06-plan';\nconst gateA = '🛫 關卡A 執行前確認\\n第 '+(nsort!=null?nsort:'?')+' 棒 ('+nmode+')。全套 '+total+' 棒,已完成 '+done+' 棒。\\nDB06 '+nid+'\\n\\n本棒預定執行構想:\\n'+nidea+'\\n\\n按 OK 放行這一棒,按 OK ALL 之後全自動。要 redo 重跑請打字 reply。\\n📄 本棒頁面：https://www.notion.so/'+nid+'\\ngateA db06='+nid;\nreturn [{ json: { has_next:true, db06_id:nid, runner_url, gateA, cb_ok:'A1:'+nid, cb_all:'AA:'+nid } }];"
   }
  },
  {
   "id": "9b8fe522-f03e-4384-8acd-ad745966a52b",
   "name": "has next?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    3808,
    192
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.has_next }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "39af726d-9960-486a-9b39-d524ae2d3485",
   "name": "auto_mode?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    4032,
    96
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $('Build gateB').first().json.auto_mode }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "8be7b109-3a11-4462-88f1-9022031eaee4",
   "name": "Run next baton",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    4256,
    0
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ $json.runner_url }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"db06_id\": \"{{ $json.db06_id }}\" }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "73dc5501-3c67-42ca-a752-729490464475",
   "name": "Telegram 下一棒關卡A",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    4256,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Pick next').first().json.gateA, disable_web_page_preview: true, allow_sending_without_reply: true, reply_markup: { inline_keyboard: [[ { text: '✅ OK', callback_data: $('Pick next').first().json.cb_ok }, { text: '⏩ OK ALL', callback_data: $('Pick next').first().json.cb_all } ]] } }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "3db4bb45-38c6-438b-852b-e4a311069758",
   "name": "Save msgid B",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    4480,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build gateB').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "e37a52bb-18bc-433d-b6da-ee42eb94af6e",
   "name": "Update flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    4704,
    192
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "410f4abc-7e44-4409-a8c4-5ebb190d0974",
   "name": "Telegram 全套完成",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    4032,
    288
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $json.tg_message, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  }
 ],
 "connections": {
  "Runner Webhook": {
   "main": [
    [
     {
      "node": "Extract DB06 ID",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract DB06 ID": {
   "main": [
    [
     {
      "node": "Fetch DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch DB06": {
   "main": [
    [
     {
      "node": "Parse DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse DB06": {
   "main": [
    [
     {
      "node": "Read flow_state 處理中",
      "type": "main",
      "index": 0
     },
     {
      "node": "Fetch target DB05",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state 處理中": {
   "main": [
    [
     {
      "node": "Telegram 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 處理中": {
   "main": [
    [
     {
      "node": "Save msgid 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid 處理中": {
   "main": [
    [
     {
      "node": "Update flow_state 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch target DB05": {
   "main": [
    [
     {
      "node": "Build Claude prompt",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build Claude prompt": {
   "main": [
    [
     {
      "node": "Claude API",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Claude API": {
   "main": [
    [
     {
      "node": "Parse Claude",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse Claude": {
   "main": [
    [
     {
      "node": "PATCH target 企劃",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH target 企劃": {
   "main": [
    [
     {
      "node": "送建子頁詢問",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "送建子頁詢問": {
   "main": [
    [
     {
      "node": "PATCH DB06 執行備註",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 執行備註": {
   "main": [
    [
     {
      "node": "Read flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state B": {
   "main": [
    [
     {
      "node": "Build gateB",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build gateB": {
   "main": [
    [
     {
      "node": "Telegram 成果通知",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 成果通知": {
   "main": [
    [
     {
      "node": "PATCH DB06 完成",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 完成": {
   "main": [
    [
     {
      "node": "Query DB06 next",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query DB06 next": {
   "main": [
    [
     {
      "node": "Pick next",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Pick next": {
   "main": [
    [
     {
      "node": "has next?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "has next?": {
   "main": [
    [
     {
      "node": "auto_mode?",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 全套完成",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "auto_mode?": {
   "main": [
    [
     {
      "node": "Run next baton",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 下一棒關卡A",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 下一棒關卡A": {
   "main": [
    [
     {
      "node": "Save msgid B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid B": {
   "main": [
    [
     {
      "node": "Update flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "availableInMCP": true
 }
}
