n8n-rebuild/reply_handler_v4.json
{
 "name": "嗨嗨 Reply Handler v4 (狀態機)",
 "nodes": [
  {
   "id": "c8e7d06d-83b9-43e8-8195-a71f4f3643e1",
   "name": "TG Trigger",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "position": [
    0,
    288
   ],
   "parameters": {
    "httpMethod": "POST",
    "path": "hihi-tg-update",
    "responseMode": "onReceived"
   },
   "webhookId": "b8b368f6-df89-486c-a87c-9ee89c98e7b7"
  },
  {
   "id": "f67ef137-f48d-4d76-adba-dfa29a2cc606",
   "name": "Parse Reply",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    224,
    288
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const j = $input.first().json.body || $input.first().json;\nif (j.callback_query) {\n  const cq = j.callback_query;\n  const data = (cq.data || '').toString();\n  const m = data.match(/^([AB])([01A]):([a-f0-9]{32})$/);\n  if (!m) return [{ json: { valid: false, route: 'none' } }];\n  const gate = m[1]; const code = m[2]; const db06_id = m[3];\n  const chat_id = cq.message?.chat?.id || 8523155253;\n  const is_all = code === 'A';\n  const ok = code === '1' || is_all;\n  let route;\n  if (gate === 'A') route = ok ? 'gateA_go' : 'cancel';\n  else route = ok ? 'gateB_go' : 'cancel';\n  return [{ json: { valid: true, route, gate, db06_id, reply_text: '', chat_id, set_auto: is_all } }];\n}\nconst msg = j.message || j;\nconst reply_to = msg.reply_to_message;\nconst out = { valid: false, route: 'none' };\nif (!reply_to) return [{ json: out }];\nconst orig = reply_to.text || '';\nconst m2 = orig.match(/gate([AB])\\s+db06=([a-f0-9]{32})/i);\nif (!m2) return [{ json: out }];\nconst gate = m2[1].toUpperCase();\nconst db06_id = m2[2];\nconst reply_text = (msg.text || '').toString().trim();\nif (!reply_text) return [{ json: out }];\nconst chat_id = msg.chat.id;\nconst lower = reply_text.toLowerCase();\nconst approveSet = ['好','ok','同意','通過','可以','讚','y','yes'];\nconst isApprove = approveSet.includes(lower);\nconst isRedo = /redo|重跑/i.test(reply_text);\nlet route;\nif (gate === 'A') route = isApprove ? 'gateA_go' : 'gateA_modify';\nelse { if (isApprove) route = 'gateB_go'; else if (isRedo) route = 'gateB_redo'; else route = 'gateB_hint'; }\nreturn [{ json: { valid: true, route, gate, db06_id, reply_text, chat_id, set_auto: false } }];"
   }
  },
  {
   "id": "ae256f6b-4a4f-4307-8a91-75109cb07648",
   "name": "Valid reply?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    448,
    288
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.valid }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "7d336f77-bfcd-4ef0-8498-db3c4ce33b35",
   "name": "Fetch DB06",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    672,
    192
   ],
   "parameters": {
    "method": "GET",
    "url": "={{ \"https://api.notion.com/v1/pages/\" + $json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "cda85264-39fa-42a8-91a1-361ad0afba76",
   "name": "Parse DB06",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    896,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const p = $input.first().json;\nconst r = $('Parse Reply').first().json;\nconst ai_mode = p.properties['ai模式']?.select?.name || '';\nlet runner_url;\nconst _b = 'https://makesense.zeabur.app/webhook/';\nif (ai_mode.includes('聯想')) runner_url = _b + 'db06-lianxiang-traversal';\nelse if (ai_mode.includes('搜查')) runner_url = _b + 'db06-search';\nelse if (ai_mode.includes('分析')) runner_url = _b + 'db06-analyze';\nelse if (ai_mode.includes('文案')) runner_url = _b + 'db06-copy';\nelse if (ai_mode.includes('檢核')) runner_url = _b + 'db06-check';\nelse runner_url = _b + 'db06-plan';\nreturn [{ json: {\n  ...r,\n  ai_mode,\n  runner_url,\n  exec_idea: p.properties['執行構想']?.rich_text?.map(t=>t.plain_text).join('') || '',\n  sort_num: p.properties['排序']?.number,\n  db05_id: (function(){ var T=[\"對應提案\", \"對應管考\", \"對應項目\", \"對應協作\", \"對應內容\", \"對應庫存\", \"對應對象\", \"對應標籤\", \"對應地點\", \"對應提供對象\"]; for(var i=0;i<T.length;i++){var a=p.properties[T[i]]?.relation||[]; if(a.length) return (a[0].id||'').replace(/-/g,'');} return ''; })(),\n  target_rel: (function(){ var T=[\"對應提案\", \"對應管考\", \"對應項目\", \"對應協作\", \"對應內容\", \"對應庫存\", \"對應對象\", \"對應標籤\", \"對應地點\", \"對應提供對象\"]; for(var i=0;i<T.length;i++){var a=p.properties[T[i]]?.relation||[]; if(a.length) return T[i];} return ''; })()\n}}];"
   }
  },
  {
   "id": "e1089cef-c7ff-40cc-b0e1-70114f9632e5",
   "name": "Set auto_mode",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    1120,
    192
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.set_auto ? $json.db05_id : '__no_match__' }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "auto_mode": true
     }
    }
   },
   "alwaysOutputData": true
  },
  {
   "id": "33bba14a-0392-4419-b73c-4feb0e18d429",
   "name": "route gateA_go?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    1344,
    192
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $('Parse DB06').first().json.route }}",
       "rightValue": "gateA_go",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ]
    }
   }
  },
  {
   "id": "a71c08a8-c841-47ee-acbf-90db24181fdc",
   "name": "Run baton (gateA go)",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1568,
    96
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ $('Parse DB06').first().json.runner_url }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"db06_id\": \"{{ $('Parse DB06').first().json.db06_id }}\" }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "683d22d9-1906-4a09-ab96-cea8199810ca",
   "name": "route gateA_modify?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    1568,
    288
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $('Parse DB06').first().json.route }}",
       "rightValue": "gateA_modify",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ]
    }
   }
  },
  {
   "id": "530649b0-97f0-4d88-b5a4-e7e3908f2a27",
   "name": "PATCH 執行構想",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1792,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const j = $('Parse DB06').first().json;\nconst NH = {\n  'Authorization': 'Bearer ' + $env.NOTION_INTEGRATION_TOKEN,\n  'Notion-Version': '2022-06-28',\n  'Content-Type': 'application/json'\n};\nconst now = new Date(Date.now() + 8*3600*1000).toISOString().slice(0,16).replace('T',' ');\nconst userFeedback = (j.reply_text || '').toString().trim();\n\n// 1. PATCH DB06 執行構想 (overwrite with user feedback)\nawait this.helpers.httpRequest({\n  method: 'PATCH',\n  url: 'https://api.notion.com/v1/pages/' + j.db06_id,\n  headers: NH,\n  body: { properties: { '執行構想': { rich_text: [{ text: { content: userFeedback.slice(0, 1990) } }] } } },\n  json: true\n});\n\n// 2. PATCH target page 執行構想 (prepend with timestamp, keep old content)\nif (j.db05_id) {\n  let oldIdea = '';\n  try {\n    const tp = await this.helpers.httpRequest({ method: 'GET', url: 'https://api.notion.com/v1/pages/' + j.db05_id, headers: NH, json: true });\n    oldIdea = ((tp.properties['執行構想'] && tp.properties['執行構想'].rich_text) || []).map(t => t.plain_text).join('');\n  } catch(e) {}\n  const stamp = '── ' + now + ' 回饋 ──\\n' + userFeedback;\n  const newIdea = (stamp + (oldIdea ? '\\n\\n' + oldIdea : '')).slice(0, 1990);\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: 'https://api.notion.com/v1/pages/' + j.db05_id,\n    headers: NH,\n    body: { properties: { '執行構想': { rich_text: [{ text: { content: newIdea } }] } } },\n    json: true\n  });\n}\n\nreturn [{ json: j }];"
   }
  },
  {
   "id": "316e4528-8291-4d9d-b465-5a63e5ab475e",
   "name": "Read flow_state A",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    2016,
    0
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "6f320ada-54ff-4e41-a50e-a4a525b8dce2",
   "name": "Build 關卡A modify",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2240,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const row = $input.first().json || {};\nconst j = $('Parse DB06').first().json;\nconst reply_to = parseInt(row.last_msg_id || 0) || 0;\nconst sanitize = s => (s || '').toString()\n  .replace(/[/\\\\:<>#@[\\]{}|^`*_~\"']/g, ' ')\n  .replace(/[\\u2010-\\u2027\\u2030-\\u205E]/g, ' ')\n  .replace(/[\\uFF00-\\uFF0F\\uFF1A-\\uFF20\\uFF3B-\\uFF40\\uFF5B-\\uFF65]/g, ' ')\n  .replace(/[\\u3000-\\u3017\\u301D-\\u303F]/g, ' ')\n  .replace(/\\s+/g, ' ').trim().slice(0, 1500);\nconst msg = '關卡A 執行前確認 (已更新執行構想)\\n' +\n  '第 ' + (j.sort_num != null ? j.sort_num : '?') + ' 棒 (' + sanitize(j.ai_mode) + ')\\n' +\n  'DB06 頁面 ' + j.db06_id + '\\n\\n' +\n  '更新後執行構想:\\n' + sanitize(j.reply_text) + '\\n\\n' +\n  '按 OK 放行這一關,按 OK ALL 之後全自動。要再改請打字 reply。\\n' +\n  'gateA db06=' + j.db06_id;\nreturn [{ json: { chat_id: j.chat_id, flow_id: j.db05_id, reply_to, tg_message: msg, cb_ok: 'A1:' + j.db06_id, cb_all: 'AA:' + j.db06_id } }];"
   }
  },
  {
   "id": "ee081cb6-edae-4079-b85f-20ed804b133d",
   "name": "TG 關卡A modify",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2464,
    0
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: $json.chat_id, text: $json.tg_message, disable_web_page_preview: true, allow_sending_without_reply: true, reply_markup: { inline_keyboard: [[ { text: '✅ OK', callback_data: $json.cb_ok }, { text: '⏩ OK ALL', callback_data: $json.cb_all } ]] } }, ($json.reply_to > 0 ? { reply_to_message_id: $json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "71f18fbe-5efb-48a3-b710-d1f4c469fc98",
   "name": "Save msgid A modify",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2688,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build 關卡A modify').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "a226e3dc-0a33-48dc-bfd3-92380e8bce7a",
   "name": "Update flow_state A modify",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    2912,
    0
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "e631e5c5-dce1-4d13-9402-19e4aa4ad618",
   "name": "route gateB_go?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    1792,
    384
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $('Parse DB06').first().json.route }}",
       "rightValue": "gateB_go",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ]
    }
   }
  },
  {
   "id": "46aa5984-a09e-4ad7-a529-17d8ff0bd90f",
   "name": "PATCH DB06 完成",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    2016,
    192
   ],
   "parameters": {
    "method": "PATCH",
    "url": "={{ 'https://api.notion.com/v1/pages/' + $('Parse DB06').first().json.db06_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "{ \"properties\": { \"ai狀態\": { \"status\": { \"name\": \"完成\" } } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "23d9b8ad-4bee-4c1b-b061-b255c950a65a",
   "name": "Query DB06 next",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    2240,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n        { \"property\": \"對應提案\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n        { \"property\": \"對應管考\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n        { \"property\": \"對應項目\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n        { \"property\": \"對應協作\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n        { \"property\": \"對應內容\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n        { \"property\": \"對應庫存\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n        { \"property\": \"對應對象\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n        { \"property\": \"對應標籤\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n        { \"property\": \"對應地點\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } },\n        { \"property\": \"對應提供對象\", \"relation\": { \"contains\": \"{{ $('Parse DB06').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"明細類型\", \"select\": { \"equals\": \"細部流程\" } }\n    ]\n  },\n  \"sorts\": [{ \"property\": \"排序\", \"direction\": \"ascending\" }]\n}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "cfceff57-7c5b-4574-9ee0-972837c18e2d",
   "name": "Read flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    2464,
    192
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "0796bc7a-4aa0-47bc-b1f3-a491052e4a3e",
   "name": "Pick next pending",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2688,
    192
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const row = $input.first().json || {};\nconst auto_mode = row.auto_mode === true;\nconst reply_to = parseInt(row.last_msg_id || 0) || 0;\nconst results = $('Query DB06 next').first().json.results || [];\nconst chat_id = $('Parse DB06').first().json.chat_id;\nconst db05_id = $('Parse DB06').first().json.db05_id;\nconst sanitize = s => (s || '').toString()\n  .replace(/[/\\\\:<>#@[\\]{}|^`*_~\"']/g, ' ')\n  .replace(/[\\u2010-\\u2027\\u2030-\\u205E]/g, ' ')\n  .replace(/[\\uFF00-\\uFF0F\\uFF1A-\\uFF20\\uFF3B-\\uFF40\\uFF5B-\\uFF65]/g, ' ')\n  .replace(/[\\u3000-\\u3017\\u301D-\\u303F]/g, ' ')\n  .replace(/\\s+/g, ' ').trim().slice(0, 1500);\nconst total = results.length;\nconst done = results.filter(p => (p.properties['ai狀態']?.status?.name||'') === '完成').length;\nconst pending = results.filter(p => (p.properties['ai狀態']?.status?.name||'') !== '完成');\nif (pending.length === 0) {\n  return [{ json: { has_next: false, auto_mode, reply_to, flow_id: db05_id, db06_id: '', chat_id, tg_message: '全套完成 共 ' + total + ' 棒已全部通過。', cb_ok: 'noop', cb_all: 'noop', runner_url: '' } }];\n}\nconst p = pending[0];\nconst db06_id = p.id.replace(/-/g, '');\nconst raw_mode = p.properties['ai模式']?.select?.name || '';\nconst ai_mode = sanitize(raw_mode);\nlet runner_url;\nif (raw_mode.includes('聯想')) runner_url = 'https://makesense.zeabur.app/webhook/db06-lianxiang-traversal';\nelse if (raw_mode.includes('搜查')) runner_url = 'https://makesense.zeabur.app/webhook/db06-search';\nelse if (raw_mode.includes('分析')) runner_url = 'https://makesense.zeabur.app/webhook/db06-analyze';\nelse if (raw_mode.includes('文案')) runner_url = 'https://makesense.zeabur.app/webhook/db06-copy';\nelse if (raw_mode.includes('檢核')) runner_url = 'https://makesense.zeabur.app/webhook/db06-check';\nelse runner_url = 'https://makesense.zeabur.app/webhook/db06-plan';\nconst sort_num = p.properties['排序']?.number;\nconst exec_idea = p.properties['執行構想']?.rich_text?.map(t=>t.plain_text).join('') || '';\nconst idea_show = exec_idea ? sanitize(exec_idea) : '(執行構想為空,將用該棒預設工作指示)';\nconst base = '關卡A 執行前確認\\n' +\n  '第 ' + (sort_num != null ? sort_num : '?') + ' 棒 (' + ai_mode + ')。全套 ' + total + ' 棒,已完成 ' + done + ' 棒。\\n' +\n  'DB06 頁面 ' + db06_id + '\\n\\n' +\n  '本棒預定執行構想:\\n' + idea_show;\nconst manual_msg = base + '\\n\\n按 OK 放行這一關,按 OK ALL 之後全自動。要改執行構想 skip stop 請打字 reply。\\ngateA db06=' + db06_id;\nconst auto_msg = base + '\\n\\n[全自動模式] 自動執行本棒,免按。';\nreturn [{ json: { has_next: true, auto_mode, reply_to, flow_id: db05_id, db06_id, chat_id, runner_url, tg_message: auto_mode ? auto_msg : manual_msg, cb_ok: 'A1:' + db06_id, cb_all: 'AA:' + db06_id } }];"
   }
  },
  {
   "id": "b5a57e68-4fd2-4a75-add6-8157f7ebcf70",
   "name": "auto_mode B?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    2912,
    192
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.auto_mode }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "ed00748d-64e9-46b3-90bd-f08e6a85c1b1",
   "name": "TG 下一棒 auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    3136,
    96
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: $json.chat_id, text: $json.tg_message, disable_web_page_preview: true, allow_sending_without_reply: true }, ($json.reply_to > 0 ? { reply_to_message_id: $json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "efca2af9-c137-45fc-9b64-76df01270bf5",
   "name": "Save msgid next auto",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3360,
    96
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nconst g = $('Pick next pending').first().json;\nreturn [{ json: { flow_id: g.flow_id, last_msg_id: mid, has_next: g.has_next, runner_url: g.runner_url, db06_id: g.db06_id } }];"
   }
  },
  {
   "id": "bcdc365f-ef57-4b9e-b5aa-49769dbb9499",
   "name": "Update flow_state next auto",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    3584,
    96
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "4c0fc22c-9046-474a-b55f-dbd2b9db3dd1",
   "name": "has next auto?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    3808,
    96
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.has_next }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "75c38025-98fc-4d83-bdcc-78c6bd2ace6a",
   "name": "Run next baton auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    4032,
    0
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ $json.runner_url }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"db06_id\": \"{{ $json.db06_id }}\" }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "7c4d30eb-580d-4d7f-8a7f-d10cca950af8",
   "name": "Auto all done",
   "type": "n8n-nodes-base.noOp",
   "typeVersion": 1,
   "position": [
    4032,
    192
   ],
   "parameters": {}
  },
  {
   "id": "ade39933-b632-4f29-a13a-8c971a99ed25",
   "name": "TG 下一棒關卡A",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    3136,
    288
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: $json.chat_id, text: $json.tg_message, disable_web_page_preview: true, allow_sending_without_reply: true, reply_markup: { inline_keyboard: [[ { text: '✅ OK', callback_data: $json.cb_ok }, { text: '⏩ OK ALL', callback_data: $json.cb_all } ]] } }, ($json.reply_to > 0 ? { reply_to_message_id: $json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "1a05e981-bbee-42f5-a770-f582bda3f449",
   "name": "Save msgid next manual",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    3360,
    288
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Pick next pending').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "3ae4f5a9-bcd1-4066-aff8-c00267e45133",
   "name": "Update flow_state next manual",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    3584,
    288
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "0f995814-4bdc-48a4-919b-ed6e370052c2",
   "name": "route gateB_redo?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    2016,
    480
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $('Parse DB06').first().json.route }}",
       "rightValue": "gateB_redo",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ]
    }
   }
  },
  {
   "id": "d387c7ea-492d-4eeb-bf0c-3f079508aad0",
   "name": "Run baton (gateB redo)",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    2240,
    384
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ $('Parse DB06').first().json.runner_url }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"db06_id\": \"{{ $('Parse DB06').first().json.db06_id }}\" }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "f1cd659b-c5af-4690-9a59-acf2fd67ae93",
   "name": "TG hint",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2240,
    576
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify({ chat_id: $('Parse DB06').first().json.chat_id, text: '已收到。若要繼續請按訊息上的 OK / OK ALL;要改執行構想 skip stop redo 請打字 reply 該則訊息。', disable_web_page_preview: true }) }}",
    "options": {}
   }
  },
  {
   "id": "878d7437-5e60-42f1-820c-6e98ee912aa3",
   "name": "Ignore",
   "type": "n8n-nodes-base.noOp",
   "typeVersion": 1,
   "position": [
    672,
    384
   ],
   "parameters": {}
  }
 ],
 "connections": {
  "TG Trigger": {
   "main": [
    [
     {
      "node": "Parse Reply",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse Reply": {
   "main": [
    [
     {
      "node": "Valid reply?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Valid reply?": {
   "main": [
    [
     {
      "node": "Fetch DB06",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Ignore",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch DB06": {
   "main": [
    [
     {
      "node": "Parse DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse DB06": {
   "main": [
    [
     {
      "node": "Set auto_mode",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Set auto_mode": {
   "main": [
    [
     {
      "node": "route gateA_go?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "route gateA_go?": {
   "main": [
    [
     {
      "node": "Run baton (gateA go)",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "route gateA_modify?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "route gateA_modify?": {
   "main": [
    [
     {
      "node": "PATCH 執行構想",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "route gateB_go?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH 執行構想": {
   "main": [
    [
     {
      "node": "Read flow_state A",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state A": {
   "main": [
    [
     {
      "node": "Build 關卡A modify",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build 關卡A modify": {
   "main": [
    [
     {
      "node": "TG 關卡A modify",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG 關卡A modify": {
   "main": [
    [
     {
      "node": "Save msgid A modify",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid A modify": {
   "main": [
    [
     {
      "node": "Update flow_state A modify",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "route gateB_go?": {
   "main": [
    [
     {
      "node": "PATCH DB06 完成",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "route gateB_redo?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 完成": {
   "main": [
    [
     {
      "node": "Query DB06 next",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query DB06 next": {
   "main": [
    [
     {
      "node": "Read flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state B": {
   "main": [
    [
     {
      "node": "Pick next pending",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Pick next pending": {
   "main": [
    [
     {
      "node": "auto_mode B?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "auto_mode B?": {
   "main": [
    [
     {
      "node": "TG 下一棒 auto",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "TG 下一棒關卡A",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG 下一棒 auto": {
   "main": [
    [
     {
      "node": "Save msgid next auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid next auto": {
   "main": [
    [
     {
      "node": "Update flow_state next auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Update flow_state next auto": {
   "main": [
    [
     {
      "node": "has next auto?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "has next auto?": {
   "main": [
    [
     {
      "node": "Run next baton auto",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Auto all done",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG 下一棒關卡A": {
   "main": [
    [
     {
      "node": "Save msgid next manual",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid next manual": {
   "main": [
    [
     {
      "node": "Update flow_state next manual",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "route gateB_redo?": {
   "main": [
    [
     {
      "node": "Run baton (gateB redo)",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "TG hint",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "availableInMCP": true
 }
}
