n8n-rebuild/search_v5.json
{
 "name": "嗨嗨 搜查棒 v6 (Tavily, 寫 target 明細引用)",
 "nodes": [
  {
   "id": "1c694c5d-3623-49b9-ac07-69074f1b4dd7",
   "name": "Search Webhook",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2.1,
   "position": [
    0,
    384
   ],
   "parameters": {
    "httpMethod": "POST",
    "path": "db06-search",
    "responseMode": "onReceived"
   },
   "webhookId": "de0a34f6-9f3e-49e0-bc6d-c9ab9942434c"
  },
  {
   "id": "6990fcdb-f0ad-4c01-ad42-42c9fbed57b0",
   "name": "Extract DB06 ID",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    224,
    384
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst db06_id = (body.db06_id || body.id || '').toString().replace(/-/g, '');\nif (!db06_id) throw new Error('missing db06_id');\nreturn [{ json: { db06_id } }];"
   }
  },
  {
   "id": "925ab535-e937-4312-a228-de9c4efd8c02",
   "name": "Fetch DB06",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    448,
    384
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $json.db06_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "e2450818-d868-49cf-95a9-53c6dba5073d",
   "name": "Parse DB06",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    672,
    384
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const p = $input.first().json;\nreturn [{ json: {\n  db06_id: p.id.replace(/-/g, ''),\n  ai_mode: p.properties['ai模式']?.select?.name || '',\n  execute_idea_db06: p.properties['執行構想']?.rich_text?.map(t=>t.plain_text).join('') || '',\n  db05_id: (function(){ var T=[\"對應提案\", \"對應管考\", \"對應項目\", \"對應協作\", \"對應內容\", \"對應庫存\", \"對應對象\", \"對應標籤\", \"對應地點\", \"對應提供對象\"]; for(var i=0;i<T.length;i++){var a=p.properties[T[i]]?.relation||[]; if(a.length) return (a[0].id||'').replace(/-/g,'');} return ''; })(),\n  target_rel: (function(){ var T=[\"對應提案\", \"對應管考\", \"對應項目\", \"對應協作\", \"對應內容\", \"對應庫存\", \"對應對象\", \"對應標籤\", \"對應地點\", \"對應提供對象\"]; for(var i=0;i<T.length;i++){var a=p.properties[T[i]]?.relation||[]; if(a.length) return T[i];} return ''; })(),\n  mingxi_name: p.properties['明細名稱']?.title?.map(t=>t.plain_text).join('') || '',\n  sort_num: p.properties['排序']?.number\n}}];"
   }
  },
  {
   "id": "b93ce939-53e9-4556-8809-fd207372f26f",
   "name": "Fetch target DB05",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    896,
    288
   ],
   "parameters": {
    "method": "GET",
    "url": "=https://api.notion.com/v1/pages/{{ $json.db05_id }}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "ac079c45-6a92-4125-b8bd-37cc7c9e4f44",
   "name": "Build search prompt",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1120,
    288
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const item = $('Parse DB06').first().json;\nconst target = $input.first().json;\nconst tprops = target.properties || {};\nconst _tp = Object.values(tprops).find(v => v && v.type === 'title');\nconst target_name = (_tp?.title || []).map(t=>t.plain_text).join('') || '';\nconst target_idea = tprops['執行構想']?.rich_text?.map(t=>t.plain_text).join('') || '';\nconst target_theme = tprops['主題名稱']?.rich_text?.map(t=>t.plain_text).join('') || '';\nconst target_summary = tprops['簡介摘要']?.rich_text?.map(t=>t.plain_text).join('') || '';\nconst REL2XREF = {'對應提案':'提案引用','對應管考':'管考引用','對應項目':'項目引用','對應協作':'協作引用','對應內容':'內容引用','對應庫存':'庫存引用','對應對象':'對象引用','對應標籤':'對象引用','對應地點':'對象引用','對應提供對象':'對象引用'};\nconst xref_field = REL2XREF[item.target_rel] || '內容引用';\nconst idea = item.execute_idea_db06 || target_idea;\nconst parts = [target_name, target_theme, idea].map(s=>(s||'').trim()).filter(s=>s && s!=='(空)');\nconst query = ([...new Set(parts.join(' ').split(/\\s+/))].join(' ')).slice(0,380) || target_name || '宜蘭 地方文化';\nreturn [{ json: { query, db06_id:item.db06_id, db05_id:item.db05_id, ai_mode:item.ai_mode, sort_num:item.sort_num, mingxi_name:item.mingxi_name, target_rel:item.target_rel, xref_field, target_name } }];"
   }
  },
  {
   "id": "71660bca-f36f-45eb-ac24-32be30d1cd66",
   "name": "Claude API web search",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    1344,
    288
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.tavily.com/search",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + ($env.TAVILY_API_KEY || \"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\") }}"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"query\": {{ JSON.stringify($json.query) }},\n  \"search_depth\": \"advanced\",\n  \"topic\": \"general\",\n  \"max_results\": 20,\n  \"include_answer\": false,\n  \"include_raw_content\": false\n}",
    "options": {
     "timeout": 120000
    }
   }
  },
  {
   "id": "cebfa382-5b52-4ab0-aa52-d93191538146",
   "name": "Parse Claude",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1568,
    288
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const resp = $input.first().json;\nconst prompt = $('Build search prompt').first().json;\nlet results = Array.isArray(resp.results) ? resp.results.slice(0,20) : [];\nconst seen = new Set();\nresults = results.filter(r => { const u=(r.url||'').toString().trim(); if(!u||seen.has(u))return false; seen.add(u); return true; });\nconst count = results.length;\nconst dist = {};\nfor (const r of results) { let h='其他'; try{ h=new URL(r.url).hostname.replace(/^www\\./,''); }catch(e){} dist[h]=(dist[h]||0)+1; }\nconst dist_line = Object.entries(dist).map(([k,v])=>k+'×'+v).join('、') || '—';\nreturn [{ json: {\n  db06_id:prompt.db06_id, db05_id:prompt.db05_id, ai_mode:prompt.ai_mode, sort_num:prompt.sort_num,\n  target_name: prompt.target_name||prompt.mingxi_name||'(未命名)', query:prompt.query,\n  count, dist_line, has_results: count>0,\n  results: results.map(r=>({ title:(r.title||'參考資料').toString().slice(0,200), url:(r.url||'').toString().slice(0,1800), content:(r.content||'').toString().slice(0,1900) }))\n} }];"
   }
  },
  {
   "id": "dbf9e268-0fab-4b8c-8e7c-83a6b7374660",
   "name": "PATCH DB06 執行備註",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    2688,
    192
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Parse Claude').first().json.db06_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"執行備註\": { \"rich_text\": [{ \"text\": { \"content\": {{ JSON.stringify($('建資料參考').first().json.search_summary) }} } }] } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "96c42362-adc5-4435-98dc-b08f2064e415",
   "name": "Read flow_state 處理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    0,
    0
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse DB06').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   }
  },
  {
   "id": "81cc1298-ccd6-457b-86c3-965d5ed216fc",
   "name": "Telegram 處理中",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    0,
    0
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: '⏳ 第 ' + ($('Parse DB06').first().json.sort_num != null ? $('Parse DB06').first().json.sort_num : '?') + ' 棒 (搜查) 開始處理。\\n正在 web search 採集外部資料,預計 1-2 分鐘。完成會自動發關卡B,免守畫面。', disable_web_page_preview: true, allow_sending_without_reply: true }, ((parseInt($json.last_msg_id || 0) || 0) > 0 ? { reply_to_message_id: parseInt($json.last_msg_id || 0) || 0 } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "4e522ce4-6e83-426e-aad1-428e5b0be189",
   "name": "Save msgid 處理中",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    0,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Parse DB06').first().json.db05_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "ba7fc91a-afd8-4546-82ed-860e1575be91",
   "name": "Update flow_state 處理中",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    0,
    0
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "c8639976-0eb2-429e-a39c-d9e9ce7bc169",
   "name": "Read flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    0,
    0
   ],
   "parameters": {
    "resource": "row",
    "operation": "get",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $('Parse Claude').first().json.db05_id }}"
      }
     ]
    },
    "returnAll": false,
    "limit": 1
   },
   "executeOnce": true
  },
  {
   "id": "188e0812-edab-465f-9dfe-11c231ee86fb",
   "name": "Build gateB",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    0,
    0
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const row = $input.first().json || {};\nconst pc = $('建資料參考').first().json;\nconst auto_mode = row.auto_mode === true;\nconst reply_to = parseInt(row.last_msg_id || 0) || 0;\nconst base = '關卡B 成果確認\\n第 ' + (pc.sort_num != null ? pc.sort_num : '?') + ' 棒 (' + pc.ai_mode + ') 已完成。\\nDB06 頁面 ' + pc.db06_id + '\\n\\n執行備註:\\n' + (pc.safe_summary + '\\n\\n採集 ' + pc.count + ' 筆參考資料,已建 ' + pc.count + ' 個 DB06 資料參考 page。\\ntokens ' + pc.usage_line);\nconst manual_msg = base + '\\n\\n按 OK 進下一棒,按 OK ALL 之後全自動。要 redo 重跑請打字 reply。\\ngateB db06=' + pc.db06_id;\nconst auto_msg = base + '\\n\\n[全自動模式] 自動進下一棒,免按。';\nreturn [{ json: { auto_mode, reply_to, flow_id: pc.db05_id, db05_id: pc.db05_id, db06_id: pc.db06_id, sort_num: pc.sort_num, ai_mode: pc.ai_mode, manual_msg, auto_msg, cb_ok: 'B1:' + pc.db06_id, cb_all: 'BA:' + pc.db06_id } }];"
   }
  },
  {
   "id": "31f8b7dc-c66e-447c-b671-3fa50b4c1613",
   "name": "auto_mode?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    5376,
    192
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.auto_mode }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "71df9fa3-83c8-4c1c-9bea-f7fc3e85e8f4",
   "name": "Telegram 關卡B auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    5600,
    96
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Build gateB').first().json.auto_msg, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "eca773da-63cc-4178-a707-46252db6293e",
   "name": "Save msgid B auto",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    5824,
    96
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build gateB').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "55b99042-7403-4640-9f7d-4a46dc18c6a0",
   "name": "Update flow_state B auto",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    6048,
    96
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "ebafaa1b-c810-4c8b-a0d0-5648d142c62a",
   "name": "PATCH DB06 完成 auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    6272,
    96
   ],
   "parameters": {
    "method": "PATCH",
    "url": "=https://api.notion.com/v1/pages/{{ $('Build gateB').first().json.db06_id }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"properties\": { \"ai狀態\": { \"status\": { \"name\": \"完成\" } } } }",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "20c0699b-db75-460e-8728-b0a6032a3a0b",
   "name": "Query DB06 next auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    6496,
    96
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.notion.com/v1/databases/3469ff25fdab83c98ff98107ee6a6a1c/query",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      { \"or\": [\n        { \"property\": \"對應提案\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應管考\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應項目\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應協作\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應內容\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應庫存\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應標籤\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應地點\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } },\n        { \"property\": \"對應提供對象\", \"relation\": { \"contains\": \"{{ $('Build gateB').first().json.db05_id }}\" } }\n      ]},\n      { \"property\": \"明細類型\", \"select\": { \"equals\": \"細部流程\" } }\n    ]\n  },\n  \"sorts\": [{ \"property\": \"排序\", \"direction\": \"ascending\" }]\n}",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "={{ \"Bearer \" + $env.NOTION_INTEGRATION_TOKEN }}"
      },
      {
       "name": "Notion-Version",
       "value": "2022-06-28"
      }
     ]
    }
   }
  },
  {
   "id": "ac80a873-7491-49fe-a9fd-84348e305bbf",
   "name": "Pick next auto",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    6720,
    96
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const results = $input.first().json.results || [];\nconst g = $('Build gateB').first().json;\nconst pending = results.filter(p => (p.properties['ai狀態']?.status?.name||'') !== '完成');\nconst total = results.length;\nif (pending.length === 0) {\n  return [{ json: { has_next: false, tg_message: '全套完成 共 ' + total + ' 棒已全部通過 (全自動模式)。' } }];\n}\nconst p = pending[0];\nconst db06_id = p.id.replace(/-/g, '');\nconst ai_mode = p.properties['ai模式']?.select?.name || '';\nlet runner_url;\nconst _b = 'https://makesense.zeabur.app/webhook/';\nif (ai_mode.includes('聯想')) runner_url = _b + 'db06-lianxiang-traversal';\nelse if (ai_mode.includes('搜查')) runner_url = _b + 'db06-search';\nelse if (ai_mode.includes('分析')) runner_url = _b + 'db06-analyze';\nelse if (ai_mode.includes('文案')) runner_url = _b + 'db06-copy';\nelse if (ai_mode.includes('檢核')) runner_url = _b + 'db06-check';\nelse runner_url = _b + 'db06-plan';\nreturn [{ json: { has_next: true, db06_id, runner_url, tg_message: '' } }];"
   }
  },
  {
   "id": "481ca2eb-50e3-4920-99b5-b439fd742733",
   "name": "has next auto?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    6944,
    96
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "combinator": "and",
     "conditions": [
      {
       "id": "1",
       "leftValue": "={{ $json.has_next }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    }
   }
  },
  {
   "id": "2274e6fb-c8f0-41ea-8f24-e868c9a26809",
   "name": "Run next baton auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.3,
   "position": [
    7168,
    0
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ $json.runner_url }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"db06_id\": \"{{ $json.db06_id }}\" }",
    "options": {
     "response": {
      "response": {
       "neverError": true
      }
     }
    }
   }
  },
  {
   "id": "8f37b61a-0988-4913-91b0-70beda04d8a0",
   "name": "Telegram 全套完成 auto",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    7168,
    192
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $json.tg_message, disable_web_page_preview: true, allow_sending_without_reply: true }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "c4904fa3-c5f7-43dd-bda6-a7012cbf68bc",
   "name": "Telegram 關卡B",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    5600,
    288
   ],
   "parameters": {
    "method": "POST",
    "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: 8523155253, text: $('Build gateB').first().json.manual_msg, disable_web_page_preview: true, allow_sending_without_reply: true, reply_markup: { inline_keyboard: [[ { text: '✅ OK', callback_data: $('Build gateB').first().json.cb_ok }, { text: '⏩ OK ALL', callback_data: $('Build gateB').first().json.cb_all } ]] } }, ($('Build gateB').first().json.reply_to > 0 ? { reply_to_message_id: $('Build gateB').first().json.reply_to } : {}))) }}",
    "options": {}
   }
  },
  {
   "id": "ff46512e-d855-40d9-a043-dfabeedd1c23",
   "name": "Save msgid B",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    5824,
    288
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const mid = ($input.first().json.result?.message_id || '').toString();\nreturn [{ json: { flow_id: $('Build gateB').first().json.flow_id, last_msg_id: mid } }];"
   }
  },
  {
   "id": "c61d2a60-fd7e-45c2-b944-9a7b4fb813af",
   "name": "Update flow_state B",
   "type": "n8n-nodes-base.dataTable",
   "typeVersion": 1.1,
   "position": [
    6048,
    288
   ],
   "parameters": {
    "resource": "row",
    "operation": "update",
    "dataTableId": {
     "__rl": true,
     "mode": "id",
     "value": "33eRHCPvnKB1df7g"
    },
    "matchType": "allConditions",
    "filters": {
     "conditions": [
      {
       "keyName": "flow_id",
       "condition": "eq",
       "keyValue": "={{ $json.flow_id }}"
      }
     ]
    },
    "columns": {
     "mappingMode": "defineBelow",
     "value": {
      "last_msg_id": "={{ $json.last_msg_id }}"
     }
    }
   }
  },
  {
   "id": "12e45e09-77c7-4101-8cec-72365f3ceb1b",
   "name": "建資料參考",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1340,
    280
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "language": "javaScript",
    "jsCode": "const pc = $('Parse Claude').first().json;\nconst results = pc.results || [];\nconst NHEAD = {'Authorization':'Bearer '+$env.NOTION_INTEGRATION_TOKEN,'Notion-Version':'2022-06-28','Content-Type':'application/json'};\nconst norm = id => (id||'').replace(/-/g,'');\nconst DB06_DB = '3469ff25fdab83c98ff98107ee6a6a1c';\nconst target_id = norm(pc.db05_id);\nlet created=0, linked=0; const refIds=[]; const log=[];\nfor (const r of results) {\n  const url=(r.url||'').toString();\n  let pageId='';\n  try {\n    const q=await this.helpers.httpRequest({method:'POST',url:'https://api.notion.com/v1/databases/'+DB06_DB+'/query',headers:NHEAD,body:JSON.stringify({filter:{property:'對應連結',url:{equals:url}},page_size:1})});\n    const qq=(typeof q==='string')?JSON.parse(q):q;\n    if(qq.results&&qq.results.length){ pageId=norm(qq.results[0].id); linked++; }\n  } catch(e){}\n  if(!pageId){\n    try {\n      const body={parent:{database_id:DB06_DB},properties:{\n        '明細名稱':{title:[{text:{content:(r.title||'參考資料').slice(0,200)}}]},\n        '明細類型':{select:{name:'資料參考'}},\n        '參考類別':{select:{name:'企劃參考'}},\n        '對應連結':{url:url||null}\n      },children:[\n        {object:'block',type:'paragraph',paragraph:{rich_text:[{text:{content:(r.content||'(無摘要)').slice(0,1900)}}]}},\n        {object:'block',type:'paragraph',paragraph:{rich_text:[{text:{content:'來源：'+url}}]}}\n      ]};\n      const cp=await this.helpers.httpRequest({method:'POST',url:'https://api.notion.com/v1/pages',headers:NHEAD,body:JSON.stringify(body)});\n      const cpr=(typeof cp==='string')?JSON.parse(cp):cp;\n      if(cpr.id){ pageId=norm(cpr.id); created++; }\n    } catch(e){ log.push('建頁失敗 '+(r.title||'').slice(0,16)); }\n  }\n  if(pageId) refIds.push(pageId);\n}\nlet newLinks=0;\ntry {\n  const tp=await this.helpers.httpRequest({method:'GET',url:'https://api.notion.com/v1/pages/'+target_id,headers:NHEAD});\n  const tpr=(typeof tp==='string')?JSON.parse(tp):tp;\n  const existing=(((tpr.properties||{})['明細引用']||{}).relation||[]).map(x=>norm(x.id));\n  const merged=[...new Set(existing.concat(refIds))];\n  newLinks=merged.length-existing.length;\n  await this.helpers.httpRequest({method:'PATCH',url:'https://api.notion.com/v1/pages/'+target_id,headers:NHEAD,body:JSON.stringify({properties:{'明細引用':{relation:merged.map(id=>({id}))}}})});\n} catch(e){ log.push('連 target 明細引用失敗: '+(e&&e.message||e)); }\nconst d=new Date(); const tw=new Date(d.getTime()+8*3600*1000);\nconst ts=tw.getUTCFullYear()+'-'+String(tw.getUTCMonth()+1).padStart(2,'0')+'-'+String(tw.getUTCDate()).padStart(2,'0')+' '+String(tw.getUTCHours()).padStart(2,'0')+':'+String(tw.getUTCMinutes()).padStart(2,'0');\nconst search_summary='── '+ts+' 搜查 ──\\n工作對象：'+pc.target_name+'\\n做了什麼：Tavily 搜尋「'+(pc.query||'').slice(0,40)+'」採集 '+results.length+' 筆,新建資料參考 '+created+' 筆、查重沿用 '+linked+' 筆,共 '+refIds.length+' 筆寫入 target「明細引用」(本次新增連結 '+newLinks+')\\n來源分佈：'+pc.dist_line+'\\n未做：'+(log.length?log.slice(0,5).join('；'):'—');\nconst sanitize=s=>(s||'').toString().replace(/[\\/\\\\:<>#@\\[\\]\\{\\}\\|\\^\\`\\*_~\"']/g,' ').replace(/\\s+/g,' ').trim().slice(0,500);\nreturn [{json:{db06_id:pc.db06_id,db05_id:pc.db05_id,ai_mode:pc.ai_mode,sort_num:pc.sort_num,count:results.length,created,linked,ref_count:refIds.length,search_summary,safe_summary:sanitize(search_summary),usage_line:'Tavily 採集 '+results.length+' 筆,新建 '+created,dist_line:pc.dist_line,has_results:results.length>0}}];"
   }
  }
 ],
 "connections": {
  "Search Webhook": {
   "main": [
    [
     {
      "node": "Extract DB06 ID",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Extract DB06 ID": {
   "main": [
    [
     {
      "node": "Fetch DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch DB06": {
   "main": [
    [
     {
      "node": "Parse DB06",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse DB06": {
   "main": [
    [
     {
      "node": "Read flow_state 處理中",
      "type": "main",
      "index": 0
     },
     {
      "node": "Fetch target DB05",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Fetch target DB05": {
   "main": [
    [
     {
      "node": "Build search prompt",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build search prompt": {
   "main": [
    [
     {
      "node": "Claude API web search",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Claude API web search": {
   "main": [
    [
     {
      "node": "Parse Claude",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Parse Claude": {
   "main": [
    [
     {
      "node": "建資料參考",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 執行備註": {
   "main": [
    [
     {
      "node": "Read flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state 處理中": {
   "main": [
    [
     {
      "node": "Telegram 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 處理中": {
   "main": [
    [
     {
      "node": "Save msgid 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid 處理中": {
   "main": [
    [
     {
      "node": "Update flow_state 處理中",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Read flow_state B": {
   "main": [
    [
     {
      "node": "Build gateB",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build gateB": {
   "main": [
    [
     {
      "node": "auto_mode?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "auto_mode?": {
   "main": [
    [
     {
      "node": "Telegram 關卡B auto",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 關卡B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 關卡B auto": {
   "main": [
    [
     {
      "node": "Save msgid B auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid B auto": {
   "main": [
    [
     {
      "node": "Update flow_state B auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Update flow_state B auto": {
   "main": [
    [
     {
      "node": "PATCH DB06 完成 auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "PATCH DB06 完成 auto": {
   "main": [
    [
     {
      "node": "Query DB06 next auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Query DB06 next auto": {
   "main": [
    [
     {
      "node": "Pick next auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Pick next auto": {
   "main": [
    [
     {
      "node": "has next auto?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "has next auto?": {
   "main": [
    [
     {
      "node": "Run next baton auto",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Telegram 全套完成 auto",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram 關卡B": {
   "main": [
    [
     {
      "node": "Save msgid B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Save msgid B": {
   "main": [
    [
     {
      "node": "Update flow_state B",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "建資料參考": {
   "main": [
    [
     {
      "node": "PATCH DB06 執行備註",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "availableInMCP": true
 }
}